@using Ada.Core.Tools
@model Ada.Core.Domain.Resource.Media
@{
    var update = Model.LastPushDate?.ToString("yyyy-MM-dd");
    var pushdate = Model.MediaArticles.OrderByDescending(a => a.PublishDate).FirstOrDefault()?.PublishDate?.ToString("yyyy-MM-dd");
    var start = DateTime.Now.Date.AddDays(-7);
    var end = DateTime.Now.AddDays(1).Date;

    var articles = Model.MediaArticles.Where(d => d.PublishDate >= start && d.PublishDate < end).Select(d => new
    {
        Date = d.PublishDate.Value.ToString("MM-dd"),
        Read = d.ViewCount,
        Like = d.LikeCount,
        Comment=d.CommentCount
    }).GroupBy(d => d.Date).Select(d => new
    {
        Date = d.Key,
        AveRead = Convert.ToInt32(d.Average(l => l.Read)),
        AvgLike = Convert.ToInt32(d.Average(l => l.Like)),
        AvgComment = Convert.ToInt32(d.Average(l => l.Comment))
    }).OrderBy(d => d.Date).ToList();
    var maxRead = articles.Count>0? articles.Max(d => d.AveRead):0;
    var maxComment = articles.Count > 0 ? articles.Max(d => d.AvgComment):0;
}

<div class="row">

    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>近50个视频平均浏览数</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@Convert.ToInt32(Model.MediaArticles.OrderByDescending(a => a.PublishDate).Take(50).Average(aaa => aaa.ViewCount))</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>近50个视频平均点赞数</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@Convert.ToInt32(Model.MediaArticles.OrderByDescending(a => a.PublishDate).Take(50).Average(aaa => aaa.LikeCount))</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>近50个视频平均评论数</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@Convert.ToInt32(Model.MediaArticles.OrderByDescending(a => a.PublishDate).Take(50).Average(aaa => aaa.CommentCount))</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>号主被关注总数</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@Model.FriendNum</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>总发布视频数</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@Model.PostNum</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>最近发布视频日期</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@pushdate</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h3>近一周视频平均浏览数，评论数 <small>更新日期：@update</small></h3>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="flot-chart" style="height: 350px;">
                            <div class="flot-chart-content" id="flot-dashboard-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h3>最近发布视频情况 <small>更新日期：@update</small></h3>
            </div>
            <div class="ibox-content">
                <table class="table" data-empty="暂无视频数据">
                    <thead>
                        <tr>
                            <th>视频标题</th>
                            <th data-breakpoints="xs sm">视频描述</th>
                            <th data-breakpoints="xs sm">浏览数</th>
                            <th data-breakpoints="xs sm">评论数</th>
                            <th data-breakpoints="xs sm">点赞数</th>
                            <th data-breakpoints="xs sm">发布日期</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MediaArticles.OrderByDescending(d => d.PublishDate).Take(10))
                        {
                        <tr>
                            @{
        var dateTime = item.PublishDate?.ToString("yyyy-MM-dd HH:mm:ss") ?? string.Empty;
        
                            }
                            <td>
                                <a class='label' href='@item.ArticleUrl' target='_blank'><i class='fa fa-link'></i> @item.Title</a>
                            </td>
                            <td>@item.Content</td>
                            <td>@item.ViewCount</td>
                            <td>@item.CommentCount</td>
                            <td>@item.LikeCount</td>
                            <td>@dateTime</td>
                        </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<script>
            function initCharts() {
                var myChart = echarts.init(document.getElementById('flot-dashboard-chart'));
                var option = {
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['浏览数','评论数']
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            magicType : {show: true, type: ['line', 'bar']},
                            restore : {show: true}
                        }
                    },
                    calculable: true,
                    xAxis : [
                        {
                            type : 'category',
                            data : @Html.Raw(Json.Encode(articles.Select(d => d.Date)))
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '浏览数',
                            min: 0,
                            max: @maxRead
                        }, {
                            type: 'value',
                            name: '评论数',
                            min: 0,
                            max: @maxComment
                        }
                    ],
                    series : [
                        {
                            name:'浏览数',
                            type:'bar',
                            data:@Html.Raw(Json.Encode(articles.Select(d => d.AveRead)))

                        },
                        {
                            name:'评论数',
                            type: 'bar',
                            yAxisIndex: 1,
                            data:@Html.Raw(Json.Encode(articles.Select(d => d.AvgComment)))

                        }
                    ]
                };
                myChart.setOption(option);
            }
</script>
