@using Ada.Core.Tools
@model Ada.Core.Domain.Resource.Media

<div class="modal inmodal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">【@Model.MediaName - @Model.MediaID】最近发布文章</h4>
            </div>
            <div class="modal-body">
                @if (Model.MediaArticles.Any())
                {
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        标题
                                    </th>
                                    <th>
                                        浏览数
                                    </th>
                                    <th>
                                        评论数
                                    </th>
                                    <th>
                                        点赞数
                                    </th>
                                    <th>
                                        发布时间
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.MediaArticles.OrderByDescending(d => d.PublishDate).ThenByDescending(d=>d.IsTop).Take(16))
                                {
                                    <tr>
                                        @{
                                            var dateTime = item.PublishDate?.ToString("yyyy-MM-dd HH:mm:ss") ?? string.Empty;
                                            var title = Utils.CutString(item.Title, 60);
                                        }
                                        <td>

                                            @if (item.IsTop == true)
                                            {
                                                <span class="label label-danger">头条</span>
                                            }
                                            @if (item.IsOriginal == true)
                                            {
                                                <span class="label label-success">原创</span>
                                            }
                                             <a class='label' href='@item.ArticleUrl' target='_blank'><i class='fa fa-link'></i> @title</a>
                                        </td>
                                        <td>@item.ViewCount</td>
                                        <td>@item.CommentCount</td>
                                        <td>@item.LikeCount</td>
                                        <td>@dateTime</td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>

                }
                else
                {
                    <p class="text-center"><strong>暂无发布文章或未采集更新</strong></p>
                }


            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

