
@using System.Web.Optimization
@using Ada.Core.Infrastructure
@using Ada.Services.Admin
@model Ada.Core.ViewModel.Purchase.PurchasePaymentView
@{
    ViewBag.Title = "修改请款";
    List<SelectListItem> urls = new List<SelectListItem>() { new SelectListItem() { Text = "媒介请款", Value = Url.Action("Index") } };
    var fieldService = EngineContext.Current.Resolve<IFieldService>();
    var paymentTypes = fieldService.GetFieldsByKey("PurchasePaymentType").Select(d => new { text = d.Text, value = d.Value });
}
@Html.Partial("Bread", urls)

<div class="wrapper wrapper-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p class="bg-danger">@Html.ValidationMessage("message") </p>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <a class="btn btn-outline btn-default btn-sm" href="@Url.Action("Index")"><i class="fa fa-reply"></i> 返回</a>
                        <button class="btn btn-primary btn-sm ladda-button" type="submit" data-style="slide-right"><i class="fa fa-floppy-o"></i> 保存</button>
                    </div>
                    <div class="ibox-content">
                        @Html.Partial("PaymentEdit")
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Styles {
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/dateTimePickerStyle")
    @Styles.Render("~/plugins/bootstrapTableStyle")
    @Styles.Render("~/plugins/bootstrapEditTableStyle")
    @Styles.Render("~/plugins/select2Styles")
}
@section Scripts {
    @Scripts.Render("~/plugins/dateTimePickerScript")
    @Scripts.Render("~/plugins/bootstrapTableScript")
    @Scripts.Render("~/plugins/bootstrapEditTableScript")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/lodash")
    <script>
        var orders = @Html.Raw(string.IsNullOrWhiteSpace(Model.OrderDetails) ?"[]": Model.OrderDetails),
            pays = @Html.Raw(string.IsNullOrWhiteSpace(Model.PayDetails) ?"[]": Model.PayDetails),
            paymentTypes = @Html.Raw(Json.Encode(paymentTypes)),
            orderdetail = "@Url.Action("OrderDetails")",
            orderapi = "@Url.Action("GetList", "OrderDetail")",
            linkmanUrl = "@Url.Action("GetList", "LinkMan", new {area = "Customer"})",
            managerUrl = "@Url.Action("GetList", "Manager", new {area = "Admin"})";
    </script>
    <script src="@Url.Content("~/Areas/Purchase/Scripts/payment.js")"></script>
}
