@using System.Web.Optimization
@model Ada.Core.ViewModel.Wages.AttendanceDetailView
@{
    ViewBag.Title = "新增工资";
    ViewBag.Bread = new List<SelectListItem>() { new SelectListItem() { Text = "工资明细", Value = Url.Action("Index") } };

}
@Html.Partial("Bread")
<div class="wrapper wrapper-content">
    @Html.Partial("Edit",Model)
</div>


@section Styles {
    @Styles.Render("~/plugins/dateTimePickerStyle")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dateTimePickerScript")
    <script type="text/javascript">

        $(function() {
            $('.chosen-select').chosen({ width: "100%" });
            $('.input-group.date').datetimepicker({
                language: 'zh-CN',
                autoclose: 1,
                startView: 3,
                minView: 3,
                forceParse: 0,
                format: "yyyy年mm月"
            });
        });
       
    </script>
}






