@using System.Web.Optimization

@model Ada.Core.ViewModel.Business.BusinessWriteOffView
@{
    ViewBag.Title = "销售核销";
    ViewBag.Bread = new List<SelectListItem>() { new SelectListItem() { Text = "核销明细", Value = Url.Action("Index") } };
    var initName = ViewBag.Name == null ? "" : ViewBag.Name;
}
@Html.Partial("Bread")

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <p class="bg-danger">@Html.ValidationMessage("message") </p>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">

                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    @using (Html.BeginForm("Add", "WriteOff", FormMethod.Post, new { @class = "wizard-big" }))
                    {
                        @Html.AntiForgeryToken()
                        <h1>核销对象</h1>
                            <fieldset>
                                <h4>请勾选需要核销的项目订单<small id="linkman"></small></h4>
                                <table id="table"></table>
                            </fieldset>
                            <h1>核销款项</h1>
                            <fieldset>
                                <h4>请勾选需要核销的领款单据<small id="payeemoney"></small></h4>
                                <table id="payeetable"></table>
                            </fieldset>

                            <h1>核销订单</h1>
                            <fieldset>
                                <h4>请勾选需要核销的订单明细<small id="ordermoney"></small></h4>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <table id="ordertable"></table>
                                    </div>
                                </div>
                            </fieldset>
                            <h1>核销完成</h1>
                            <fieldset>
                                <h2>核销信息确认</h2>
                                <div class="row">
                                    <div class="col-lg-8 form-horizontal">
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            @Html.LabelFor(d => d.PayeeMoney, Html.DisplayNameFor(d => d.PayeeMoney).ToString(), new { @class = "col-sm-2 control-label" })
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(d=>d.PayeeMoney, new { @class = "form-control", required = "" ,@readonly=""})
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            @Html.LabelFor(d => d.OrderMoney, Html.DisplayNameFor(d => d.OrderMoney).ToString(), new { @class = "col-sm-2 control-label" })
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(d => d.OrderMoney, new { @class = "form-control", required = "", @readonly = "" })
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            @Html.LabelFor(d => d.TransactorId, Html.DisplayNameFor(d => d.TransactorId).ToString(), new {@class = "col-sm-2 control-label"})
                                            <div class="col-sm-8">
                                                <select class="form-control" required="" name="TransactorId" id="TransactorId">
                                                    <option value="@Model.TransactorId">@Model.Transactor</option>
                                                </select>
                                            </div>
                                            @Html.HiddenFor(d => d.Transactor)
                                        </div>
                                        @Html.HiddenFor(d => d.Payees)
                                        @Html.HiddenFor(d => d.Orders)
                                    </div>
                                </div>
                            </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/bootstrapTableStyle")
    @Styles.Render("~/plugins/wizardStepsStyles")
    <style>
        .content.clearfix {
            height: 420px;
        }
        .wizard > .content > .body ul > li {
            display: inline;
        }
    </style>
}
@section Scripts {
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/bootstrapTableScript")
    @Scripts.Render("~/plugins/lodash")
    <script type="text/javascript">
        var linkmanapi = "@Url.Action("GetList", "LinkMan", new {area = "Customer"})",
            transactorapi = "@Url.Action("GetList", "Manager", new {area = "Admin"})",
            initName = '@initName';
            payeeapi = '@Url.Action("GetList", "Payee")',
            orderapi = '@Url.Action("GetDetails", "Order")',
            itemapi = '@Url.Action("GetList", "Order")';
    </script>
    <script src="@Url.Content("~/Areas/Business/Scripts/writeoff.js?v=2018031481")"></script>
}


