
@model Ada.Core.Domain.Business.BusinessWriteOff

<div class="modal inmodal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">核销明细</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <caption class="text-center">
                                <h3 class="text-center">款项明细</h3>
                            </caption>
                            <thead>
                                <tr>
                                    <th>
                                        客户名称
                                    </th>
                                    <th>
                                        领款金额
                                    </th>
                                    <th>
                                        领款日期
                                    </th>
                                    <th>
                                        请款金额
                                    </th>
                                    <th>
                                        核销金额
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.BusinessPayees)
                                {
                                    <tr>
                                        <td>@item.LinkManName</td>
                                        <td>@item.Money</td>
                                        <td>@item.ClaimDate</td>
                                        <td>@item.BusinessPayments.Sum(d => d.PayMoney)</td>
                                        <td>@item.ConfirmVerificationMoney</td>
                                    </tr>
                                }
                                <tr>
                                    <td>合计</td>
                                    <td>@Model.BusinessPayees.Sum(d => d.Money)</td>
                                    <td></td>
                                    <td>@Model.BusinessPayees.Sum(d => d.BusinessPayments.Sum(p => p.PayMoney))</td>
                                    <td>@Model.BusinessPayees.Sum(d => d.ConfirmVerificationMoney)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <caption class="text-center">
                                <h3 class="text-center">订单明细</h3>
                            </caption>
                            <thead>
                                <tr>
                                    <th>
                                        订单编号
                                    </th>
                                    <th>
                                        媒体类型
                                    </th>
                                    <th>
                                        媒体名称
                                    </th>
                                    <th>
                                        广告位
                                    </th>
                                    <th>
                                        无税金额
                                    </th>
                                    <th>
                                        核销金额
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.BusinessOrderDetails)
                                {
                                <tr>
                                    <td>
                                        <a class='label' href='@Url.Action("Update", "Order", new{id=item.BusinessOrderId })'><i class='fa fa-link'></i>@item.BusinessOrder.OrderNum</a>
                                    </td>
                                    <td>@item.MediaTypeName</td>
                                    <td>@item.MediaName</td>
                                    <td>@item.AdPositionName</td>
                                    <td>@item.SellMoney</td>
                                    <td>@item.ConfirmVerificationMoney</td>
                                </tr>
                                }
                                <tr>
                                    <td>合计</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>@Model.BusinessOrderDetails.Sum(d => d.SellMoney)</td>
                                    <td>@Model.BusinessOrderDetails.Sum(d => d.ConfirmVerificationMoney)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>




