@using System.Web.Optimization
@using Ada.Core.Domain
@model Ada.Core.ViewModel.Statistics.WeiGuangTotal
@{
    ViewBag.Title = "工作台";
    var orderBg = Model.OrderStatus ? "navy-bg" : "red-bg";
    var moneyBg = Model.MoneyStatus ? "navy-bg" : "red-bg";
}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <div style="margin-top: 25px;">
                            <i class="fa fa-link fa-5x"></i>
                        </div>
                    </div>
                    <div class="col-xs-8 text-right">
                        <div class="row">
                            <div class="col-xs-12 mouse-pointer" onclick="location.href = '@Url.Action("Index","Business")';">
                                <h2 class="font-bold">销售工作台</h2>
                                <span> 点击进入 </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 mouse-pointer" style="cursor: pointer;" onclick="location.href = '@Url.Action("Index","Purchase")';">

                                <h2 class="font-bold">媒介工作台</h2>
                                <span> 点击进入 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget style1 @orderBg">
                <div class="row">
                    <div class="col-xs-4">
                        <div style="margin-top: 25px;">
                            <i class="fa fa-database fa-5x"></i>
                        </div>
                    </div>
                    <div class="col-xs-8 text-right">
                        <div class="row">
                            <div class="col-xs-12">
                                <h2 class="font-bold">@Model.BusinessCount</h2>
                                <span> 销售订单 </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">

                                <h2 class="font-bold">@Model.PurchaseCount</h2>
                                <span> 采购订单 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget style1 @moneyBg">
                <div class="row">
                    <div class="col-xs-4">
                        <div style="margin-top: 25px;">
                            <i class="fa fa-jpy fa-5x"></i>
                        </div>
                    </div>
                    <div class="col-xs-8 text-right">
                        <div class="row">
                            <div class="col-xs-12">
                                <h2 class="font-bold">
                                    @Model.BusinessSellMoney
                                </h2>
                                <span> 销售金额 </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">

                                <h2 class="font-bold">@Model.BusinessVerificationMoney</h2>
                                <span> 未核销金额 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <div style="margin-top: 25px;">
                            <i class="fa fa-cc-visa fa-5x"></i>
                        </div>
                    </div>
                    <div class="col-xs-8 text-right">
                        <div class="row">
                            <div class="col-xs-12">
                                <h2 class="font-bold">
                                    @Model.Income
                                </h2>
                                <span> 收入金额 </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">

                                <h2 class="font-bold">@Model.Expend</h2>
                                <span> 支出金额 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins" id="weixin">
                <div class="ibox-title">
                    <h5>微信销售业绩排行</h5>
                    <div class="ibox-tools">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="label label-info pull-right"><span class="currentdate">出刊日期</span> <i class="fa fa-chevron-down"></i></span>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="javascript:getMediaOrder('weixin','');">出刊日期</a>
                            </li>
                            @for (int i = 0; i < 12; i++)
                            {
                                <li>
                                    <a href="javascript:getMediaOrder('weixin','@DateTime.Now.AddMonths(-i).ToString("yyyy年MM月")');">@DateTime.Now.AddMonths(-i).ToString("yyyy年MM月")</a>
                                </li>
                            }
                        </ul>

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div class="scroll_content">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">排序</th>
                                    <th>销售人员</th>
                                    <th>利润总额[无税]</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins" id="sinablog">
                <div class="ibox-title">
                    <h5>微博销售业绩排行</h5>
                    <div class="ibox-tools">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="label label-info pull-right"><span class="currentdate">出刊日期</span> <i class="fa fa-chevron-down"></i></span>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="javascript:getMediaOrder('sinablog','');">出刊日期</a>
                            </li>
                            @for (int i = 0; i < 12; i++)
                            {
                                <li>
                                    <a href="javascript:getMediaOrder('sinablog','@DateTime.Now.AddMonths(-i).ToString("yyyy年MM月")');">@DateTime.Now.AddMonths(-i).ToString("yyyy年MM月")</a>
                                </li>
                            }
                        </ul>

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div class="scroll_content">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">排序</th>
                                    <th>销售人员</th>
                                    <th>利润总额[无税]</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins" id="redbook">
                <div class="ibox-title">
                    <h5>小红书销售业绩排行</h5>
                    <div class="ibox-tools">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="label label-info pull-right"><span class="currentdate">出刊日期</span> <i class="fa fa-chevron-down"></i></span>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="javascript:getMediaOrder('redbook','');">出刊日期</a>
                            </li>
                            @for (int i = 0; i < 12; i++)
                            {
                                <li>
                                    <a href="javascript:getMediaOrder('redbook','@DateTime.Now.AddMonths(-i).ToString("yyyy年MM月")');">@DateTime.Now.AddMonths(-i).ToString("yyyy年MM月")</a>
                                </li>
                            }
                        </ul>

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div class="scroll_content">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">排序</th>
                                    <th>销售人员</th>
                                    <th>利润总额[无税]</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins" id="douyin">
                <div class="ibox-title">
                    <h5>抖音销售业绩排行</h5>
                    <div class="ibox-tools">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="label label-info pull-right"><span class="currentdate">出刊日期</span> <i class="fa fa-chevron-down"></i></span>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="javascript:getMediaOrder('douyin','');">出刊日期</a>
                            </li>
                            @for (int i = 0; i < 12; i++)
                            {
                                <li>
                                    <a href="javascript:getMediaOrder('douyin','@DateTime.Now.AddMonths(-i).ToString("yyyy年MM月")');">@DateTime.Now.AddMonths(-i).ToString("yyyy年MM月")</a>
                                </li>
                            }
                        </ul>

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div class="scroll_content">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">排序</th>
                                    <th>销售人员</th>
                                    <th>利润总额[无税]</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

@Html.Partial("Late")
    @*<div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>人气媒体资源排行(微信，微博)</h5>
                </div>
                <div class="ibox-content">
                    <div class="scroll_content">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">排序</th>
                                    <th class="text-center">媒体类型</th>
                                    <th class="text-center">媒体信息</th>
                                    <th class="text-center">广告位</th>
                                    <th class="text-center">销售订单数</th>
                                    <th>销售金额（无税）</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.MediaOrders != null)
                                {
                                    var i = 1;
                                    foreach (var item in Model.MediaOrders)
                                    {
                                        <tr>
                                            <td class="text-center">@i</td>
                                            <td class="text-center">
                                                @item.TypeName
                                            </td>
                                            <td class="text-center">@item.MediaName - @item.MediaID</td>
                                            <td class="text-center">
                                                @item.AdPostion
                                            </td>
                                            <td class="text-center"><span class="label label-primary">@item.Count</span></td>
                                            <td><span class="label label-warning">@item.SellMoney</span></td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins" id="order">
                <div class="ibox-title">
                    <h5>采购订单成本统计</h5>
                    <div class="ibox-tools">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="label label-info pull-right"><span class="currentdate">出刊日期</span> <i class="fa fa-chevron-down"></i></span>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="javascript:getPurchaseOrder('');">出刊日期</a>
                            </li>
                            @for (int i = 0; i < 12; i++)
                            {
                                <li>
                                    <a href="javascript:getPurchaseOrder('@DateTime.Now.AddMonths(-i).ToString("yyyy年MM月")');">@DateTime.Now.AddMonths(-i).ToString("yyyy年MM月")</a>
                                </li>
                            }
                        </ul>

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div class="scroll_content">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">媒介人员</th>
                                    <th class="text-center">参考成本</th>
                                    <th class="text-center">实际成本</th>
                                    <th class="text-center">成本差值</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PurchaseOrderTotals)
                                {
                                    <tr>
                                        <td class="text-center">
                                            @item.Transactor
                                        </td>
                                        <td class="text-center">@item.PurchaseMoney</td>
                                        <td class="text-center">
                                            @item.CostMoney
                                        </td>
                                        <td class="text-center">
                                            @if (item.Diff > 0)
                                            {
                                                <span class="label label-primary">@item.Diff</span>
                                            }
                                            else
                                            {
                                                <span class="label label-danger">@item.Diff</span>
                                            }

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>销售人员改价统计</h5>

                </div>
                <div class="ibox-content">
                    <div class="scroll_content">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">销售人员</th>
                                    <th class="text-center">改价差值</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PriceChanges)
                                {
                                    <tr>
                                        <td class="text-center">
                                            @item.Text
                                        </td>
                                        <td class="text-center">@item.Value</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>销售订单评价情况</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="scroll_content">
                                <table class="table table-hover margin bottom">
                                    <thead>
                                        <tr>
                                            <th>评价人员</th>
                                            <th>评价次数</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.OrderComments)
                                        {
                                            <tr>
                                                <td>@item.Transactor</td>
                                                <td><span class="badge badge-success">@item.Count</span></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>媒体资源评价情况</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="scroll_content">
                                <table class="table table-hover margin bottom">
                                    <thead>
                                        <tr>
                                            <th>评价人员</th>
                                            <th>评价次数</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.MediaComments)
                                        {
                                            <tr>
                                                <td>@item.Transactor</td>
                                                <td><span class="badge badge-success">@item.Count</span></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function() {
            $('.scroll_content').slimscroll({
                height: '380px'
            });
            getMediaOrder("weixin","@DateTime.Now.ToString("yyyy年MM月")");
            getMediaOrder("sinablog","@DateTime.Now.ToString("yyyy年MM月")");
            getMediaOrder("douyin","@DateTime.Now.ToString("yyyy年MM月")");
            getMediaOrder("redbook","@DateTime.Now.ToString("yyyy年MM月")");
        });
        function getPurchaseOrder(date) {
            var $top = $("#order"), $table = $("#order tbody");
            $("#order .currentdate").text(date ||"出刊日期");
            $.ajax({
                type: "get",
                url: "@Url.Action("GetPurchaseOrder")",
                data: { date:date },
                success: function (data) {
                    $table.empty();
                    $.each(data,
                        function (k, v) {
                            var color = v.Diff > 0 ? "primary" : "danger";
                            $table.append('<tr>' +
                                '<td class="text-center">' + v.Transactor+'</td>' +
                                '<td class="text-center">' + v.PurchaseMoney + '</td>' +
                                '<td class="text-center">' + v.CostMoney + '</td>' +
                                '<td class="text-center">' +
                                '<span class="label label-' + color + '">' + v.Diff + '</span>' +
                                '</td>' +
                                '</tr>');
                        });
                },
                error: function () {
                    //swal("操作失败", "系统错误", "error");
                },
                complete: function () {
                    $top.children('.ibox-content').toggleClass('sk-loading');
                },
                beforeSend: function() {
                    $top.children('.ibox-content').toggleClass('sk-loading');
                }
            });
        }
        function getMediaOrder(index,date) {
            var $top = $("#" + index), $table = $("#" + index+" tbody");
            $("#" + index+" .currentdate").text(date ||"出刊日期");
            $.ajax({
                type: "get",
                url: "@Url.Action("GetMediaTypeBusinessTop")",
                data: {index:index, date:date },
                success: function (data) {
                    $table.empty();
                    $.each(data,
                        function (k, v) {
                            var total = v.TotalProfitMoney / 10000;
                            $table.append('<tr>' +
                                '<td class="text-center">' + (k+1)+'</td>' +
                                '<td>' + v.Transactor + '</span></td>' +
                                '<td><span class="label label-warning">' + total.toFixed(1)+' 万</span></td>' +
                                '</tr>');
                        });
                },
                error: function () {
                    //swal("操作失败", "系统错误", "error");
                },
                complete: function () {
                    $top.children('.ibox-content').toggleClass('sk-loading');
                },
                beforeSend: function() {
                    $top.children('.ibox-content').toggleClass('sk-loading');
                }
            });
        }
    </script>
}
