@using System.Web.Optimization
@using Ada.Core.Domain
@model Ada.Core.ViewModel.Business.BusinessInvoiceView
@{
    ViewBag.Title = "编辑发票";
    List<SelectListItem> urls = new List<SelectListItem>() { new SelectListItem() { Text = "销售开票", Value = Url.Action("Index") } };
}
@Html.Partial("Bread", urls)

<div class="wrapper wrapper-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p class="bg-danger">@Html.ValidationMessage("message") </p>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <a class="btn btn-outline btn-default btn-sm" href="javascript:window.history.go(-1);"><i class="fa fa-reply"></i> 返回</a>
                        <button class="btn btn-primary btn-sm ladda-button" type="submit" data-style="slide-right"><i class="fa fa-floppy-o"></i> 保存</button>

                        @if (Model.AuditStatus == Consts.StateNormal)
    {
                    <a class="btn btn-warning btn-sm pull-right" href="@Url.Action("Audit", new {id = Model.Id})">
                        <i class="fa fa-unlock"></i> <span>弃审</span>
                    </a>
}
else
{
                    <a class="btn btn-primary btn-sm pull-right" href="@Url.Action("Audit", new {id = Model.Id})">
                        <i class="fa fa-lock"></i> <span>审核</span>
                    </a>
}
                    </div>
                    <div class="ibox-content">
                        @Html.Partial("InvoiceEdit")
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Styles {

    @Styles.Render("~/plugins/bootstrapTableStyle")
    @Styles.Render("~/plugins/bootstrapEditTableStyle")
    @Styles.Render("~/plugins/select2Styles")
}
@section Scripts {
    @Scripts.Render("~/plugins/bootstrapTableScript")
    @Scripts.Render("~/plugins/bootstrapEditTableScript")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/lodash")
<script>
        var orders = @Html.Raw(string.IsNullOrWhiteSpace(Model.OrderDetails) ?"[]": Model.OrderDetails),
            orderdetail = "@Url.Action("OrderDetails")",
            orderapi = "@Url.Action("GetList", "Order")",
            linkmanUrl = "@Url.Action("GetList", "LinkMan", new {area = "Customer"})",
            managerUrl = "@Url.Action("GetList", "Manager", new {area = "Admin"})",
            isReadonly = @Model.AuditStatus;
</script>
    <script src="@Url.Content("~/Areas/Business/Scripts/invoice.js?v=2018114")"></script>
}


