@using System.Web.Optimization
@using Ada.Core.Infrastructure
@using Ada.Services.Admin
@model Ada.Core.ViewModel.Resource.MediaView
@{
    ViewBag.Title = "添加" + Model.MediaTypeName;
    ViewBag.Bread = new List<SelectListItem>() { new SelectListItem() { Text = "媒体资源", Value = Url.Action("Index") } };
    var fieldService = EngineContext.Current.Resolve<IFieldService>();
    var platformPriceType = fieldService.GetFieldsByKey("PlatformPriceType").Select(d => new { text = d.Text, value = d.Value });
}
@Html.Partial("Bread")


<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Partial(Model.MediaTypeIndex, Model)
        @Html.HiddenFor(d => d.Id)
        @Html.HiddenFor(d => d.MediaTypeId)
        @Html.HiddenFor(d => d.MediaTypeIndex)
        @Html.HiddenFor(d => d.MediaTypeName)
        @Html.HiddenFor(d => d.MediaReferencePriceJson)
    }
</div>

@section Styles {
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/dateTimePickerStyle")
    @Styles.Render("~/plugins/bootstrapTableStyle")
    @Styles.Render("~/plugins/bootstrapEditTableStyle")
    @Styles.Render("~/plugins/laddaStyles")

}
@section Scripts {
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/bootstrapTableScript")
    @Scripts.Render("~/plugins/bootstrapEditTableScript")
    @Scripts.Render("~/plugins/ladda")
    @Scripts.Render("~/plugins/dateTimePickerScript")
    <script>
        var linkmanurl = "@Url.Action("GetList", "LinkMan", new {area = "Customer"})";
        var data = @Html.Raw(string.IsNullOrWhiteSpace(Model.MediaReferencePriceJson) ?"[]": Model.MediaReferencePriceJson);
        var platformData=@Html.Raw(Json.Encode(platformPriceType));
    </script>
    <script src="@Url.Content("~/Areas/Resource/Scripts/resource.js?v="+DateTime.Now.Ticks)"></script>
    <script src="@Url.Content("~/Areas/Resource/Scripts/transactor.js")"></script>
}
