@using System.Web.Optimization
@model Ada.Core.ViewModel.Resource.MediaView
@{
    ViewBag.Title = "添加"+Model.MediaTypeName;
    ViewBag.Bread = new List<SelectListItem>() { new SelectListItem() { Text = "媒体资源", Value = Url.Action("Index") } };
}
@Html.Partial("Bread")


<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Partial(Model.MediaTypeIndex, Model)
        @Html.HiddenFor(d => d.Id)
        @Html.HiddenFor(d => d.MediaTypeId)
        @Html.HiddenFor(d => d.MediaTypeIndex)
        @Html.HiddenFor(d => d.MediaTypeName)
    }
</div>


@section Styles {
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/dataPicker")
    <script>
        var linkmanurl = "@Url.Action("GetList", "LinkMan", new {area = "Customer"})";
    </script>
    <script src="@Url.Content("~/Areas/Resource/Scripts/resource.js?v=20180201")"></script>
    <script src="@Url.Content("~/Areas/Resource/Scripts/transactor.js")"></script>
}
