@using System.Web.Optimization
@using Ada.Core
@using Ada.Core.Domain.Resource
@using Ada.Core.Infrastructure
@using Ada.Core.ViewModel.Resource
@model MediaView
@{

    ViewBag.Title = "媒体查询";
    var repository = EngineContext.Current.Resolve<IRepository<MediaType>>();
    var mediaTypes = repository.LoadEntities(d => d.IsDelete == false).OrderBy(d => d.Taxis).ToList();
    List<SelectListItem> adaPostions = new List<SelectListItem>();
    var index = string.Empty;
    var priceOrder = new List<SelectListItem>();
    if (!string.IsNullOrWhiteSpace(Model.MediaTypeId))
    {
        var mediaType = repository.LoadEntities(d => d.Id == Model.MediaTypeId).FirstOrDefault();
        index = mediaType.CallIndex;
        adaPostions = mediaType.AdPositions.Select(d => new SelectListItem() { Text = d.Name, Value = d.Name }).ToList();
        foreach (var adPosition in adaPostions.OrderByDescending(d => d.Text))
        {
            priceOrder.Add(new SelectListItem() { Value = adPosition.Text + "|desc", Text = adPosition.Text + @" 从高到低" });
            priceOrder.Add(new SelectListItem() { Value = adPosition.Text + "|asc", Text = adPosition.Text + @" 从低到高" });
        }
    }
  
}
@Html.Partial("Bread")
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <form id="searchFrm">
        @Html.AntiForgeryToken()
        <div class="ibox-content m-b-sm border-bottom">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">媒体类型 </label>
                        <div class="row">
                            <div class="col-md-12">
                                <select class="form-control" name="MediaTypeId" id="MediaTypeId">
                                    <option value="">请选择</option>
                                    @foreach (var item in mediaTypes)
                                    {
                                        if (item.Id == Model.MediaTypeId)
                                        {
                                            <option value="@item.Id" selected="selected">@item.TypeName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.TypeName</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                </div>

                @Html.Partial("FilterPrice", adaPostions)
                @Html.Partial("FilterFans")
                @Html.Partial("FilterTags", Model)
            </div>

            <div class="ibox collapsed">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <span class="text-muted font-bold">更多筛选条件</span> <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content no-borders">
                    <div class="row">
                        @Html.Partial("FilterOther", index)
                    </div>

                </div>
                <div class="ibox-footer  no-borders">
                    <button type="button" class="btn btn-danger btn-outline" onclick="resetFilter();">
                        <i class="fa fa-recycle"></i> 重置筛选
                    </button>
                    <button type="button" class="btn btn-primary btn-outline" data-toggle="modal" data-target="#searchModal">
                        <i class="fa fa-search"></i> 批量查询
                    </button>
                    <button type="button" class="btn btn-warning btn-outline" data-toggle="modal" data-target="#exportModal">
                        <i class="fa fa-download"></i> 导出资源
                    </button>
                </div>

            </div>
        </div>




        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <table id="table"></table>
                        <div id="toolbar">
                            <div class="form-inline" role="form">

                                <div class="form-group">
                                    <select class="form-control" name="PriceSortOrder" id="PriceSortOrder">
                                        <option value="">默认排序</option>
                                        @foreach (var item in priceOrder)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>

@Html.Partial("FilterModalSearch")
@Html.Partial("ExportModal")

@section StylesFirst {
    <meta name="referrer" content="never">
}
@section Styles {
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/bootstrapTableStyle")
    @Styles.Render("~/plugins/laddaStyles")

}

@section Scripts {

    @Scripts.Render("~/plugins/clipboard")
    @Scripts.Render("~/plugins/bootstrapTableScript")
    @Scripts.Render("~/plugins/ladda")
    <script src="@Url.Content("~/Areas/Resource/Scripts/filter.js?v=20181002")"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#MediaTypeId").change(function () {
                if ($(this).val()) {
                    window.location.href = "@Url.Action("Index")?id=" + $(this).val();
                } else {
                    window.location.href = "@Url.Action("Index")";
                }

            });
            initFilter();
            $('#table').bootstrapTable({
                url: '@Url.Action("GetListAll","Media")', //请求后台的URL（*）
                method: 'post',
                classes: "table table-no-bordered",
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "desc",                   //排序方式
                sortName:"Id",
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,                 //设置为 true启用 全匹配搜索，否则为模糊搜索
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                singleSelect: true,                  //设置True 将禁止多选
                uniqueId: "Id",                     //每一行的唯一标识，一般为主键列
                searchAlign: "left",
                buttonsAlign: "left",
                toolbarAlign:"right",
                ajaxOptions:{
                    headers: { "__RequestVerificationToken": $("input[name='__RequestVerificationToken']").val() }
                },
                formatSearch: function() {
                    return "媒体名称或者媒体ID";
                },
                onLoadSuccess: onLoadSuccess ,
                mobileResponsive: true,
                queryParams: serachFilter,
                columns: [
                    {
                        field: 'MediaLogo',
                        align: "right", valign: "middle",
                        formatter: filterFormat.mediaLogo

                    },
                    {
                        field: 'MediaName',
                        title: '媒体信息',
                        valign: "middle",
                        align: "left",
                        formatter: filterFormat.mediaInfo
                    },
                    {
                        field: 'AvgReadNum',
                        title: '媒体指数',
                        valign: "middle",
                        align: "left",
                        formatter: filterFormat.mediaData
                    },
                    {
                        field: 'MediaPrices',
                        title: '广告位价格',
                        valign: "middle",
                        align: "left",
                        formatter: filterFormat.mediaPrice,
                        //align: "center"
                    },
                    {
                        field: 'PriceProtectionDate',
                        title: '媒体保价',
                        valign: "middle",
                        align: "left",
                        formatter: filterFormat.priceProtection
                    },
                    {
                        field: 'Remark',
                        title: '备注信息',
                        valign: "middle",
                        align: "center",
                        formatter: function(value,row) {
                            return "<div class='p-xxs text-center'><span class='label label-info'  data-toggle='tooltip' data-placement='bottom' title='" +
                                (value || '暂无信息') +
                                "'>媒介备注</span></div>" +
                                "<div class='p-xxs text-center'><span class='label label-info'  data-toggle='tooltip' data-placement='bottom' title='" +
                                (row.Content || '暂无简介') +
                                "'>媒体简介</span></div>";
                        }

                    },
                    {
                        field: 'Transactor',
                        title: '经办媒介',
                        valign: "middle",
                        align: "center", sortable: true
                    }
                ]
            });

        });

    </script>
}
