@using System.Web.Optimization
@using Ada.Core
@using Ada.Core.Domain
@using Ada.Core.Domain.Resource
@using Ada.Core.Infrastructure
@using Ada.Core.Tools
@using Ada.Core.ViewModel.Resource
@using Ada.Services.Admin
@using Ada.Services.Resource
@using Microsoft.Ajax.Utilities
@model MediaView
@{
    ViewBag.Title = "媒体查询";
    var repository = EngineContext.Current.Resolve<IRepository<MediaType>>();
    var mediaTypes = repository.LoadEntities(d => d.IsDelete == false).OrderBy(d => d.Taxis).ToList();
    var tags = EngineContext.Current.Resolve<IMediaTagService>().GetTags();
    List<SelectListItem> adaPostions = new List<SelectListItem>();
    if (!string.IsNullOrWhiteSpace(Model.MediaTypeIndex))
    {
        var mediaType = repository.LoadEntities(d => d.CallIndex == Model.MediaTypeIndex).FirstOrDefault();
        adaPostions = mediaType.AdPositions.Select(d => new SelectListItem() { Text = d.Name, Value = d.Name }).ToList();
    }
    var isData = new List<string>() { "weixin", "sinablog", "douyin", "redbook" };
    var fieldService = EngineContext.Current.Resolve<IFieldService>();
    //var seos = fieldService.GetFieldsByKey("SEO").Select(d => new SelectListItem { Text = d.Text, Value = d.Value });
    var yesnos = fieldService.GetFieldsByKey("YesOrNo").Select(d => new SelectListItem { Text = d.Text, Value = d.Value });
    var resourceTypes = fieldService.GetFieldsByKey("ResourceType").Select(d => new SelectListItem { Text = d.Text, Value = d.Value });
    //var authenticateTypes = fieldService.GetFieldsByKey("AuthenticateType").Select(d => new SelectListItem { Text = d.Text, Value = d.Value });
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home",new{area= "Dashboards" })">工作台</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">

    <div class="ibox-content m-b-sm border-bottom">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        @Html.LabelFor(d => d.MediaTypeIndex, Html.DisplayNameFor(d => d.MediaTypeIndex).ToString(), new { @class = "control-label" })
                        <select name="MediaTypeIndex" class="form-control" id="MediaTypeIndex">
                            <option value="">请选择</option>
                            @foreach (var item in mediaTypes)
                            {
                                if (item.CallIndex == Model.MediaTypeIndex)
                                {
                                    <option value="@item.CallIndex" data-value='@Html.Raw(Json.Encode(item.AdPositions.Select(d => d.Name)))' selected="selected">@item.TypeName</option>
                                }
                                else
                                {
                                    <option value="@item.CallIndex" data-value='@Html.Raw(Json.Encode(item.AdPositions.Select(d => d.Name)))'>@item.TypeName</option>
                                }

                            }
                        </select>

                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        @Html.LabelFor(d => d.MediaName, Html.DisplayNameFor(d => d.MediaName).ToString(), new { @class = "control-label" })
                        @Html.TextBoxFor(d => d.MediaName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        @Html.LabelFor(d => d.MediaID, Html.DisplayNameFor(d => d.MediaID).ToString(), new { @class = "control-label" })
                        @Html.TextBoxFor(d => d.MediaID, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        @Html.LabelFor(d => d.AdPositionName, Html.DisplayNameFor(d => d.AdPositionName).ToString(), new { @class = "control-label" })
                        @Html.DropDownListFor(d => d.AdPositionName, adaPostions, "不限", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        @Html.LabelFor(d => d.PriceStart, Html.DisplayNameFor(d => d.PriceStart).ToString(), new { @class = "control-label" })
                        <div class="input-daterange input-group">
                            @Html.TextBoxFor(d => d.PriceStart, new { @class = "form-control" })
                            <span class="input-group-addon">至</span>
                            @Html.TextBoxFor(d => d.PriceEnd, new { @class = "form-control" })
                        </div>

                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        @Html.LabelFor(d => d.AvgReadNum, "平均阅读数", new { @class = "control-label" })
                        <div class="input-daterange input-group">
                            @Html.TextBoxFor(d => d.AvgReadNumStart, new { @class = "form-control" })
                            <span class="input-group-addon">至</span>
                            @Html.TextBoxFor(d => d.AvgReadNumEnd, new { @class = "form-control" })
                        </div>

                    </div>
                </div>

            </div>


            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse">更多条件</a>
                        </h4>
                    </div>
                    <div id="collapse" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.FansNum, Html.DisplayNameFor(d => d.FansNum).ToString() + "（万）", new { @class = "control-label" })
                                    <div class="input-daterange input-group">
                                        @Html.TextBoxFor(d => d.FansNumStart, new { @class = "form-control" })
                                        <span class="input-group-addon">至</span>
                                        @Html.TextBoxFor(d => d.FansNumEnd, new { @class = "form-control" })
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.Platform, Html.DisplayNameFor(d => d.Platform).ToString(), new { @class = "control-label" })
                                    @Html.TextBoxFor(d => d.Platform, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.IsGroup, Html.DisplayNameFor(d => d.IsGroup).ToString(), new { @class = "control-label" })
                                    @Html.DropDownListFor(d => d.IsGroup, yesnos, "请选择", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.Areas, Html.DisplayNameFor(d => d.Areas).ToString(), new { @class = "control-label" })
                                    @Html.TextBoxFor(d => d.Areas, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.Content, Html.DisplayNameFor(d => d.Content).ToString(), new { @class = "control-label" })
                                    @Html.TextBoxFor(d => d.Content, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.Remark, Html.DisplayNameFor(d => d.Remark).ToString(), new { @class = "control-label" })
                                    @Html.TextBoxFor(d => d.Remark, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.IsTop, Html.DisplayNameFor(d => d.IsTop).ToString(), new { @class = "control-label" })
                                    @Html.DropDownListFor(d => d.IsTop, yesnos, "请选择", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.IsHot, Html.DisplayNameFor(d => d.IsHot).ToString(), new { @class = "control-label" })
                                    @Html.DropDownListFor(d => d.IsHot, yesnos, "请选择", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.IsRecommend, Html.DisplayNameFor(d => d.IsRecommend).ToString(), new { @class = "control-label" })
                                    @Html.DropDownListFor(d => d.IsRecommend, yesnos, "请选择", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.IsAuthenticate, Html.DisplayNameFor(d => d.IsAuthenticate).ToString(), new { @class = "control-label" })
                                    @Html.DropDownListFor(d => d.IsAuthenticate, yesnos, "请选择", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.AuthenticateType, Html.DisplayNameFor(d => d.AuthenticateType).ToString(), new { @class = "control-label" })
                                    @Html.TextBoxFor(d => d.AuthenticateType, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.ResourceType, Html.DisplayNameFor(d => d.ResourceType).ToString(), new { @class = "control-label" })
                                    @Html.DropDownListFor(d => d.ResourceType, resourceTypes, "请选择", new { @class = "form-control" })
                                </div>
                            </div>


                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.MediaTagIds, Html.DisplayNameFor(d => d.MediaTagIds).ToString(), new { @class = "control-label" })
                                    <div class="row">
                                        <div class="col-md-12">
                                            @foreach (var item in tags)
                                            {
                                                var isChecked = Model.MediaTagIds == null ? "" : Model.MediaTagIds.Contains(item.Id) ? "checked=''" : "";
                                                <div class="checkbox checkbox-success checkbox-inline">
                                                    <input type="checkbox" name="MediaTagIds" value="@item.Id" id="@item.Id" @isChecked>
                                                    <label for="@item.Id">@item.TagName</label>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.MediaBatch, Html.DisplayNameFor(d => d.MediaBatch).ToString(), new { @class = "control-label" })
                                    @Html.TextAreaFor(d => d.MediaBatch, 4, 20, new { @class = "form-control", placeholder = "请输入媒体名称或者媒体ID，多个媒体查询，请用逗号隔开或者一行一个；同时支持复制粘贴的数据查询" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <input type="hidden" name="Submit.Export" id="export" value="" />
            @Html.HiddenFor(d => d.PriceType)
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <button class="btn btn-primary btn-outline" name="Submit.Search" value="search" type="submit"><i class="fa fa-search"></i> 开始搜索</button>
                        <a id="btn_add" class="btn btn-success btn-outline" href="@Url.Action("Add","MediaDevelop")" target="_blank">
                            <i class="fa fa-plus"></i> 申请开发
                        </a>
                        <button class="btn btn-danger btn-outline pull-right" type="button" data-toggle="modal" data-target="#exportModal"><i class="fa fa-download"></i> 导出数据</button>
                    </div>
                </div>
            </div>

        }



    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    @Html.ValidationMessage("message")
                    @if (Model.Medias.Count > 0)
                    {
                        <div class="hr-line-dashed"></div>
                        <table class="table">
                            <thead>
                                <tr>

                                    <th>媒体类型</th>
                                    <th>媒体信息</th>
                                    @if (isData.Contains(Model.MediaTypeIndex))
                                    {
                                        <th data-breakpoints="xs">媒体指数</th>
                                    }
                                    <th data-breakpoints="xs">媒体价格</th>
                                    <th data-breakpoints="xs">媒体保价</th>
                                    <th data-breakpoints="xs">媒体组</th>
                                    <th data-breakpoints="all" data-title="媒体说明">媒体说明</th>
                                    <th data-breakpoints="all" data-title="媒体备注">媒体备注</th>
                                    <th data-breakpoints="xs">经办媒介</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Medias)
                                {

                                    if (string.IsNullOrWhiteSpace(item.Id))
                                    {
                                        continue;
                                    }
                                    var priceDate = item.MediaPrices.FirstOrDefault()?.InvalidDate?.ToString("yyyy-MM-dd");
                                    <tr>
                                        <td>
                                            <div class="p-xxs text-center">
                                                @if (string.IsNullOrWhiteSpace(item.MediaLogo))
                                                {
                                                    <i class="fa @item.MediaType.Image fa-4x"></i>
                                                }
                                                else
                                                {
                                                    <img class="img-circle" src="@item.MediaLogo" style="width: 60px; height: 60px;" />
                                                }
                                            </div>
                                            <div class="p-xxs text-center">
                                                @if (item.IsTop == true)
                                                {
                                                    <span class="badge badge-success">顶</span>
                                                }
                                                @if (item.IsRecommend == true)
                                                {
                                                    <span class="badge badge-danger">荐</span>
                                                }
                                                @if (item.IsHot == true)
                                                {
                                                    <span class="badge badge-warning">优</span>
                                                }
                                            </div>
                                            @if (item.MediaType.IsComment == true)
                                            {
                                                <div class='p-xxs text-center'>
                                                    <a class='btn btn-warning btn-xs btn-outline' data-toggle='tooltip' data-placement='bottom' title='查看媒体详情' href='@Url.Action("Detail", new {id = item.Id})' target="_blank"><i class='fa fa-info-circle'></i> 详情</a>
                                                    <a class='btn btn-warning btn-outline btn-xs' href="@Url.Action("Comment",new{id=item.Id})" target="_blank"><i class='fa fa-comment'></i> 评论</a>
                                                    </div>
                                                
                                            }

                                        </td>

                                        <td>

                                            <div class='p-xxs'>
                                                @if (!string.IsNullOrWhiteSpace(item.Sex))
                                                {
                                                    if (item.Sex == "男")
                                                    {
                                                        <img alt="男" class="img-circle" src="/Images/man.png" style="width: 25px; height: 25px;" />
                                                    }
                                                    else
                                                    {
                                                        <img alt="女" class="img-circle" src="/Images/lady.png" style="width: 25px; height: 25px;" />
                                                    }
                                                }
                                                @if (item.MediaType.CallIndex == "weixin")
                                                {
                                                    <a class='label' href='http://weixin.sogou.com/weixin?type=1&query=@item.MediaID' target='_blank'><i class='fa fa-link'></i> <span id="@item.Id">@item.MediaName - @item.MediaID</span></a>
                                                    <button class='btn btn-white btn-xs btn-outline' data-toggle='tooltip' title='媒体名称复制到剪切板' data-clipboard-target='#@item.Id'><i class='fa fa-copy'></i></button>

                                                }
                                                else if (item.MediaType.CallIndex == "sinablog")
                                                {
                                                    <a class='label' href='https://weibo.com/u/@item.MediaID' target='_blank' data-toggle='tooltip' data-placement='bottom' title='@item.Abstract'><i class='fa fa-link'></i> <span id="@item.Id">@item.MediaName</span></a>
                                                    <button class='btn btn-white btn-xs btn-outline' data-toggle='tooltip' title='媒体名称复制到剪切板' data-clipboard-target='#@item.Id'><i class='fa fa-copy'></i></button>

                                                }
                                                else if (item.MediaType.CallIndex == "zhihu")
                                                {
                                                    <a class='label' href='https://www.zhihu.com/people/@item.MediaID' target='_blank'><i class='fa fa-link'></i> <span id="@item.Id">@item.MediaName</span></a>
                                                    <button class='btn btn-white btn-xs btn-outline' data-toggle='tooltip' title='媒体名称复制到剪切板' data-clipboard-target='#@item.Id'><i class='fa fa-copy'></i></button>
                                                }
                                                else
                                                {
                                                    if (!string.IsNullOrWhiteSpace(item.MediaLink))
                                                    {
                                                        <a class='label' href='@item.MediaLink' target='_blank'><i class='fa fa-link'></i> <span id="@item.Id">@item.Platform @item.MediaName @item.Client @item.Channel</span></a>
                                                        <button class='btn btn-white btn-xs btn-outline' data-toggle='tooltip' title='媒体名称复制到剪切板' data-clipboard-target='#@item.Id'><i class='fa fa-copy'></i></button>
                                                    }
                                                    else
                                                    {
                                                        @item.Platform
                                                        @item.MediaName
                                                        @item.Client
                                                        @item.Channel
                                                    }
                                                }

                                            </div>
                                            @if (!string.IsNullOrWhiteSpace(item.Area))
                                            {
                                                <div class='p-xxs'>
                                                    <span class='btn btn-info btn-outline btn-xs'><i class='fa fa-map-marker'></i> @item.Area</span>
                                                </div>
                                            }
                                            @if (!string.IsNullOrWhiteSpace(item.AuthenticateType))
                                            {
                                                <div class='p-xxs'>
                                                    <span class='btn btn-warning btn-outline btn-xs'><i class='fa fa-trophy'></i> @item.AuthenticateType</span>
                                                </div>
                                            }
                                            @if (item.MediaTags.Count > 0)
                                            {
                                                <div class='p-xxs'>
                                                    @foreach (var tag in item.MediaTags.Take(5))
                                                    {
                                                        <span class='btn btn-success btn-outline btn-xs'><i class='fa fa-tag'></i> @tag.TagName</span>
                                                    }
                                                </div>
                                            }
                                            @if (item.FansNum != null)
                                            {
                                                <div class='p-xxs'>
                                                    <span class='btn btn-danger btn-outline btn-xs'><i class='fa fa-users'></i> 粉丝：@Utils.ShowFansNum(item.FansNum) 万</span>
                                                </div>
                                            }
                                            @if (!string.IsNullOrWhiteSpace(item.RetentionTime))
                                            {
                                                <div class='p-xxs'>
                                                    <span class='btn btn-info btn-outline btn-xs'><i class='fa fa-clock-o'></i> 保留时长：@item.RetentionTime</span>
                                                </div>
                                            }
                                        </td>
                                        @if (isData.Contains(Model.MediaTypeIndex))
                                        {
                                            var lastDate = item.LastPushDate?.ToString("yyyy-MM-dd");

                                            if (Model.MediaTypeIndex == "weixin")
                                            {

                                                <td>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>平均头条阅读数：@item.AvgReadNum</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>最近头条阅读数：@item.LastReadNum</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>月发布频次：@item.PublishFrequency</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>月发文篇数：@item.MonthPostNum</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>最近发文日期：@lastDate</span>
                                                    </div>
                                                </td>
                                            }
                                            if (Model.MediaTypeIndex == "sinablog")
                                            {
                                                <td>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>平均转发数：@item.TransmitNum</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>平均评论数：@item.CommentNum</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>平均点赞数：@item.LikesNum</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>微博总数：@item.PostNum</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>一周博文数：@item.MonthPostNum</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>最近博文日期：@lastDate</span>
                                                    </div>
                                                </td>
                                            }
                                            if (Model.MediaTypeIndex == "douyin")
                                            {
                                                <td>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>平均浏览数：@item.AvgReadNum</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>平均评论数：@item.CommentNum</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>平均点赞数：@item.LikesNum</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>平均分享数：@item.TransmitNum</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>发布视频总数：@item.PostNum</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>最近视频日期：@lastDate</span>
                                                    </div>
                                                </td>
                                            }
                                            if (Model.MediaTypeIndex == "redbook")
                                            {
                                                <td>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>平均点赞数：@item.AvgReadNum</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>平均评论数：@item.CommentNum</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>平均收藏数：@item.TransmitNum</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>关注数：@item.FriendNum</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>赞与收藏：@item.LikesNum</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>笔记总数：@item.PostNum</span>
                                                    </div>

                                                </td>
                                            }
                                        }
                                    <td>
                                        <ul class='list-group m-b-none'>
                                            @foreach (var price in item.MediaPrices.Where(d=>d.IsDelete==false))
                                            {

                                                <li class='list-group-item p-xxs'>
                                                    <span class='badge badge-success'>成本 : <i class='fa fa-jpy'></i> @price.PurchasePrice</span>

                                                    <span class='badge badge-danger'>销售 : <i class='fa fa-jpy'></i> @price.MarketPrice</span>
                                                    <span class='badge badge-warning'>零售 : <i class='fa fa-jpy'></i> @price.SellPrice</span>
                                                    @price.AdPositionName
                                                </li>
                                            }

                                            <li class='list-group-item p-xxs'><span class='badge'>@priceDate</span>价格有效期</li>
                                        </ul>
                                    </td>
                                    <td>
                                        @if (item.PriceProtectionDate ==null|| item.PriceProtectionDate == 0)
                                        {
                                            <span>不保价</span>
                                        }
                                        else
                                        {
                                            var isPre = item.PriceProtectionIsPrePay == true ? "是" : "否";
                                            var isBrand = item.PriceProtectionIsBrand == true ? "是" : "否";
                                            var str = "";
                                            switch (item.PriceProtectionDate)
                                            {
                                                case 1:
                                                    str = "一个月";
                                                    break;
                                                case 2:
                                                    str = "两个月";
                                                    break;
                                                case 3:
                                                    str = "三个月";
                                                    break;
                                                case 6:
                                                    str = "半年";
                                                    break;
                                            }
                                            <ul class='list-group'>
                                                <li class='list-group-item p-xxs'><span class='badge badge-success'>@str</span> 保价期</li>
                                                <li class='list-group-item p-xxs'><span class='badge badge-success'>@isPre</span> 是否预付</li>
                                                <li class='list-group-item p-xxs'><span class='badge badge-success'>@isBrand</span> 品牌提供</li>
                                            </ul>
                                        }
                                    </td>
                                        <td>
                                            @foreach (var group in item.MediaGroups.Where(d=>d.GroupType==Consts.StateNormal))
                                            {
                                                <button class='btn btn-warning btn-xs' onclick="groupDetail('@group.Id');"><i class='fa fa-object-group'></i>@group.GroupName</button>
                                            }
                                        </td>
                                        <td>@item.Content</td>
                                        <td>@item.Remark</td>
                                        <td>@item.Transactor</td>
                                    </tr>
                                }


                            </tbody>
                        </table>

                    }



                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal" id="exportModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <i class="fa fa-download modal-icon"></i>
                    <h4 class="modal-title">媒体资源导出</h4>
                    <small class="font-bold">请选择要导出的价格类型（可多选，如不选默认为成本价格）.</small>
                </div>
                <div class="modal-body text-center">
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" name="PriceType" value="0" checked="">
                        <label for="inlineCheckbox1"> 成本价格 </label>
                    </div>
                    <div class="checkbox checkbox-success checkbox-success checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox2" name="PriceType" value="1">
                        <label for="inlineCheckbox2"> 销售价格 </label>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox3" name="PriceType" value="2">
                        <label for="inlineCheckbox3"> 零售价格 </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="exportData();">导出</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section StylesFirst {
    <meta name="referrer" content="never">
}
@section Styles {
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/footableV3Styles")
}

@section Scripts {
    @Scripts.Render("~/plugins/footableV3")
    @Scripts.Render("~/plugins/clipboard")
    <script type="text/javascript">
        $(function() {
            @if (Model.Medias.Count > 0)
            {
                <text>
            $('.table').footable();
            new Clipboard('.btn-white');
                </text>
            }
/**/
            @if (Model.NoExistent.Any())
            {
                <text>
                    swal("查询结果", "以下资源不存在：@string.Join(",",Model.NoExistent)", "warning");
                </text>
            }
            //$(".wrapper.wrapper-content form").validate({
            //    submitHandler: function(form) {
            //        $('.row .ibox').children('.ibox-content').toggleClass('sk-loading');
            //        form.submit();
            //    }
            //        });
            $("#MediaTypeIndex").change(function () {
                var $adpostion = $("#AdPositionName");
                $adpostion.empty();
                if ($(this).val()) {
                    var selectdata = $(this).find('option:selected').attr("data-value");
                    var arr = JSON.parse(selectdata);
                    $adpostion.append("<option value=''>不限</option>");
                    $.each(arr,
                        function(k, v) {
                            $adpostion.append("<option value='" + v + "'>" + v + "</option>");
                        });
                } else {
                    $adpostion.append("<option value=''>不限</option>");
                }
            });
        });

        function exportData() {
            if (!$("#MediaTypeIndex").val()) {
                swal("提醒", "请选择媒体类型！", "warning");
                $('#exportModal').modal('hide');
                return;
            }
            var chkValue =[];
            $('#exportModal input:checkbox:checked').each(function(){
                chkValue.push($(this).val());
            });
            $("#PriceType").val(chkValue.join(','));
            $("#export").val("export");
            $('form')[0].submit();
            $("#export").val("");
            $('#exportModal').modal('hide');
            swal({
                title: "数据正在导出中...",
                text: "请耐心等待"
             });
        }

        function details(url) {
            $("#modalView").load(url,
                function () {
                    $('#modalView .modal').modal('show');

                });
        }
        function groupDetail(id) {
            $("#modalView").load("/Resource/MediaGroup/Detail/" + id,
                function () {
                    $('#modalView .modal').on('shown.bs.modal', function () {
                        $('[data-toggle="tooltip"]').tooltip();
                    }).on('hidden.bs.modal', function () {

                    });
                    $('#modalView .modal').modal('show');
                });

        }




    </script>
}
