@using System.Web.Optimization
@using Ada.Framework

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>江西微广 | @ViewBag.Title</title>
    <!-- Primary Inspinia style -->
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
</head>
<body class="gray-bg">

    <!-- Main view  -->
    @RenderBody()
    <!-- End wrapper-->
    <div id="modalView"></div>
    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/sweetAlert")
    <!-- Handler for local scripts -->
    @RenderSection("Scripts", required: false)
</body>
</html>
