@using System.Web.Optimization
@using Ada.Framework

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>江西微广 | @ViewBag.Title</title>

    @*<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>*@
    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("StylesFirst"))
    {@RenderSection("StylesFirst", required: false)}
    @Styles.Render("~/plugins/toastrStyles")
    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.css")" rel="stylesheet" type="text/css" />

    <!-- Primary Inspinia style -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
</head>
<body>

    <!-- Skin configuration box -->
    @Html.Partial("_SkinConfig")

    <!-- Wrapper-->
    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <div id="wrapper" class="@Html.PageClass()">

        <!-- Navigation -->
        @Html.Partial("_Navigation")

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            @Html.Partial("_Footer")

        </div>
        <!-- End page wrapper-->
        <!-- Right Sidebar -->
        @Html.Partial("_RightSidebar")

    </div>
<!-- End wrapper-->
    <div id="modalView"></div>
    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")
    @Scripts.Render("~/plugins/toastr")
    <!-- Skin config script - only for demo purpose-->
    @Scripts.Render("~/bundles/skinConfig")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/moment")
    @Scripts.Render("~/bundles/base")
    <!-- Handler for local scripts -->
    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            if ($(".field-validation-error").text()) {
                $(".bg-danger").addClass("p-xs").addClass("b-r-sm");
            }
            $('[data-toggle="tooltip"]').tooltip();
            @if (TempData["Msg"]!= null){
                <text>
                    toastr.options.positionClass = "toast-bottom-right";
                    toastr.success('@TempData["Msg"]');
                </text>
            }
            @if (TempData["Warning"]!= null){
                <text>
                    toastr.options.positionClass = "toast-bottom-right";
                    toastr.warning('@TempData["Warning"]');
                </text>
            }
          initChangePwd("@Url.Action("ChangePassword", "Manager",new{area="Admin"})",$('@Html.AntiForgeryToken()').val());
          initCropper("@Url.Action("UploadImage","Manager",new{area="Admin"})");
        });
    </script>
</body>
</html>
