@using System.Web.Optimization
@using Ada.Core.Infrastructure
@using Ada.Core.Tools
@using Ada.Core.ViewModel.Setting
@using Ada.Framework
@using Ada.Services.Setting
@{
    var setting = EngineContext.Current.Resolve<ISettingService>().GetSetting<WeiGuang>();
    List<string> msgs = ViewBag.TopMessage == null ? new List<string>() : ViewBag.TopMessage;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>江西微广 | @ViewBag.Title</title>
    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("StylesFirst"))
    {@RenderSection("StylesFirst", required: false)}
    @Styles.Render("~/plugins/toastrStyles")
    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.css")" rel="stylesheet" type="text/css" />

    <!-- Primary Inspinia style -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

</head>
<body>

    <!-- Skin configuration box -->
    @Html.Partial("_SkinConfig")

    <!-- Wrapper-->
    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <div id="wrapper" class="@Html.PageClass()">

        <!-- Navigation -->
        @Html.Partial("_Navigation")

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            @Html.Partial("_Footer")

        </div>
        <!-- End page wrapper-->
        <!-- Right Sidebar -->
        @Html.Partial("_RightSidebar")

    </div>
    <!-- End wrapper-->
    <div id="modalView"></div>
    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")
    @Scripts.Render("~/plugins/toastr")
    <!-- Skin config script - only for demo purpose-->
    @Scripts.Render("~/bundles/skinConfig")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/moment")
    @Scripts.Render("~/bundles/base")
    @if (setting.ErpWebSocket)
    {
        <script src="@Url.Content("~/Areas/WebSocket/Scripts/jquery.signalR-2.4.0.min.js")"></script>
        <script src="@Url.Content("~/Areas/WebSocket/Scripts/jquery.signalR.helper.js?v="+DateTime.Now.Ticks)"></script>
    }
    <!-- Handler for local scripts -->
    @RenderSection("Scripts", required: false)
    <script>
        var msg = @Html.Raw(Json.Encode(msgs));
    $(document).ready(function () {
        if ($(".field-validation-error").text()) {
            $(".bg-danger").addClass("p-xs").addClass("b-r-sm");
        }
        $('[data-toggle="tooltip"]').tooltip();
        formatter.weather("@Utils.GetIpAddress()");
        @if (TempData["Msg"]!= null){
                <text>
                    swal({
                        title: "@TempData["Msg"]",
                        timer: 2000,
                        type: "success",
                        showConfirmButton: false
                    });
                </text>
            }
        @if (TempData["Warning"]!= null){
                <text>
                    swal({
                        title: "@TempData["Warning"]",
                        timer: 2000,
                        type: "warning",
                        showConfirmButton: false
                    });
                </text>
            }
        initChangePwd("@Url.Action("ChangePassword", "Manager",new{area="Admin"})",$('@Html.AntiForgeryToken()').val());
        initCropper("@Url.Action("UploadImage","Manager",new{area="Admin"})");
        initIdInfo("@Url.Action("BaseInfo","Manager",new{area="Admin"})");
        showMsg(0);
    });
        function showMsg(i) {
            if (msg.length>1) {
                if (i===msg.length) {
                    i = 0;
                }
                $(".topmsg").html('<div class="alert alert-success fadeInLeft animated" style="padding: 6px;">' + msg[i]+'</div>');
                setTimeout(function () {
                        i++;
                        showMsg(i);
                    },
                    5000);
            } else {
                $(".topmsg").html('<div class="alert alert-success fadeInLeft animated" style="padding: 6px;">' + msg[i] + '</div>');
            }
    }
    </script>
</body>
</html>
