@using Ada.Core.ViewModel.Admin
@using Ada.Framework
@{
    var manager = (ManagerView)ViewBag.CurrentManager;
    IEnumerable<MenuView> menus = ViewBag.Menus;
}

<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <span>
            <img alt="image" class="img-circle" src="~/Images/profile_small.jpg" />
          </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold">@manager.UserName</strong>
              </span>

              <span class="text-muted text-xs block">@manager.Roles <b class="caret"></b></span>
            </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            @*<li><a href="@Url.Action("Profile", "AppViews")">Profile</a></li>
              <li><a href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>*@
            <li><a href="#modal-changepwd" data-toggle="modal">修改密码</a></li>
            <li><a href="#modal-image" data-toggle="modal">修改头像</a></li>
            <li class="divider"></li>
            <li><a href="@Url.Action("Quit", "Login",new{area=""})">退出</a></li>
          </ul>
        </div>
        <div class="logo-element">
          VG+
        </div>
      </li>

      @foreach (var menu in menus)
            {
                if (string.IsNullOrWhiteSpace(menu.ParentId))//一级菜单
                {
                    var icon = string.IsNullOrWhiteSpace(menu.IconCls) ? "fa-bars" : menu.IconCls;
                    if (menu.Url != null)
                    {
                        var isLinkurl = !string.IsNullOrWhiteSpace(menu.Url.LinkUrl);
                        if (isLinkurl)
                        {
                      <li class="special_link @Html.IsSelected(menu.Url.Area)">
                        <a href="@menu.Url.LinkUrl" target="_blank">
                          <i class="fa @icon"></i> <span class="nav-label"> @menu.Name</span>
                        </a>
                      </li>
            }
            else
            {
                      <li class="@Html.IsSelected(menu.Url.Area)">
                        <a href="@Url.Action(menu.Url.Action, menu.Url.Colltroller, new { area = menu.Url.Area })">
                          <i class="fa @icon"></i> <span class="nav-label"> @menu.Name</span>
                        </a>
                      </li>
            }

          }
          else
          {
            var first = menus.FirstOrDefault(d => d.ParentId == menu.Id && d.Url != null);
            var area = "";
            if (first != null)
            {
              area = first.Url.Area;
            }
            <li class="@Html.IsSelected(area: area)">
              <a href="javascript:;"><i class="fa @icon"></i> <span class="nav-label"> @menu.Name</span><span class="fa arrow"></span></a>
              <ul class="nav nav-second-level collapse @Html.IsSelected(area: area, cssClass: "in")">
                @foreach (var menu2 in menus.Where(d => d.ParentId == menu.Id))//二级菜单
                {
                  var icon2 = string.IsNullOrWhiteSpace(menu2.IconCls) ? "fa-bars" : menu2.IconCls;
                  if (menu2.Url != null)
                  {
                    var url = string.IsNullOrWhiteSpace(menu2.Url.LinkUrl) ? Url.Action(menu2.Url.Action, menu2.Url.Colltroller, new { area = menu2.Url.Area }) : menu2.Url.LinkUrl;
                        <li class="@Html.IsSelected(controller: menu2.Url.Colltroller)">
                          <a href="@url"><i class="fa @icon2"></i> @menu2.Name</a>
                        </li>
                  }
                }
              </ul>
            </li>
          }

        }
      }
      <li class="special_link @Html.IsSelected(controller: "Default")">
        <a href="@Url.Action("Index", "Default",new{area=""})" target="_blank"><i class="fa fa-star"></i> <span class="nav-label">江西微广</span></a>
      </li>

    </ul>
  </div>
</nav>

<div id="modal-changepwd" class="modal fade" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="text-center">修改密码</h3>
            <hr />
            @using (Html.BeginForm("ChangePassword", "Manager", new { area = "Admin" }))
            {
                <div class="form-group">
                  <label>旧密码</label>
                  <input type="password" class="form-control" name="old">
                </div>
                            <div class="form-group">
                              <label>新密码</label>
                              <input type="password" class="form-control" name="fresh">
                            </div>
                            <div class="form-group">
                              <label>确认密码</label>
                              <input type="password" class="form-control" name="refresh">
                            </div>
                            <div>
                              <button class="btn btn-primary m-t-n-xs" type="submit"><strong>修改</strong></button>
                            </div>
            }
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal inmodal fade" id="modal-image" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">上传图片</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-7">
            <div class="img-container">
              <img id="image" src="/images/gallery/10.jpg" alt="Picture">
            </div>
          </div>
          <div class="col-md-5">
            <h4>预览图片</h4>
            <div class="img-preview img-preview-sm"></div>
            <h4>操作</h4>

            <div class="btn-group">
              <label title="Upload image file" for="inputImage" class="btn btn-primary">
                <input type="file" accept="image/*" name="file" id="inputImage" class="hide">
                上传图片
              </label>
              @*<label title="Donload image" id="download" class="btn btn-primary">Download</label>*@
            </div>

            <h4>调整图片</h4>

            <div class="btn-group">
              <button class="btn btn-white" id="zoomIn" type="button" data-toggle="tooltip" data-placement="bottom" title="放大"><i class="fa fa-search-plus"></i></button>
              <button class="btn btn-white" id="zoomOut" type="button" data-toggle="tooltip" data-placement="bottom" title="缩小"><i class="fa fa-search-minus"></i></button>
              <button class="btn btn-white" id="rotateLeft" type="button" data-toggle="tooltip" data-placement="bottom" title="左转"><i class="fa fa-rotate-left"></i></button>
              <button class="btn btn-white" id="rotateRight" type="button" data-toggle="tooltip" data-placement="bottom" title="右转"><i class="fa fa-rotate-right"></i></button>
              <button class="btn btn-warning" id="cropReset" type="button" data-toggle="tooltip" data-placement="bottom" title="重置"><i class="fa fa-refresh"></i></button>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>


