@using Ada.Core.ViewModel.Customer
@using Ada.Framework
@{
    var user = (LinkManView)ViewBag.CurrentUser;
}
<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="@Url.Action("Index","Default")" class="navbar-brand">微广VIP</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                @*<li class="@Html.IsActive("usercenter","index")">
            <a aria-expanded="false" role="button" href="@Url.Action("Index","UserCenter")"> 会员中心</a>
        </li>*@
                <li class="dropdown @Html.IsActive("usercenter")">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> 会员中心 <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="@Url.Action("Order","UserCenter")">我的订单</a></li>
                        <li><a href="@Url.Action("Group","UserCenter")">我的分组</a></li>
                    </ul>
                </li>
                <li class="@Html.IsActive("media", "weixin")">
                    <a aria-expanded="false" role="button" href="@Url.Action("WeiXin", "Media")"> 微信公众号</a>
                </li>
                <li class="@Html.IsActive("media", "weibo")">
                    <a aria-expanded="false" role="button" href="@Url.Action("WeiBo", "Media")"> 新浪微博</a>
                </li>
                <li class="@Html.IsActive("media", "douyin")">
                    <a aria-expanded="false" role="button" href="@Url.Action("DouYin", "Media")"> 抖音短视频</a>
                </li>
                <li class="@Html.IsActive("media", "redbook")">
                    <a aria-expanded="false" role="button" href="@Url.Action("RedBook", "Media")"> 小红书</a>
                </li>
                <li class="@Html.IsActive("media", "taobao") count-info">
                    <a aria-expanded="false" role="button" href="@Url.Action("Taobao", "Media")"> 淘宝达人 </a>
                </li>
                <li class="@Html.IsActive("media", "bilibili") count-info">
                    <a aria-expanded="false" role="button" href="@Url.Action("Bilibili", "Media")"> B站 </a>
                </li>
                <li class="@Html.IsActive("media", "zhihu")">
                    <a aria-expanded="false" role="button" href="@Url.Action("ZhiHu", "Media")"> 知乎</a>
                </li>
                <li class="@Html.IsActive("media", "toutiao")">
                    <a aria-expanded="false" role="button" href="@Url.Action("Toutiao", "Media")"> 今日头条</a>
                </li>
                <li class="@Html.IsActive("media", "writer")">
                    <a aria-expanded="false" role="button" href="@Url.Action("Writer", "Media")"> 文案</a>
                </li>
                <li class="@Html.IsActive("media", "fans") count-info">
                    <a aria-expanded="false" role="button" href="@Url.Action("Fans", "Media")"> 公众号真粉 <span class="label label-danger" style="right: 0px;">真</span></a>
                </li>
                @*<li class="dropdown">
            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item <span class="caret"></span></a>
            <ul role="menu" class="dropdown-menu">
                <li><a href="">Menu item</a></li>
                <li><a href="">Menu item</a></li>
                <li><a href="">Menu item</a></li>
                <li><a href="">Menu item</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item <span class="caret"></span></a>
            <ul role="menu" class="dropdown-menu">
                <li><a href="">Menu item</a></li>
                <li><a href="">Menu item</a></li>
                <li><a href="">Menu item</a></li>
                <li><a href="">Menu item</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" aria-expanded="false" role="button" class="dropdown-toggle" data-toggle="dropdown"> Menu item <span class="caret"></span></a>
            <ul role="menu" class="dropdown-menu">
                <li><a href="">Menu item</a></li>
                <li><a href="">Menu item</a></li>
                <li><a href="">Menu item</a></li>
                <li><a href="">Menu item</a></li>
            </ul>
        </li>*@
                @*<li class="dropdown">
            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> 会员中心 <span class="caret"></span></a>
            <ul role="menu" class="dropdown-menu">
                <li><a href="">我的订单</a></li>
                <li><a href="">我的项目</a></li>
                <li><a href="">修改密码</a></li>

            </ul>
        </li>*@

            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">【@user.CommpanyName】@user.LoginName</span>
                </li>
                @*<li class="dropdown profile-element">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="label label-info">@user.LoginName</span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li class="divider"></li>
                        <li><a href="javascript:todo();"><i class="fa fa-pencil-square-o"></i> 修改密码</a></li>

                        <li><a href="javascript:todo();"><i class="fa fa-picture-o"></i> 修改资料</a></li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("Quit", "UserCenter")">
                                <i class="fa fa-sign-out"></i> 退出
                            </a>
                        </li>
                    </ul>
                </li>*@
                <li>
                    <a href="@Url.Action("Quit", "UserCenter")">
                        <i class="fa fa-sign-out"></i> 退出
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>