
@using System.Web.Optimization
@model Message.Models.AliYunSet
@{
    ViewBag.Title = "阿里云短信";
}
@Html.Partial("Bread")

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>参数配置<small><a href="https://help.aliyun.com/document_detail/59836.html?spm=a2c4g.11186623.6.587.44455dcflDmw8d" target="_blank">短信接口文档</a></small></h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <p class="bg-danger">@Html.ValidationMessage("message") </p>
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(d => d.Product, Html.DisplayNameFor(d => d.Product).ToString(), new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(d => d.Product, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(d => d.Domain, Html.DisplayNameFor(d => d.Domain).ToString(), new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(d => d.Domain, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(d => d.AccessKey, Html.DisplayNameFor(d => d.AccessKey).ToString(), new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(d => d.AccessKey, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(d => d.AccessKeySecret, Html.DisplayNameFor(d => d.AccessKeySecret).ToString(), new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(d => d.AccessKeySecret, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(d => d.Area, Html.DisplayNameFor(d => d.Area).ToString(), new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(d => d.Area, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(d => d.SignName, Html.DisplayNameFor(d => d.SignName).ToString(), new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(d => d.SignName, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i> 保存</button>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>测试短信发送</h5>
                </div>
                <div class="ibox-content">
                    <form role="form" class="form-inline" id="testFrm">
                        <div class="form-group">
                            <label for="PhoneNumbers" class="sr-only">手机号</label>
                            <input type="number" placeholder="手机号" id="PhoneNumbers" name="PhoneNumbers" class="form-control" required="">
                        </div>
                        <div class="form-group">
                            <label for="TemplateCode" class="sr-only">模板编号</label>
                            <input type="text" placeholder="模板编号" id="TemplateCode" name="TemplateCode" class="form-control" required="" value="SMS_133230131">
                        </div>
                        <div class="form-group">
                            <label for="TemplateParam" class="sr-only">模板参数</label>
                            <input type="text" placeholder="模板参数" id="TemplateParam" name="TemplateParam" class="form-control" required="" value='{"code":"123456"}'>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary ladda-button" data-style="zoom-in" type="submit">发送</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/laddaStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/ladda")
    <script>
        $(function() {
            sendMsg();
        });
        function sendMsg() {
            $("#testFrm").validate({
                submitHandler: function (form) {
                    var subBtn = $('.ladda-button').ladda();
                    var $form = $(form),
                        data = $form.serialize();
                    $.ajax({
                        type: "post",
                        url: "@Url.Action("TestSend")",
                        data: data,
                        success: function (res) {
                            if (res.State == 1) {
                                swal({
                                    title: "操作成功",
                                    text: res.Msg,
                                    type: "success"
                                });
                            } else {
                                swal("操作提醒", res.Msg, "warning");
                            }
                        },
                        error: function () {
                            swal("操作失败", "系统错误", "error");
                        },
                        beforeSend: function () {
                            subBtn.ladda('start');
                        },
                        complete: function () {
                            subBtn.ladda('stop');
                        }
                    });

                }
            });
        }
    </script>
}