@using System.Web.Optimization
@model Ada.Core.Domain.WorkFlow.WorkFlowRecord
@{
    ViewBag.Title = "审批";
    ViewBag.Bread = new List<SelectListItem>() { new SelectListItem() { Text = "审批流程", Value = Url.Action("Index") } };
    string id = "";
}
@Html.Partial("Bread")
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="client-detail">
                        <div class="full-height-scroll">

                            <h2><strong>来自 @Model.AddedBy 的申请</strong></h2>
                            <div class="hr-line-dashed"></div>
                            <ul class="list-group clear-list">
                                <li class="list-group-item fist-item">
                                    <span class="pull-right"> @Model.WorkFlowDefinition.Name </span>
                                    <strong>流程类型</strong>
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> @Model.Title </span>
                                    <strong>申请主题</strong>
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> @Model.WorkFlowDefinition.Description </span>
                                    <strong>流程说明</strong>
                                </li>
                                <li class="list-group-item">

                                    @if (Model.Level == 0)
                                    {
                                        <span class="label label-primary pull-right">一般</span>
                                    }
                                    else if (Model.Level == 1)
                                    {
                                        <span class="label label-warning pull-right">紧急</span>
                                    }
                                    else if (Model.Level == 2)
                                    {
                                        <span class="label label-danger pull-right">速办</span>
                                    }

                                    <strong>紧急程度</strong>
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> @Model.AddedDate.Value.ToString("yyyy年MM月dd日 HH:mm") </span>
                                    <strong>申请日期</strong>
                                </li>
                            </ul>
                            <h2><strong>申请内容</strong></h2>
                            <div class="hr-line-dashed"></div>
                            <p>
                                @Html.Raw(Model.Content)
                            </p>
                            <hr />
                            <h2><strong>审批记录</strong></h2>
                            <div class="hr-line-dashed"></div>
                            <div id="vertical-timeline" class="vertical-container dark-timeline">
                                @foreach (var item in Model.WorkFlowRecordDetails)
                                {
                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon gray-bg">
                                            <i class="fa fa-gavel"></i>
                                        </div>
                                        <div class="vertical-timeline-content">
                                            <p>
                                                审批流程：@item.Name
                                            </p>
                                            <p>
                                                审批建议：@item.ProcessComment
                                            </p>
                                            <p>
                                                审批结果：
                                                @if (item.Status == 1)
                                                {
                                                    @item.ProcessResult
                                                }
                                                else
                                                {
                                                    <text>等待 [ @item.ProcessBy ] 审批 </text>
                                                    id = item.Id;
                                                }
                                            </p>
                                            @if (item.Status == 1)
                                            {
                                                <span class="vertical-date small text-muted">
                                                    @item.ProcessBy <i class="fa fa-clock-o"></i>
                                                    @if (item.ProcessDate.HasValue)
                                                    {
                                                        @item.ProcessDate.Value.ToString("yyyy-MM-dd HH:mm")
                                                    }
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="vertical-date small text-muted">
                                                    <i class="fa fa-hourglass"></i>

                                                </span>
                                            }


                                        </div>
                                    </div>
                                }


                            </div>
                            <h2><strong>审批流程</strong></h2>
                            <div class="hr-line-dashed"></div>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <label>审批意见</label>
                                    <textarea name="ProcessComment" placeholder="请输入审批意见" class="form-control"></textarea>
                                </div>

                                <div class="form-group">
                                    <label>审批结果</label>
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="Level1" value="通过" name="ProcessResult" checked="">
                                        <label for="Level1"> 通过 </label>
                                    </div>
                                    <div class="radio radio-warning radio-inline">
                                        <input type="radio" id="Level2" value="驳回" name="ProcessResult">
                                        <label for="Level2"> 驳回 </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>流转至</label>
                                    <select name="FlowTo" class="form-control">
                                        <option value="">请选择</option>
                                        @foreach (var item in (List<SelectListItem>)ViewBag.FlowTos)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                                <div>
                                    <input type="hidden" name="Id" value="@id"/>
                                    <button class="btn btn-sm btn-primary" type="submit"><strong>提交保存</strong></button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
        @Styles.Render("~/plugins/awesomeCheckboxStyles")
    }


