@using System.Web.Optimization
@using Ada.Core.Domain
@using Ada.Core.Infrastructure
@using Ada.Core.ViewModel.Setting
@using Ada.Services.Setting
@model List<Ada.Core.Domain.Resource.MediaGroup>
@{
    ViewBag.Title = "我的分组";
    Layout = "~/Views/Shared/_Layout_Web.cshtml";
    var gIds = Model.FirstOrDefault()?.Id;
    var settingService = EngineContext.Current.Resolve<ISettingService>();
    var setConfig = settingService.GetSetting<WeiGuang>();
}

<div class="wrapper wrapper-content">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">

                        <h4>
                            我的分组
                            <button type="button" class="btn btn-success btn-xs pull-right" onclick="location.reload();">
                                <i class="fa fa-refresh"></i> 刷新
                            </button>
                        </h4>

                        <ul class="folder-list m-b-md" style="padding: 0">
                            @foreach (var item in Model)
                            {
                                <li><a href="javascript:;" onclick="refreshTable('@item.Id','@item.GroupName')"> <i class="fa fa fa-bars "></i> @item.GroupName <span class="label label-warning pull-right">@item.Medias.Count(d => d.IsDelete==false&&d.Status==Consts.StateNormal)</span> </a></li>
                            }
                        </ul>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">

                @if (Model.Any())
                {
                    var media1 = Model.FirstOrDefault();
                    <form method="get" action="#" class="pull-right mail-search">
                        <input type="hidden" id="GroupId" value="@gIds" />
                        <button type="button" class="btn btn-sm btn-danger" id="delGroup">
                            删除该分组
                        </button>
                    </form>
                    <h2 id="groupName">
                        @media1.GroupName
                    </h2>
                }
                else
                {
                    <h2>
                        您还未有任何媒体分组信息：）
                    </h2>
                }
            </div>
            <div class="mail-box">
                <table id="table"></table>
            </div>
            <div id="toolbar" class="m-l-sm">
                <div class="form-inline" role="form">
                    <div class="form-group">
                        <button type="button" class="btn btn-warning btn-outline" data-toggle="modal" data-target="#exportGroupModal">
                            <i class="fa fa-download"></i> 导出资源
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal" id="exportGroupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInUp">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-download modal-icon"></i>
                <h4 class="modal-title">导出分组内资源</h4>
                <small class="font-bold">导出说明：每次导出数据记录数最多 @setConfig.UserExportGroupRows 条，每日导出操作最多 @setConfig.UserExportTimes 次</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">是否导出媒体指数</label>
                        <div class="col-sm-7">
                            <div class="radio radio-info radio-inline">
                                <input type="radio" name="IsData" id="isdatatrue" value="true" />
                                <label for="isdatatrue"> 是 </label>
                            </div>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" name="IsData" id="isdatafalse" value="false" checked="" />
                                <label for="isdatafalse"> 否 </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">返回关闭</button>
                <button type="button" class="btn btn-primary ladda-button" data-style="zoom-in" onclick="exportGroup();">开始导出</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/bootstrapTableStyle")
    @Styles.Render("~/plugins/laddaStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/bootstrapTableScript")
    @Scripts.Render("~/plugins/ladda")
    <script type="text/javascript">

        $(document).ready(function () {
            @if (!string.IsNullOrWhiteSpace(gIds))
            {
                <text>
                    initTable();
                </text>
            }
            $("#delGroup").click(function() {
                delGroup();
            });
        });

        function initTable() {
             $('#table').bootstrapTable({
                url: '@Url.Action("GetList","Media")', //请求后台的URL（*）
                 method: 'post',
                 contentType: "application/x-www-form-urlencoded",
                classes: "table table-no-bordered",
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "desc",                   //排序方式
                sortName:"Id",
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,                 //设置为 true启用 全匹配搜索，否则为模糊搜索
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                singleSelect: true,                  //设置True 将禁止多选
                uniqueId: "Id",                     //每一行的唯一标识，一般为主键列
                //searchAlign:"left",
                formatSearch: function() {
                    return "媒体名称或媒体ID";
                },
                mobileResponsive: true,
                queryParams: function (parameters) {
                    parameters.GroupId = '@gIds';
                    return searchFrm.queryParams(addAntiForgeryToken(parameters));
                 },
                 //onLoadSuccess: function(data) {
                 //    var gid = $("#GroupId").val();
                 //    $("#" + gid).text(data.total);
                 //},
                columns: [
                    {
                        field: 'MediaLogo',
                        align: "right", valign: "middle",
                        formatter: formatter.mediaLogo

                    },
                    {
                        field: 'MediaTypeName',
                        title: '所属平台',
                        valign: "middle",
                        align: "center"
                    },
                    {
                        field: 'MediaName',
                        title: '媒体名称',
                        valign: "middle",
                        align: "left",
                        formatter: formatter.mediaInfo
                    },

                    {
                        field: 'MediaPrices',
                        title: '广告位参考价格',
                        valign: "middle",
                        align: "left",
                        formatter: formatter.mediaPrice,
                        //align: "center"
                    },

                    {
                        field: 'Id',
                        title: '操作',
                        valign: "middle",
                        align: "center",
                        formatter: formatter.groupOperation
                    }
                ]
            });
        }


        function refreshTable(id,name) {
            $('#table').bootstrapTable('refresh', { query: { GroupId: id } });
            $("#GroupId").val(id);
            $("#groupName").text(name);
        }

    </script>
}