@using System.Web.Optimization
@model Ada.Core.ViewModel.Content.ArticleView
@{
    ViewBag.Title = "编辑文章";
    ViewBag.Bread = new List<SelectListItem>() { new SelectListItem() { Text = "文章管理", Value = Url.Action("Index") } };
}
@Html.Partial("Bread")
<div class="wrapper wrapper-content animated fadeInRight">
    @using (Html.BeginForm("Update", "Article", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <p class="bg-danger">@Html.ValidationMessage("message") </p>
        @Html.Partial("Edit")
    }
</div>
@section Styles {
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/select2ThemeStyles")
    @Styles.Render("~/plugins/summernoteStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/select2Tree")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/summernote")
    <script src="@Url.Content("~/Areas/Content/Scripts/htmledit.js?v="+DateTime.Now.ToString("yyMMdd"))"></script>
    <script>
        $(function () {
            $("#ColumnId").select2tree();
            initSummernote();
        });
    </script>
}
