@using System.Web.Optimization
@using Ada.Core.Domain
@using Ada.Core.Domain.Customer
@model PayAccount
@{
    ViewBag.Title = "审批账户";
    List<SelectListItem> urls = new List<SelectListItem>() { new SelectListItem() { Text = "客户账户", Value = Url.Action("Index") } };
}
@Html.Partial("Bread", urls)


<div class="wrapper wrapper-content">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-12">
                <div class="tabs-container">

                    <p class="bg-danger">@Html.ValidationMessage("message") </p>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1"> 申请信息</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-2"> 客户信息</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-3"> 订单信息</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        @Html.LabelFor(d => d.AccountName, Html.DisplayNameFor(d => d.AccountName).ToString(), new { @class = "col-sm-2 control-label" })
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(d => d.AccountName, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        @Html.LabelFor(d => d.Remark, Html.DisplayNameFor(d => d.Remark).ToString(), new { @class = "col-sm-2 control-label" })
                                        <div class="col-sm-10">
                                            @Html.TextAreaFor(d => d.Remark, new { @class = "form-control", @readonly = "" })
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        @Html.LabelFor(d => d.Status, Html.DisplayNameFor(d => d.Status).ToString(), new { @class = "col-sm-2 control-label" })
                                        <div class="col-sm-10">
                                            <div class="radio radio-info radio-inline">
                                                @Html.RadioButtonFor(d => d.Status, 1)
                                                <label> 同意 </label>
                                            </div>
                                            <div class="radio radio-info radio-inline">
                                                @Html.RadioButtonFor(d => d.Status, 0)
                                                <label> 拒绝 </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <a class="btn btn-outline btn-default" href="javascript:window.history.go(-1);"><i class="fa fa-reply"></i> 返回</a>
                                            <button class="btn btn-primary" type="submit"><i class="fa fa-floppy-o"></i> 保存</button>
                                        </div>
                                    </div>
                                    @Html.HiddenFor(d => d.Id)

                                </div>

                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <h3 class="text-center">客户基本信息</h3>
                                <div class="hr-line-dashed"></div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-horizontal">
                                            <div class="form-group col-md-4">
                                                <label class="col-sm-4 control-label">公司名称</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" readonly="readonly" value="@Model.LinkMan.Commpany.Name" />
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="col-sm-4 control-label">客户名称</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" readonly="readonly" value="@Model.LinkMan.Name" />
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="col-sm-4 control-label">客户状态</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" readonly="readonly" value="@Model.LinkMan.Status" />
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="col-sm-4 control-label">客户微信</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" readonly="readonly" value="@Model.LinkMan.WeiXin" />
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="col-sm-4 control-label">客户QQ</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" readonly="readonly" value="@Model.LinkMan.QQ" />
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="col-sm-4 control-label">客户电话</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" readonly="readonly" value="@Model.LinkMan.Phone" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <caption class="text-center">
                                                    <h3>客户账户信息</h3>
                                                </caption>
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            账户类型
                                                        </th>
                                                        <th>
                                                            账户名称
                                                        </th>
                                                        <th>
                                                            账户账号
                                                        </th>
                                                        <th>
                                                            备注信息
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.LinkMan.PayAccounts.Where(d => d.Status == Consts.StateNormal))
                                                    {
                                                        <tr>
                                                            <td>@item.AccountType</td>
                                                            <td>@item.AccountName</td>
                                                            <td>@item.AccountNum</td>
                                                            <td>@item.Remark</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>


                        <div id="tab-3" class="tab-pane">
                            <div class="panel-body">


                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped">

                                                <thead>
                                                    <tr>
                                                        <th>
                                                            订单编号
                                                        </th>
                                                        <th>
                                                            项目摘要
                                                        </th>
                                                        <th>
                                                            销售总额（不含税）
                                                        </th>
                                                        <th>
                                                            订单日期
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.LinkMan.BusinessOrders.OrderByDescending(d => d.OrderDate).Take(20))
                                                    {
                                                        <tr>
                                                            <td>
                                                                <button class="btn btn-info btn-xs" type="button" onclick="initDetails('@item.Id')">@item.OrderNum</button>
                                                            </td>
                                                            <td>@item.Remark</td>
                                                            <td>@item.BusinessOrderDetails.Sum(d => d.SellMoney)</td>
                                                            <td>@item.OrderDate.Value.ToString("yyyy年MM月dd日")</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section StylesFirst {
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/blueimp")
}
@section Scripts {
    @Scripts.Render("~/plugins/lightboxGallery")
<script>
        function initDetails(id) {
            $("#modalView").load("@Url.Action("Details","Order",new{area="Business"})?id="+id,
                function () {
                    $('#modalView .modal').on('shown.bs.modal', function () {
                        $('[data-toggle="tooltip"]').tooltip();
                    }).on('hidden.bs.modal', function () {

                    });
                    $('#modalView .modal').modal('show');
                });

        }
</script>
}



