
@using System.Web.Optimization
@model Ada.Core.ViewModel.QuartzTask.JobView
@{
    ViewBag.Title = "微信文章监测";
}
@Html.Partial("Bread")
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table id="table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.AntiForgeryToken()
<div id="toolbar" class="btn-group">
    <a id="btn_add" class="btn btn-primary btn-outline" href="@Url.Action("Add")">
        <i class="fa fa-plus"></i> 新增任务
    </a>
</div>

@section Styles {
    @Styles.Render("~/plugins/bootstrapTableStyle")
}

@section Scripts {
    @Scripts.Render("~/plugins/bootstrapTableScript")
    @Scripts.Render("~/plugins/echarts")
    <script type="text/javascript">

        $(document).ready(function() {
            var table = new TableInit();
            table.Init();
        });
        var TableInit = function() {
            var obj = new Object();
            obj.Init = function() {
                $('#table').bootstrapTable({
                    classes: "table table-no-bordered",
                    url: '@Url.Action("GetList", "Job")', //请求后台的URL（*）
                    toolbar: '#toolbar', //工具按钮用哪个容器
                    striped: true, //是否显示行间隔色
                    cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true, //是否显示分页（*）
                    sortable: true, //是否启用排序
                    sortOrder: "desc", //排序方式
                    sortName: "Id",
                    sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
                    pageNumber: 1, //初始化加载第一页，默认第一页
                    pageSize: 10, //每页的记录行数（*）
                    search: true, //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    strictSearch: true, //设置为 true启用 全匹配搜索，否则为模糊搜索
                    showColumns: true, //是否显示所有的列
                    showRefresh: true, //是否显示刷新按钮
                    minimumCountColumns: 2, //最少允许的列数
                    clickToSelect: true, //是否启用点击选中行
                    singleSelect: true, //设置True 将禁止多选
                    uniqueId: "Id", //每一行的唯一标识，一般为主键列
                    showToggle: true, //是否显示详细视图和列表视图的切换按钮
                    cardView: false, //设置为 true将显示card视图，适用于移动设备。否则为table试图，适用于pc
                    //detailView: true,                   //设置为 true 可以显示详细页面模式。
                    //detailFormatter: detailFormatter,
                    mobileResponsive: true,
                    formatSearch: function() {
                        return "任务名称";
                    },
                    queryParams: function(parameters) {
                        parameters.Type = 1;
                        return searchFrm.queryParams(parameters);
                    },
                    columns: [
                        {
                            field: 'TriggerState',
                            align: "center",
                            valign: "middle",
                            formatter: function(value, row) {
                                var isStart = value == "Normal";
                                var ico = isStart ? "fa-stop" : "fa-play";
                                var str = isStart ? "停止当前任务" : "开始当前任务";
                                var color = isStart ? "danger" : "primary";
                                return "<a data-toggle='tooltip' title='" +
                                    str +
                                    "' class='btn btn-" +
                                    color +
                                    " btn-xs' href='javascript:job(\"" +
                                    row.Id +
                                    "\"," +
                                    isStart +
                                    ");'><i class='fa " +
                                    ico +
                                    "'></i></a>";
                            }
                        },
                        {
                            field: 'JobName',
                            title: '@Html.DisplayNameFor(d => d.JobName)',
                            align: "center",
                            valign: "middle",
                            formatter: function(value, row) {
                                return "<a class='label' href='" +
                                    row.Params +
                                    "' target='_blank'><i class='fa fa-link'></i> " +
                                    value +
                                    "</a>";
                            }
                        },
                        {
                            field: 'StartTime',
                            title: '@Html.DisplayNameFor(d => d.StartAndEnd)',
                            align: "center",
                            valign: "middle",
                            formatter: function(value, row) {
                                if (value) {
                                    return moment(value).format("YYYY-MM-DD HH:mm:ss") +
                                        " 至 " +
                                        moment(row.EndTime).format("YYYY-MM-DD HH:mm:ss");
                                }
                            }
                        },
                        {
                            field: 'Remark',
                            title: '@Html.DisplayNameFor(d => d.Remark)',
                            align: "center",
                            valign: "middle",
                        },
                        {
                            field: 'NextTime',
                            title: '@Html.DisplayNameFor(d => d.NextTime)',
                            align: "center",
                            valign: "middle",
                            formatter: function(value) {
                                if (value) {
                                    return moment(value).format("YYYY-MM-DD HH:mm:ss");
                                }
                            }
                        },
                        {
                            field: 'Id',
                            title: '操作',
                            align: "center",
                            valign: "middle",
                            formatter: function(value, row) {

                                return "<div class='p-xxs'>" +
                                    "<div class='btn-group'>" +
                                    "<a class='btn btn-primary btn-outline btn-sm' href='javascript:jobChart(\"" +
                                    value +
                                    "\");'><i class='fa fa-area-chart'></i>  走势</a> " +
                                    "<a class='btn btn-warning btn-outline btn-sm' href='javascript:exportFile(\"" +
                                    value +
                                    "\");'><i class='fa fa-download'></i>  导出</a> " +
                                    "<a class='btn btn-success btn-outline btn-sm' href='@Url.Action("Update")?id=" +
                                    value +
                                    "'><i class='fa fa-pencil'></i>  编辑</a> " +
                                    "<button class='btn btn-danger btn-outline btn-sm' onclick=\"deleteData('@Url.Action("Delete", "Job")','" +
                                    value +
                                    "');\"><i class='fa fa-trash-o'></i> 删除</button>" +
                                    "</div></div>";


                            }
                        }
                    ]
                });
            };
            return obj;
        };

        function job(id, is) {
            var data = { id: id };
            var url = is ? "@Url.Action("Stop")" : "@Url.Action("Start")";
            $.ajax({
                type: "post",
                url: url,
                data: addAntiForgeryToken(data),
                success: function(data) {
                    if (data.State === 1) {
                        $("#table").bootstrapTable('refresh');
                    } else {
                        swal("操作提醒", data.Msg, "warning");
                    }
                },
                error: function() {
                    swal("操作失败", "系统错误", "error");
                },
                complete: function() {

                }

            });
        }

        function jobChart(id) {
            $("#modalView").load("@Url.Action("Chart")?id=" + id,
                function() {
                    $('#modalView .modal').on('shown.bs.modal',
                        function() {
                            initCharts();
                            var chart = initChartsAdd();
                            $('.scroll_content').slimscroll({
                                height: '600px'
                            });
                            $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
                                chart.resize();
                            });

                        }).on('hidden.bs.modal',
                        function() {

                        });
                    $('#modalView .modal').modal('show');
                });

        }


        function exportFile(id) {
            swal({
                    title: "确认要导出监测数据吗?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                function() {
                    $.ajax({
                        type: "get",
                        url: "@Url.Action("Export")",
                        data: { id: id },
                        success: function(data) {
                            if (data.State == 1) {
                                swal({
                                    title: "导出成功",
                                    text: "正在下载中...",
                                    timer: 2000,
                                    showConfirmButton: false
                                });
                                window.location.href = "/Resource/Media/Download?file=" + data.Msg;
                            } else {
                                swal("消息", data.Msg, "warning");
                            }
                        },
                        error: function() {
                            swal("错误", "系统错误", "error");
                        }
                    });
                });
        }


    </script>
}








