@using System.Web.Optimization
@using Ada.Core.ViewModel
@using Ada.Framework
@model Ada.Core.ViewModel.Admin.ActionView
@{
    ViewBag.Title = "功能权限";
    List<TreeView> actions = ViewBag.Actions;
}



@Html.Partial("Bread")

@helper TreeHelper(List<TreeView> list)
{
    if (list.Count>0)
    {
        <ul>
            @foreach (var item in list)
            {
                <li class="jstree-open">
                   <span onclick="">@item.Text</span> 
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-link btn-xs dropdown-toggle"><span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="addNode('@item.Id');">添加子节点</a></li>
                            <li><a href="#" onclick="updateNode('@item.Id');">编辑子节点</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:;" onclick="deleteAction('@item.Id','@item.Text');">删除此节点</a></li>
                        </ul>
                    </div>
                    @TreeHelper(item.Children)
                </li>
            }
        </ul>
    }
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>功能权限列表 <small>控制用户的行为.</small></h5>
                    <div class="ibox-tools">
                        
                        <button type="button" class="btn btn-primary btn-xs" onclick="$('#jstree').jstree('close_all');"><i class="fa fa-plus"></i> 折叠</button>
                        <button type="button" class="btn btn-warning btn-xs" onclick="$('#jstree').jstree('open_all');"><i class="fa fa-minus"></i> 展开</button>
                        <button type="button" class="btn btn-success btn-xs m-l-xl" onclick="addNode();">添加根节点</button>
                        @*<a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>*@

                    </div>
                </div>
                <div class="ibox-content">

                    <div id="jstree">
                       

                        @TreeHelper(actions)




                        @*<ul>


                            <li class="jstree-open">
                                所有权限
                                <ul>
                                    <li data-jstree='{"type":"html"}'>
                                        工作台
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-link btn-xs dropdown-toggle"><span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">添加子节点</a></li>
                                                <li><a href="#">编辑子节点</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">删除此节点</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="jstree-open">
                                        用户(Manager)
                                        <ul>
                                            <li data-jstree='{"type":"css"}'>新增</li>
                                            <li data-jstree='{"type":"img"}'>更新</li>
                                            <li data-jstree='{"type":"js"}'>数据</li>
                                            <li class="text-navy" data-jstree='{"type":"html"}'>删除</li>
                                        </ul>
                                    </li>

                                    <li class="jstree-open">
                                        功能(Action)
                                        <ul>
                                            <li data-jstree='{"type":"css"}'>新增</li>
                                            <li data-jstree='{"type":"img"}'>更新</li>
                                            <li data-jstree='{"type":"js"}'>数据</li>
                                            <li class="text-navy" data-jstree='{"type":"html"}'>删除</li>
                                        </ul>
                                    </li>



                                </ul>
                            </li>

                        </ul>*@

                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>功能详情</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                    </div>
                </div>
                <div class="ibox-content">

                    <p>填写相关控制器名称和动作名称，以及请求方法名称，记录到数据库，以达到控制用户的权限行为</p>

                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
        @using (Html.BeginForm("AddOrUpdate","Action"))
        {
            @Html.AntiForgeryToken()
            <div class="modal-dialog">
                <div class="modal-content animated fadeIn">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h5 class="modal-title">功能权限</h5>
                    </div>
                    <div class="modal-body form-horizontal">

                       
                        <div class="form-group">
                            @Html.LabelFor(d => d.ActionName, Html.DisplayNameFor(d => d.ActionName).ToString(), new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(d => d.ActionName, new { @class = "form-control", required = "" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            @Html.LabelFor(d => d.Area, Html.DisplayNameFor(d => d.Area).ToString(), new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(d => d.Area, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            @Html.LabelFor(d => d.ControllerName, Html.DisplayNameFor(d => d.ControllerName).ToString(), new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(d => d.ControllerName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            @Html.LabelFor(d => d.MethodName, Html.DisplayNameFor(d => d.MethodName).ToString(), new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(d => d.MethodName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            @Html.LabelFor(d => d.HttpMethod, Html.DisplayNameFor(d => d.HttpMethod).ToString(), new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(d => d.HttpMethod, new List<SelectListItem>()
                            {
                                new SelectListItem() {Text = "GET", Value = "GET"},
                                new SelectListItem() {Text = "POST", Value = "POST"}
                            }, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            @Html.LabelFor(d => d.LinkUrl, Html.DisplayNameFor(d => d.LinkUrl).ToString(), new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(d => d.LinkUrl, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            @Html.LabelFor(d => d.IconCls, Html.DisplayNameFor(d => d.IconCls).ToString(), new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(d => d.IconCls, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            @Html.LabelFor(d => d.Taxis, Html.DisplayNameFor(d => d.Taxis).ToString(), new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(d => d.Taxis, new { @class = "form-control" })
                            </div>
                        </div>
                        @Html.HiddenFor(d=>d.ParentId)
                        @Html.HiddenFor(d => d.Id)
                        @*<div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">保存更新</button>
                                </div>
                            </div>*@

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

@section Styles {
    @Styles.Render("~/Content/plugins/jsTree")
    @Styles.Render("~/plugins/sweetAlertStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/jsTree")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/formFill")
    <script type="text/javascript">
        $(document).ready(function () {
            var tree = $('#jstree');
            tree.jstree({
                'core': {
                    'check_callback': true
                },
                'plugins': ['types', 'contextmenu'],
                'types': {
                    'default': {
                        'icon': 'fa fa-folder'
                    },
                    'html': {
                        'icon': 'fa fa-file-code-o'
                    },
                    'svg': {
                        'icon': 'fa fa-file-picture-o'
                    },
                    'css': {
                        'icon': 'fa fa-file-code-o'
                    },
                    'img': {
                        'icon': 'fa fa-file-image-o'
                    },
                    'js': {
                        'icon': 'fa fa-file-text-o'
                    }
                }
            });

        });

        function deleteAction(id, text) {
            swal({
                title: "您确定吗?",
                text: "您确定要删除功能 " + text + "?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                closeOnConfirm: false
            }, function () {
                var magicToken = $("input[name=__RequestVerificationToken]").first();
                if (!magicToken) { return; }
                var form = $("<form action=\"@Url.Action("Delete")\" method=\"POST\" />");
                form.append(magicToken.clone());
                form.append($("<input type=\"hidden\" name=\"id\" value=\"" + id + "\" />"));
                $("body").append(form);
                form.submit();
            });
        }

        function addNode(parentId) {
            $('#modal form')[0].reset();
            if (parentId) {
                $("#ParentId").val(parentId);
            }
            $(".modal-title").text("添加功能权限");
            $('#modal').modal('show');
        }

        function updateNode(id) {
            $.getJSON("@Url.Action("GetEntity")",{id:id},
                function(data) {
                    $("form").autofill(data);
                    $(".modal-title").text("编辑功能权限");
                    $('#modal').modal('show');
                });
        }
        
    </script>
}
