@using System.Web.Optimization
@using Ada.Core
@using Ada.Core.Domain.Resource
@using Ada.Core.Infrastructure
@using Ada.Core.Tools
@using Ada.Core.ViewModel.Resource
@using Ada.Services.Admin
@using Ada.Services.Resource
@using Microsoft.Ajax.Utilities
@model MediaView
@{
    ViewBag.Title = "媒体查询";
    var repository = EngineContext.Current.Resolve<IRepository<MediaType>>();
    var mediaTypes = repository.LoadEntities(d => d.IsDelete == false).OrderBy(d => d.Taxis).ToList();
    var tags = EngineContext.Current.Resolve<IMediaTagService>().GetTags();
    List<SelectListItem> adaPostions = new List<SelectListItem>();
    if (!string.IsNullOrWhiteSpace(Model.MediaTypeIndex))
    {
        var mediaType = repository.LoadEntities(d => d.CallIndex == Model.MediaTypeIndex).FirstOrDefault();
        adaPostions = mediaType.AdPositions.Select(d => new SelectListItem() { Text = d.Name, Value = d.Name }).ToList();
    }
    var fieldService = EngineContext.Current.Resolve<IFieldService>();
    var seos = fieldService.GetFieldsByKey("SEO").Select(d => new SelectListItem { Text = d.Text, Value = d.Value });
    var yesnos = fieldService.GetFieldsByKey("YesOrNo").Select(d => new SelectListItem { Text = d.Text, Value = d.Value });
    var resourceTypes = fieldService.GetFieldsByKey("ResourceType").Select(d => new SelectListItem { Text = d.Text, Value = d.Value });
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home",new{area= "Dashboards" })">工作台</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">

    <div class="ibox-content m-b-sm border-bottom">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        @Html.LabelFor(d => d.MediaTypeIndex, Html.DisplayNameFor(d => d.MediaTypeIndex).ToString(), new { @class = "control-label" })
                        <select name="MediaTypeIndex" class="form-control" id="MediaTypeIndex">
                            <option value="">请选择</option>
                            @foreach (var item in mediaTypes)
                            {
                                if (item.CallIndex == Model.MediaTypeIndex)
                                {
                                    <option value="@item.CallIndex" data-value='@Html.Raw(Json.Encode(item.AdPositions.Select(d => d.Name)))' selected="selected">@item.TypeName</option>
                                }
                                else
                                {
                                    <option value="@item.CallIndex" data-value='@Html.Raw(Json.Encode(item.AdPositions.Select(d => d.Name)))'>@item.TypeName</option>
                                }

                            }
                        </select>

                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        @Html.LabelFor(d => d.MediaName, Html.DisplayNameFor(d => d.MediaName).ToString(), new { @class = "control-label" })
                        @Html.TextBoxFor(d => d.MediaName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        @Html.LabelFor(d => d.MediaID, Html.DisplayNameFor(d => d.MediaID).ToString(), new { @class = "control-label" })
                        @Html.TextBoxFor(d => d.MediaID, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        @Html.LabelFor(d => d.Platform, Html.DisplayNameFor(d => d.Platform).ToString(), new { @class = "control-label" })
                        @Html.TextBoxFor(d => d.Platform, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        @Html.LabelFor(d => d.AdPositionName, Html.DisplayNameFor(d => d.AdPositionName).ToString(), new { @class = "control-label" })
                        @Html.DropDownListFor(d => d.AdPositionName, adaPostions, "不限", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        @Html.LabelFor(d => d.PriceStart, Html.DisplayNameFor(d => d.PriceStart).ToString(), new { @class = "control-label" })
                        <div class="input-daterange input-group">
                            @Html.TextBoxFor(d => d.PriceStart, new { @class = "form-control" })
                            <span class="input-group-addon">至</span>
                            @Html.TextBoxFor(d => d.PriceEnd, new { @class = "form-control" })
                        </div>

                    </div>
                </div>


            </div>


            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse">更多条件</a>
                        </h4>
                    </div>
                    <div id="collapse" class="panel-collapse collapse">
                        <div class="panel-body">
                            @*<div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(d => d.AvgReadNum, Html.DisplayNameFor(d => d.AvgReadNum).ToString(), new { @class = "control-label" })
                                        <div class="input-daterange input-group">
                                            @Html.TextBoxFor(d => d.AvgReadNumStart, new { @class = "form-control" })
                                            <span class="input-group-addon">至</span>
                                            @Html.TextBoxFor(d => d.AvgReadNumEnd, new { @class = "form-control" })
                                        </div>

                                    </div>
                                </div>*@
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.IsGroup, Html.DisplayNameFor(d => d.IsGroup).ToString(), new { @class = "control-label" })
                                    @Html.DropDownListFor(d => d.IsGroup, yesnos, "请选择", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.Areas, Html.DisplayNameFor(d => d.Areas).ToString(), new { @class = "control-label" })
                                    @Html.TextBoxFor(d => d.Areas, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.Content, Html.DisplayNameFor(d => d.Content).ToString(), new { @class = "control-label" })
                                    @Html.TextBoxFor(d => d.Content, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.Remark, Html.DisplayNameFor(d => d.Remark).ToString(), new { @class = "control-label" })
                                    @Html.TextBoxFor(d => d.Remark, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.SEO, Html.DisplayNameFor(d => d.SEO).ToString(), new { @class = "control-label" })
                                    @Html.DropDownListFor(d => d.SEO, seos, "请选择", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.ResourceType, Html.DisplayNameFor(d => d.ResourceType).ToString(), new { @class = "control-label" })
                                    @Html.DropDownListFor(d => d.ResourceType, resourceTypes, "请选择", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.Efficiency, Html.DisplayNameFor(d => d.Efficiency).ToString(), new { @class = "control-label" })
                                    @Html.TextBoxFor(d => d.Efficiency, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.MediaTagIds, Html.DisplayNameFor(d => d.MediaTagIds).ToString(), new { @class = "control-label" })
                                    <div class="row">
                                        <div class="col-md-12">
                                            @foreach (var item in tags)
                                            {
                                                var isChecked = Model.MediaTagIds == null ? "" : Model.MediaTagIds.Contains(item.Id) ? "checked=''" : "";
                                                <div class="checkbox checkbox-success checkbox-inline">
                                                    <input type="checkbox" name="MediaTagIds" value="@item.Id" id="@item.Id" @isChecked>
                                                    <label for="@item.Id">@item.TagName</label>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.MediaNames, Html.DisplayNameFor(d => d.MediaNames).ToString(), new { @class = "control-label" })
                                    @Html.TextAreaFor(d => d.MediaNames, 4, 20, new { @class = "form-control", placeholder = "多个媒体查询，请用逗号隔开；同时支持复制粘贴的数据查询" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.MediaIDs, Html.DisplayNameFor(d => d.MediaIDs).ToString(), new { @class = "control-label" })
                                    @Html.TextAreaFor(d => d.MediaIDs, 4, 20, new { @class = "form-control", placeholder = "多个媒体查询，请用逗号隔开；同时支持复制粘贴的数据查询" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <input type="hidden" name="Submit.Export" id="export" value="" />
            @Html.HiddenFor(d => d.PriceType)
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <button class="btn btn-primary" name="Submit.Search" value="search" type="submit"><i class="fa fa-search"></i> 开始搜索</button>
                        @*<button class="btn btn-warning" type="button" onclick="$('form')[0].reset();"><i class="fa fa-refresh"></i> 重置条件</button>*@
                        <button class="btn btn-success" type="button" onclick="exportData();"><i class="fa fa-download"></i> 导出数据</button>
                    </div>
                </div>
            </div>

        }



    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    @Html.ValidationMessage("message")
                    @if (Model.Medias.Count > 0)
                    {
                        <div class="hr-line-dashed"></div>
                        <table class="table">
                            <thead>
                                <tr>

                                    <th>媒体类型</th>
                                    <th>媒体信息</th>
                                    @if (Model.MediaTypeIndex == "weixin" || Model.MediaTypeIndex == "sinablog")
                                    {
                                        <th data-breakpoints="xs">媒体指数</th>
                                    }
                                    <th data-breakpoints="xs">媒体价格</th>
                                    <th data-breakpoints="xs">媒体组</th>
                                    <th data-breakpoints="all" data-title="媒体说明">媒体说明</th>
                                    <th data-breakpoints="all" data-title="媒体备注">媒体备注</th>
                                    <th data-breakpoints="xs">经办媒介</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Medias)
                                {
                                    if (string.IsNullOrWhiteSpace(item.Id))
                                    {
                                        continue;
                                    }
                                    <tr>





                                        @if (Model.MediaTypeIndex == "weixin" || Model.MediaTypeIndex == "sinablog")
                                        {

                                            if (Model.MediaTypeIndex == "weixin")
                                            {
                                                var logo = string.IsNullOrWhiteSpace(item.MediaLogo) ? "/Images/weixin.png" : item.MediaLogo;
                                                <td>
                                                    <img class="img-circle" src="@logo" style="width: 60px; height: 60px;" />
                                                </td>
                                            }
                                            else
                                            {
                                                var logo = string.IsNullOrWhiteSpace(item.MediaLogo) ? "/Images/blog.png" : item.MediaLogo;
                                                <td>
                                                    <img class="img-circle" src="@logo" style="width: 60px; height: 60px;" />
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            <td>@item.MediaType.TypeName</td>
                                        }
                                        <td>

                                            <div class='p-xxs'>
                                                @if (!string.IsNullOrWhiteSpace(item.Sex))
                                                {
                                                    if (item.Sex == "男")
                                                    {
                                                        <img alt="男" class="img-circle" src="/Images/man.png" style="width: 25px; height: 25px;" />
                                                    }
                                                    else
                                                    {
                                                        <img alt="女" class="img-circle" src="/Images/lady.png" style="width: 25px; height: 25px;" />
                                                    }
                                                }
                                                @if (item.MediaType.CallIndex == "weixin")
                                                {
                                                    <a class='label' href='http://weixin.sogou.com/weixin?type=1&query=@item.MediaID' target='_blank'><i class='fa fa-link'></i> <span id="@item.Id">@item.MediaName - @item.MediaID</span></a>
                                                    <button class='btn btn-white btn-xs' data-toggle='tooltip' title='媒体名称复制到剪切板' data-clipboard-target='#@item.Id'><i class='fa fa-copy'></i></button>
                                                    <button class='btn btn-warning btn-xs' data-toggle='tooltip' data-placement='bottom' title='查看微信详情' onclick='details("/Resource/Media/WeiXinArticles/@item.Id");'>详</button>
                                                }
                                                else if (item.MediaType.CallIndex == "sinablog")
                                                {
                                                    <a class='label' href='https://weibo.com/u/@item.MediaID' target='_blank' data-toggle='tooltip' data-placement='bottom' title='@item.Abstract'><i class='fa fa-link'></i> <span id="@item.Id">@item.MediaName</span></a>
                                                    <button class='btn btn-white btn-xs' data-toggle='tooltip' title='媒体名称复制到剪切板' data-clipboard-target='#@item.Id'><i class='fa fa-copy'></i></button>
                                                    <button class='btn btn-warning btn-xs' data-toggle='tooltip' data-placement='bottom' title='查看微博详情' onclick='details("/Resource/Media/WeiboArticles/@item.Id");'>详</button>
                                                }
                                                else if (item.MediaType.CallIndex == "zhihu")
                                                {
                                                    <a class='label' href='https://www.zhihu.com/people/@item.MediaID' target='_blank'><i class='fa fa-link'></i> <span id="@item.Id">@item.MediaName</span></a>
                                                    <button class='btn btn-white btn-xs' data-toggle='tooltip' title='媒体名称复制到剪切板' data-clipboard-target='#@item.Id'><i class='fa fa-copy'></i></button>
                                                }
                                                else
                                                {
                                                    if (!string.IsNullOrWhiteSpace(item.MediaLink))
                                                    {
                                                        <a class='label' href='@item.MediaLink' target='_blank'><i class='fa fa-link'></i> <span id="@item.Id">@item.Platform @item.MediaName @item.Client @item.Channel</span></a>
                                                        <button class='btn btn-white btn-xs' data-toggle='tooltip' title='媒体名称复制到剪切板' data-clipboard-target='#@item.Id'><i class='fa fa-copy'></i></button>
                                                    }
                                                    else
                                                    {
                                                        @item.Platform @item.MediaName @item.Client @item.Channel
                                                    }
                                                }
                                            </div>
                                            @if (!string.IsNullOrWhiteSpace(item.Area))
                                            {
                                                <div class='p-xxs'>
                                                    <span class='label label-info'><i class='fa fa-map-marker'></i> @item.Area</span>
                                                </div>
                                            }
                                            @if (item.MediaTags.Count > 0)
                                            {
                                                <div class='p-xxs'>
                                                    @foreach (var tag in item.MediaTags.Take(5))
                                                    {
                                                        <span class='label label-success'><i class='fa fa-tag'></i> @tag.TagName</span>
                                                    }
                                                </div>
                                            }
                                            @if (item.FansNum != null)
                                            {
                                                <div class='p-xxs'>
                                                    <span class='label label-danger'><i class='fa fa-users'></i> 粉丝：@Utils.ShowFansNum(item.FansNum) 万</span>
                                                </div>
                                            }
                                        </td>
                                        @if (Model.MediaTypeIndex == "weixin" || Model.MediaTypeIndex == "sinablog")
                                        {

                                            if (Model.MediaTypeIndex == "weixin")
                                            {

                                                <td>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>近10篇平均阅读数：@Convert.ToInt32(item.MediaArticles.OrderByDescending(a => a.PublishDate).Take(10).Average(aaa => aaa.ViewCount))</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        @{
                                                            var viecount = item.MediaArticles.Where(l => l.IsTop == true).OrderByDescending(a => a.PublishDate).FirstOrDefault()?.ViewCount;
                                                        }
                                                        <span class='label label-info'>最近头条阅读数：@viecount</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>月发文篇数：@item.MonthPostNum</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>最近微信发文日期：@item.LastPushDate.IfNotNull(d => d.Value.ToString("yyyy-MM-dd"))</span>
                                                    </div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>近50篇平均转发数：@Convert.ToInt32(item.MediaArticles.OrderByDescending(a => a.PublishDate).Take(50).Average(aaa => aaa.ShareCount))</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>近50篇平均评论数：@Convert.ToInt32(item.MediaArticles.OrderByDescending(a => a.PublishDate).Take(50).Average(aaa => aaa.CommentCount))</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>近50篇平均点赞数：@Convert.ToInt32(item.MediaArticles.OrderByDescending(a => a.PublishDate).Take(50).Average(aaa => aaa.LikeCount))</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>微博数：@item.PostNum</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        <span class='label label-info'>一周博文数：@item.MediaArticles.OrderByDescending(a => a.PublishDate).Count(l => l.PublishDate > DateTime.Now.Date.AddDays(-7))</span>
                                                    </div>
                                                    <div class='p-xxs'>
                                                        @{
                                                            var lastDate = item.MediaArticles.OrderByDescending(a => a.PublishDate).FirstOrDefault()?.PublishDate.Value.ToString("yyyy-MM-dd");
                                                        }
                                                        <span class='label label-info'>最近博文日期：@lastDate</span>
                                                    </div>
                                                </td>
                                            }
                                        }
                                        <td>
                                            @foreach (var price in item.MediaPrices)
                                            {
                                                var str = price.AdPositionName + "：" + price.PurchasePrice + "　有效期至：" + price.InvalidDate.IfNotNull(d => d.Value.ToString("yyyy-MM-dd"));
                                                <div class="p-xxs"><span class="label label-info">@str</span></div>
                                            }
                                        </td>
                                        <td>
                                            @foreach (var group in item.MediaGroups)
                                            {
                                                <button class='btn btn-warning btn-xs' onclick="groupDetail('@group.Id');"><i class='fa fa-object-group'></i>@group.GroupName</button>
                                            }
                                        </td>
                                        <td>@item.Content</td>
                                        <td>@item.Remark</td>
                                        <td>@item.Transactor</td>
                                    </tr>
                                }


                            </tbody>
                        </table>

                    }



                </div>
            </div>
        </div>
    </div>


</div>
@section StylesFirst {
    <meta name="referrer" content="never">
}
@section Styles {
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/footableV3Styles")
}

@section Scripts {
    @Scripts.Render("~/plugins/footableV3")
    @Scripts.Render("~/plugins/clipboard")
    <script type="text/javascript">
        $(function() {
            @if (Model.Medias.Count > 0)
            {
                <text>
            $('.table').footable();
            new Clipboard('.btn-white');
                </text>
            }
            //$(".wrapper.wrapper-content form").validate({
            //    submitHandler: function(form) {
            //        $('.row .ibox').children('.ibox-content').toggleClass('sk-loading');
            //        form.submit();
            //    }
            //        });
            $("#MediaTypeIndex").change(function () {
                var $adpostion = $("#AdPositionName");
                $adpostion.empty();
                if ($(this).val()) {
                    var selectdata = $(this).find('option:selected').attr("data-value");
                    var arr = JSON.parse(selectdata);
                    $adpostion.append("<option value=''>不限</option>");
                    $.each(arr,
                        function(k, v) {
                            $adpostion.append("<option value='" + v + "'>" + v + "</option>");
                        });
                } else {
                    $adpostion.append("<option value=''>不限</option>");
                }
            });
        });

        function exportData() {

            swal({
                title: "媒体资源导出",
                text: "请选择导出的价格类型",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "销售价导出",
                    cancelButtonText: "成本价导出",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function(isConfirm){
                    if (isConfirm) {
                        $("#PriceType").val("1");
                    } else {
                        $("#PriceType").val("0");
                    }
                    $("#export").val("export");
                    $('form')[0].submit();
                    $("#export").val("");
                    swal({
                        title: "数据正在导出中...",
                        text: "请耐心等待"
                    });

                });
        }

        function details(url) {
            $("#modalView").load(url,
                function () {
                    $('#modalView .modal').modal('show');
                });
        }
        function groupDetail(id) {
            $("#modalView").load("/Resource/MediaGroup/Detail/" + id,
                function () {
                    $('#modalView .modal').on('shown.bs.modal', function () {
                        $('[data-toggle="tooltip"]').tooltip();
                    }).on('hidden.bs.modal', function () {

                    });
                    $('#modalView .modal').modal('show');
                });

        }
    </script>
}
