@using System.Web.Optimization
@model Ada.Core.ViewModel.Customer.LinkManView
@{
    ViewBag.Title = "新增联系人";
    List<SelectListItem> urls = new List<SelectListItem>() { new SelectListItem() { Text = "商家信息", Value = Url.Action("Index") } };
}
@Html.Partial("Bread", urls)
<div class="wrapper wrapper-content animated fadeInRight">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p class="bg-danger">@Html.ValidationMessage("message") </p>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <a class="btn btn-outline btn-default btn-sm" href="javascript:window.history.go(-1);"><i class="fa fa-reply"></i> 返回</a>
                        <button class="btn btn-primary btn-sm" type="submit"><i class="fa fa-floppy-o"></i> 保存</button>
                    </div>
                    <div class="ibox-content">
                        <div class="sk-spinner sk-spinner-wave">
                            <div class="sk-rect2"></div>
                            <div class="sk-rect3"></div>
                            <div class="sk-rect4"></div>
                            <div class="sk-rect5"></div>
                        </div>
                        @Html.Partial("LinkManEdit", Model)
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Styles {
    @Styles.Render("~/plugins/select2Styles")
}
@section Scripts {
    @Scripts.Render("~/plugins/select2")
    <script src="@Url.Content("~/Areas/Customer/Scripts/transactor.js")"></script>
    <script>
        $(function() {
            $("#CommpanyId").select2({
                placeholder: "请选择",
                language: "zh-CN",
                ajax: {
                    url: "@Url.Action("GetCompanys","LinkMan")",
                    dataType: 'json',
                    delay: 800,
                    data: function (params) {
                        return {
                            search: params.term, // search term
                            IsBusiness: true
                        };
                    },
                    processResults: function (data, params) {
                        var result = $.map(data.rows, function(v, k) {
                            return { id: v.Id, text: v.Name };
                        });
                        return {
                            results: result
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; }, // 字符转义处理
                minimumInputLength: 1,
                templateResult: formatRepo,//返回结果回调function formatRepo(repo){return repo.text},这样就可以将返回结果的的text显示到下拉框里，当然你可以return repo.text+"1";等
                templateSelection: formatRepoSelection//选中项回调function formatRepoSelection(repo) { return repo.text }

            });
        });
        function formatRepo(repo) {
            if (repo.loading) {
                return repo.text;
            }
            return repo.text;
        }
        function formatRepoSelection(repo) {
            $("#CommpanyName").val(repo.text);
            return repo.text;
        }

    </script>
}


