
@using System.Web.Optimization
@model Ada.Core.ViewModel.Resource.MediaDevelopView
@{
    ViewBag.Title = "媒体资源开发";
}
@Html.Partial("Bread")

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table id="table"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="toolbar" class="btn-group">
    <div class="form-inline" role="form">
        <div class="form-group">
            @*<label>审核状态: </label>*@
            <select name="Status" class="form-control" id="Status">
                <option value="1">开发中</option>
                <option value="2">已完成</option>
            </select>
        </div>
    </div>

</div>
@section Styles {
    @Styles.Render("~/plugins/bootstrapTableStyle")

}

@section Scripts {
    @Scripts.Render("~/plugins/bootstrapTableScript")

    <script type="text/javascript">

        $(document).ready(function () {
            var table = new TableInit();
            table.Init();
            $("#Status").change(function () {
                refreshTable();
            });
        });

        function refreshTable() {
            $('#table').bootstrapTable('refresh');
        }
        var TableInit = function() {
            var obj = new Object();
            obj.Init = function() {
                $('#table').bootstrapTable({
                url: '@Url.Action("GetList")',         //请求后台的URL（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                classes: "table table-no-bordered",
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "desc",                   //排序方式
                sortName: "Id",
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,                 //设置为 true启用 全匹配搜索，否则为模糊搜索
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                singleSelect: true,                  //设置True 将禁止多选
                uniqueId: "Id",                     //每一行的唯一标识，一般为主键列
                showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //设置为 true将显示card视图，适用于移动设备。否则为table试图，适用于pc
                showFooter:true,
                formatSearch: function() {
                    return "媒体名称";
                },
                mobileResponsive: true,
                    queryParams: function (parameters) {
                        parameters.Status = $("#Status").val();
                        return searchFrm.queryParams(parameters);
                    },
                onLoadSuccess: initTooltip,
                columns: [
                    {
                        field: 'MediaTypeName',
                        title: '@Html.DisplayNameFor(d=>d.MediaTypeName)',
                        align: "center", valign: "middle",
                    }
                    ,
                    {
                        field: 'MediaName',
                        title: '@Html.DisplayNameFor(d=>d.MediaName)',
                        align: "center", valign: "middle"
                    }
                    ,
                    {
                        field: 'Content',
                        title: '@Html.DisplayNameFor(d=>d.Content)',
                        align: "center", valign: "middle", formatter: formatter.tooltip
                    },
                    {
                        field: 'SubBy',
                        title: '@Html.DisplayNameFor(d=>d.SubBy)',
                        align: "center", valign: "middle",
                    }
                    ,
                    {
                        field: 'Transactor',
                        title: '@Html.DisplayNameFor(d=>d.Transactor)',
                        align: "center", valign: "middle",
                    }
                    ,
                    {
                        field: 'SubDate',
                        title: '@Html.DisplayNameFor(d=>d.SubDate)',
                        align: "center", valign: "middle",
                        formatter: function (value) {
                            if (value) {
                                return moment(value).format("YYYY-MM-DD");
                            }
                        }
                    },
                    {
                        field: 'GetDate',
                        title: '@Html.DisplayNameFor(d=>d.GetDate)',
                        align: "center", valign: "middle",
                        formatter: function (value) {
                            if (value) {
                                return moment(value).format("YYYY-MM-DD");
                            }
                        }
                    },
                    {
                        field: 'Id',
                        title: '操作',
                        align: "center", valign: "middle",
                        formatter: formatterOperation
                    }
                ]
                })
                    //.bootstrapTable("hideColumn", "Id")
                    ;
            };

            return obj;
        };

        function formatterOperation(value, row) {
            if (row.Status==2) {
                return "<div class='btn-group'>" +
                    "<a class='btn btn-success btn-outline btn-xs' href='javascript:initProgress(\"" + value + "\");'><i class='fa fa-search'></i> 查看进度</a> " +
                    "<button class='btn btn-danger btn-outline btn-xs' onclick=\"deleteData('@Url.Action("Delete")','" + value + "');\"><i class='fa fa-trash-o'></i> 删除数据</button></div>";
            } else {
                return "<div class='btn-group'>" +
                    "<a class='btn btn-success btn-outline btn-xs' href='javascript:initProgress(\"" + value + "\");'><i class='fa fa-search'></i> 开发进度</a> " +
                    "<button class='btn btn-primary btn-outline btn-xs' onclick=\"deleteData('@Url.Action("Finish")','" + value + "');\"><i class='fa fa-check-circle'></i> 完成开发</button> " +
                    "<button class='btn btn-danger btn-outline btn-xs' onclick=\"deleteData('@Url.Action("Cancle")','" + value + "');\"><i class='fa fa-trash-o'></i> 撤销认领</button></div>";
            }
            
        }
        function initProgress(id) {
            $("#modalView").load("@Url.Action("AddProgress")/"+id,
                function () {
                    //$('#modalView .modal').on('shown.bs.modal', function () {
                    //    $('[data-toggle="tooltip"]').tooltip();
                    //}).on('hidden.bs.modal', function () {

                    //});
                    $('#modalView .modal').modal('show');
                });

        }

      
    </script>
}










