@using System.Linq
@using System.Web.Optimization
@model IEnumerable<Ada.Core.ViewModel.Statistics.PurchaseAchievement>
@{
    ViewBag.Title = "媒介业绩";
}
@Html.Partial("Bread")

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">

                    <table class="table table-hover footable" data-sorting="true">
                        <thead>
                            <tr>

                                <th>媒介人员</th>
                                <th data-breakpoints="xs sm" data-type="number">订单总数</th>
                                <th data-type="number">采购总额</th>
                                <th data-breakpoints="xs sm" data-type="number">已付总额</th>
                                <th data-type="number">压款总额</th>
                                @*<th data-type="number">已采总额</th>*@
                                <th data-breakpoints="xs sm" data-type="number">节省总额</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.Transactor</td>
                                <td>@item.OrderCount</td>
                                <td>@item.TotalMoney</td>
                                <td>@item.PayMoney</td>
                                <td>@item.Unpaid</td>
                                @*<td>@item.Money</td>*@
                                <td>@item.Economize</td>
                            </tr>
                            }
                            <tr>
                                <th>合计</th>
                                <th>@Model.Sum(d => d.OrderCount)</th>
                                <th>@Model.Sum(d => d.TotalMoney)</th>
                                <th>@Model.Sum(d => d.PayMoney)</th>
                                <th>@Model.Sum(d => d.Unpaid)</th>
                                @*<th>@Model.Sum(d => d.Money)</th>*@
                                <th>@Model.Sum(d => d.Economize)</th>
                            </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>



@section Styles {
    @Styles.Render("~/plugins/footableV3Styles")

}
@section Scripts {
    @Scripts.Render("~/plugins/footableV3")


    <script>
        $(function () {
            $('.table').footable();

        });


    </script>
}

