@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout_Web.cshtml";
    ViewBag.Title = "会员登陆";
}
<!-- Login - Heading -->
<div class="g-max-width-645 text-center g-pt-100 mx-auto g-mb-80">
    <h1 class="mb-0">欢迎回到微广!</h1>
</div>
<!-- End Login - Heading -->
<!-- Login -->
<div class="container g-pb-30">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 text-center g-mb-70">
            <h2 class="h5 mb-4">登录到您的账户</h2>
            <!-- Login Form -->
            <form class="g-mb-30">
                <div class="g-mb-20">
                    <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--hover rounded-0 g-py-13 g-px-15" type="text" placeholder="输入用户名">
                </div>
                <div class="g-mb-20">
                    <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--hover rounded-0 g-py-13 g-px-15" type="password" placeholder="输入您的密码">
                </div>
                <button class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-15" type="submit">登陆</button>
            </form>
            <!-- End Login Form -->
            <div class="d-flex justify-content-between g-mb-10">
                <a class="d-block g-mb-10" href="javascript:;"></a>
                <a class="d-block g-mb-10" href="page-forgot-password-1.html">忘记密码?</a>
            </div>
            @*<p class="g-font-size-12">请查看我们的 <a class="g-color-text g-text-underline" href="#">声明</a></p>*@
        </div>
        <div class="col-md-6 col-lg-5 ml-lg-5 g-mb-70">
            <!-- Icon Block -->
            <div class="media g-mb-30">
                <div class="d-flex mr-3">
                    <span class="u-icon-v1 u-icon-size--lg g-color-text">
                        <i class="icon-medical-022 u-line-icon-pro"></i>
                    </span>
                </div>
                <div class="media-body">
                    <h3 class="h5">社交媒体</h3>
                    <p>从社交媒体平台的日常维护到内容扩展 微广为不同的客户量身订制最专业而全面的社交媒体方案.</p>
                </div>
            </div>
            <!-- End Icon Block -->
            <!-- Icon Block -->
            <div class="media g-mb-30">
                <div class="d-flex mr-3">
                    <span class="u-icon-v1 u-icon-size--lg g-color-text">
                        <i class="icon-real-estate-083 u-line-icon-pro"></i>
                    </span>
                </div>
                <div class="media-body">
                    <h3 class="h5">意见领袖集中购买</h3>
                    <p>微广拥有独家KOL资源库，并与多位KOL保持长期良好的合作关系 经专人一对一合理高效安排KOL搭配，为客户制造最大化传播效果.</p>
                </div>
            </div>
            <!-- End Icon Block -->
            <!-- Icon Block -->
            <div class="media">
                <div class="d-flex mr-3">
                    <span class="u-icon-v1 u-icon-size--lg g-color-text">
                        <i class="icon-real-estate-014 u-line-icon-pro"></i>
                    </span>
                </div>
                <div class="media-body">
                    <h3 class="h5">高效</h3>
                    <p>客户第一，细节至上，熟悉媒介策略，精准解读需求，助力推广触达精准受众群体.</p>
                </div>
            </div>
            <!-- End Icon Block -->
        </div>
    </div>
</div>
<!-- Login -->


@section Styles {
    @Styles.Render("~/WebPlugins/fontawesomeStyle")
    @Styles.Render("~/WebPlugins/iconlinesimpleStyle")
    @Styles.Render("~/WebPlugins/iconlineproStyle")
    @Styles.Render("~/WebPlugins/iconhsStyle")
    @Styles.Render("~/WebPlugins/animateStyle")
    @Styles.Render("~/WebPlugins/hsmegamenuStyle")
    @Styles.Render("~/WebPlugins/hamburgersStyle")
    @Styles.Render("~/WebPlugins/chosenStyle")
    @Styles.Render("~/WebTheme/realestateStyle")
}
@section Scripts {
    @Scripts.Render("~/WebPlugins/hsmegamenuScript")
    @Scripts.Render("~/WebPlugins/chosenScript")
    @Scripts.Render("~/WebUnify/core")
    @Scripts.Render("~/WebUnify/header")
    @Scripts.Render("~/WebUnify/hamburgers")
    @Scripts.Render("~/WebUnify/dropdown")
    @Scripts.Render("~/WebUnify/select")
    @Scripts.Render("~/WebUnify/goto")

}