@using System.Web.Optimization
@using Ada.Core.Infrastructure
@using Ada.Core.ViewModel.Setting
@using Ada.Services.Setting
@model Ada.Web.Models.LoginModel
@{
    Layout = null;
    var setting = EngineContext.Current.Resolve<ISettingService>().GetSetting<Site>();
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>江西微广 | 会员登陆</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/plugins/sweetAlertStyles")
</head>

<body class="gray-bg">

    <div class="loginColumns animated fadeInDown">
        <div class="row">

            <div class="col-md-6">
                <h2 class="font-bold">欢迎回到微广!</h2>

                <p>
                    从社交媒体平台的日常维护到内容扩展 微广为不同的客户量身订制最专业而全面的社交媒体方案.
                </p>

                <p>
                    微广拥有独家KOL资源库，并与多位KOL保持长期良好的合作关系 经专人一对一合理高效安排KOL搭配，为客户制造最大化传播效果.
                </p>

                <p>
                    客户第一，细节至上，熟悉媒介策略，精准解读需求，助力推广触达精准受众群体.
                </p>


            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "m-t" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.TextBoxFor(d => d.LoginName, new {@class = "form-control", placeholder = "输入手机号",type="number"})
                            @Html.ValidationMessageFor(model => model.LoginName, null, new {@class = "help-block m-b-none text-danger"})
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                @Html.TextBoxFor(d => d.Code, new { @class = "form-control", placeholder = "输入手机验证码", type = "number" })
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" onclick="getSmsCode(this);">
                                        获取验证码
                                    </button>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Code, null, new { @class = "help-block m-b-none text-danger" })
                        </div>
                        <button class="btn btn-danger block full-width m-b" type="submit">登陆</button>
                        @Html.ValidationMessage("error", new { @class = "bg-danger" })



                        <p class="text-muted text-center">
                            <small>还没有会员账号?</small>
                        </p>
                        <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Index","Default")#contact-section">请联系我们</a>
                    }
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                @setting.CompanyName
            </div>
            <div class="col-md-6 text-right">
                <small>© 2015 - @DateTime.Now.Year</small>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/plugins/sweetAlert")
    <script>
        var wait = 60, timeId = 0;
        function setTime(o) {
            clearTimeout(timeId);
            if (wait <= 0) {
                $(o).removeAttr("disabled");
                $(o).text("获取验证码");
                wait = 60;
            } else {
                $(o).attr("disabled", true);
                $(o).text("重新发送(" + wait + ")");
                wait--;
                timeId= setTimeout(function() {
                    setTime(o);
                    },
                    1000);
            }

        }
        function isPhone(str) {
            var myreg=/^[1][3,4,5,6,7,8,9][0-9]{9}$/;
            if (!myreg.test(str)) {
                return false;
            } else {
                return true;
            }
        }

        function getSmsCode(o) {
            $(o).parent().parent().next().text("");
            var phone = $("#LoginName").val();
            //校验手机
            if (!isPhone(phone)) {
                $("#LoginName").next().text("请输入正确的手机号码");
                return;
            } else {
                $("#LoginName").next().text("");
            }
            $.getJSON("@Url.Action("SmsCode")?phone=" + phone,
                function(data) {
                    if (data.State == 0) {
                        $(o).parent().parent().next().text(data.Msg);
                    } else {
                        setTime(o);
                    }
                });
            
        }
    </script>
</body>

</html>


