@using System.Web.Optimization
@model Ada.Core.ViewModel.Admin.ManagerView
@{
    ViewBag.Title = "新增用户";
    ViewBag.Bread = new List<SelectListItem>() { new SelectListItem() { Text = "用户管理", Value = Url.Action("Index") } };
}
@Html.Partial("Bread")
<div class="wrapper wrapper-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox-title">
                    <a class="btn btn-outline btn-default btn-sm" href="javascript:goBackOrClose();"><i class="fa fa-reply"></i> 返回</a>
                    <button class="btn btn-primary btn-sm" type="submit"><i class="fa fa-floppy-o"></i> 保存</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="bg-danger">@Html.ValidationMessage("message") </p>
                @Html.Partial("ManagerEdit", Model)
            </div>
        </div>
    }
</div>
@section Styles {
    @Styles.Render("~/plugins/jsTreeStyles")
    @Styles.Render("~/plugins/dateTimePickerStyle")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/jsTree")
    @Scripts.Render("~/plugins/dateTimePickerScript")
    <script src="@Url.Content("~/Areas/Admin/Scripts/manager.js?v="+DateTime.Now.Ticks)"></script>
    <script>
        $(function () {
            $('.input-group.date').datetimepicker({
                language: 'zh-CN',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0,
                format: "yyyy年mm月dd日"
            });
        });
    </script>
}
