@using System.Web.Optimization
@{
    ViewBag.Title = "栏目管理";
}
@Html.Partial("Bread")
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table id="table"></table>
                </div>
                <div id="toolbar" class="btn-group">
                    <a class="btn btn-primary btn-outline" href="@Url.Action("Add")">
                        <i class="fa fa-plus"></i> 新增栏目
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.AntiForgeryToken()
@section Styles {
    @Styles.Render("~/plugins/bootstrapTableStyle")
    @Styles.Render("~/plugins/jqTreegridStyle")
}

@section Scripts {
    @Scripts.Render("~/plugins/bootstrapTableScript")
    @Scripts.Render("~/plugins/jqTreegridScript")
    <script type="text/javascript">
        var $table = $('#table');
        $(function () {
            $table.bootstrapTable({
                url: '@Url.Action("GetList")',
                classes: "table table-no-bordered",
                toolbar: '#toolbar',
                height: $(window).height(),
                striped: true,
                sidePagination: 'server',
                idField: 'Id',
                columns: [
                    {
                        field: 'Title',
                        title: '栏目名称',
                        align: 'left',
                        formatter: function (value, row) {
                            if (row.ParentId) {
                                return value + "  [" + row.Count + "]";
                            } else {
                                return value;
                            }

                        }
                    },
                    // {field: 'id', title: '编号', sortable: true, align: 'center'},
                    // {field: 'pid', title: '所属上级'},
                    //{
                    //    field: 'Count',
                    //    title: '关联文章数',
                    //    align: 'center',
                    //    formatter: function(value) {
                    //        return '<span class="label label-success">' + value + '</span>';
                    //    }
                    //},
                    {
                        field: 'Id',
                        title: '操作',
                        align: 'center',
                        valign: "middle",
                        formatter: function (value, row) {

                            return "<div class='btn-group'>" +
                                "<a class='btn btn-success btn-outline btn-xs' href='@Url.Action("Update")?id=" + value + "'><i class='fa fa-pencil'></i> 编辑</a> " +
                                "<button class='btn btn-danger btn-outline btn-xs' onclick=\"deleteData('@Url.Action("Delete")','" + value + "');\"><i class='fa fa-trash-o'></i> 删除</button></div>";
                        }
                    }
                ],
                treeShowField: 'Title',
                parentIdField: 'ParentId',
                onLoadSuccess: function (data) {
                    $table.treegrid({
                        // initialState: 'collapsed',
                        //treeColumn: 0,
                        // expanderExpandedClass: 'glyphicon glyphicon-minus',
                        // expanderCollapsedClass: 'glyphicon glyphicon-plus',
                        onChange: function () {
                            $table.bootstrapTable('resetWidth');
                        }
                    });
                }
            });
        });

    </script>
}
