@using System.Web.Optimization
@using Ada.Core.Domain
@model Ada.Core.ViewModel.Statistics.BusinessTotal
@{
    ViewBag.Title = "销售工作台";
}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-2">

            <div class="widget style1 white-bg mouse-pointer" onclick="window.open('@Url.Action("Index","BusinessOrderDetail",new {area="DataReport",Status=Consts.StateLock})');">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-hourglass fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 待转采购单 </span>
                        <h2 class="font-bold">@Model.Waiting</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

            <div class="widget style1 yellow-bg mouse-pointer" onclick="window.open('@Url.Action("Index","BusinessOrderDetail",new {area="DataReport",PurchaseStatus=Consts.PurchaseStatusTodo})');">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 采购正处理 </span>
                        <h2 class="font-bold">@Model.Doing</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

            <div class="widget style1 navy-bg mouse-pointer" onclick="window.open('@Url.Action("Index","BusinessOrderDetail",new {area="DataReport",PurchaseStatus=Consts.PurchaseStatusConfirm})');">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-handshake-o fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 采购已确认 </span>
                        <h2 class="font-bold">@Model.Confirm</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

            <div class="widget style1 blue-bg mouse-pointer" onclick="window.open('@Url.Action("Index","BusinessOrderDetail",new {area="DataReport",Status=Consts.StateNormal,PurchaseStatus=Consts.PurchaseStatusSuccess})');">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-check fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 销售待确认 </span>
                        <h2 class="font-bold">@Model.Done</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

            <div class="widget style1 lazur-bg mouse-pointer" onclick="window.open('@Url.Action("Index","BusinessOrderDetail",new {area="DataReport",PrePublishDateStart=DateTime.Now.Date.ToString("d"),PrePublishDateEnd=DateTime.Now.Date.ToString("d")})');">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-calendar-o fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 今日预出刊 </span>
                        <h2 class="font-bold">@Model.Today</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="widget style1 lazur-bg mouse-pointer" onclick="window.open('@Url.Action("Index","BusinessOrderDetail",new {area="DataReport",PrePublishDateStart=DateTime.Now.Date.AddDays(1).ToString("d"),PrePublishDateEnd=DateTime.Now.Date.AddDays(1).ToString("d")})');">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-calendar-plus-o fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 明日预出刊 </span>
                        <h2 class="font-bold">@Model.Tomorrow</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>销售核销统计</h5>

                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="flot-chart" style="height: 300px;">
                                <div class="flot-chart-content" id="flot-dashboard-chart"></div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <ul class="stat-list">
                                <li>
                                    <h2 class="no-margins">@Model.OrderCount</h2>
                                    <small>销售订单数</small>

                                </li>
                                <li>
                                    <a class="btn btn-link" href="javascript:;">
                                        <h3 class="no-margins "><i class="fa fa-jpy "></i> @Model.SellMoney</h3>
                                        <small>销售总额（不含税）</small>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-link" href="@Url.Action("Index", "BusinessOrderDetail", new {area = "DataReport",Status=Consts.StateOK, VerificationStatus = Consts.StateLock,PublishDateOrder="asc"})" target="_blank">
                                        <h3 class="no-margins "><i class="fa fa-jpy "></i> @Model.VerificationMoney</h3>
                                        <small>未核销金额</small>
                                    </a>

                                </li>
                                <li>
                                    <a class="btn btn-link" href="@Url.Action("Index", "BusinessOrderDetail", new {area = "DataReport", VerificationStatus = Consts.StateNormal})" target="_blank">
                                        <h3 class="no-margins "><i class="fa fa-jpy "></i> @Model.ConfirmVerificationMoney</h3>
                                        <small>已核销金额</small>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>近四月销售概况</h5>
                </div>

                @foreach (var item in Model.BusinessPerformances.OrderByDescending(d => d.Month).Take(4))
                {
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-xs-4">
                                <small class="stats-label">月份</small>
                                <h4>@item.Month</h4>
                            </div>
                            <div class="col-xs-4">
                                <small class="stats-label">销售额</small>
                                <h4><i class="fa fa-jpy "></i> @item.TotalSellMoney</h4>
                            </div>
                            <div class="col-xs-4">
                                <small class="stats-label">利润值</small>
                                <h4><i class="fa fa-jpy "></i> @item.TotalProfitMoney</h4>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>


    <div class="row">


        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins" id="ibox1">
                        <div class="ibox-title">
                            <h5>销售一部销售业绩排行</h5>
                            <div class="ibox-tools">

                                @*<a href="javascript:getTop('业务一部', 'ibox1');">
                                        <i class="fa fa-refresh"></i>
                                    </a>*@
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <span class="label label-info pull-right"><span class="currentdate">@DateTime.Now.ToString("yyyy年MM月")</span> <i class="fa fa-chevron-down"></i></span>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    @for (int i = 0; i < 12; i++)
                                    {
                                        <li>
                                            <a href="javascript:getTop('业务一部','@DateTime.Now.AddMonths(-i).ToString("yyyy年MM月")', 'ibox1');">@DateTime.Now.AddMonths(-i).ToString("yyyy年MM月")</a>
                                        </li>
                                    }
                                </ul>

                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="sk-spinner sk-spinner-double-bounce">
                                <div class="sk-double-bounce1"></div>
                                <div class="sk-double-bounce2"></div>
                            </div>
                            <table class="table table-hover margin bottom">
                                <thead>
                                    <tr>
                                        <th class="text-center">排名</th>
                                        <th>销售人员</th>
                                        <th>销售额（不含税）</th>
                                        <th>利润</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins" id="ibox2">
                        <div class="ibox-title">
                            <h5>销售二部销售业绩排行</h5>
                            <div class="ibox-tools">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <span class="label label-info pull-right"><span class="currentdate">@DateTime.Now.ToString("yyyy年MM月")</span> <i class="fa fa-chevron-down"></i></span>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    @for (int i = 0; i < 12; i++)
                                    {
                                        <li>
                                            <a href="javascript:getTop('业务二部','@DateTime.Now.AddMonths(-i).ToString("yyyy年MM月")', 'ibox2');">@DateTime.Now.AddMonths(-i).ToString("yyyy年MM月")</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="sk-spinner sk-spinner-double-bounce">
                                <div class="sk-double-bounce1"></div>
                                <div class="sk-double-bounce2"></div>
                            </div>
                            <table class="table table-hover margin bottom">
                                <thead>
                                    <tr>
                                        <th class="text-center">排名</th>
                                        <th>销售人员</th>
                                        <th>销售额（不含税）</th>
                                        <th>利润</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>销售业绩大比拼（PK）</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <h2>待开发</h2>
                           </div>
                    </div>
                </div>
            </div>*@

        </div>


    </div>
</div>


@section Scripts{
    @Scripts.Render("~/plugins/echarts")
    <script>
        $(function() {
            getTop("业务一部","@DateTime.Now.ToString("yyyy年MM月")", "ibox1");
            getTop("业务二部","@DateTime.Now.ToString("yyyy年MM月")", "ibox2");
            initCharts();
        });

        function getTop(oname,date, id) {
            var $top = $("#" + id),$table = $("#" + id + " tbody");
            $("#" + id + " .currentdate").text(date);
            $.ajax({
                type: "get",
                url: "@Url.Action("GetBusinessPerformance")",
                data: { o: oname,t:date },
                success: function (data) {
                    $table.empty();
                    var totalSell = 0, totalProfit = 0;
                    $.each(data,
                        function(k, v) {
                            $table.append('<tr>' +
                                '<td class="text-center">' + (k + 1) + '</td><td>' + v.Transactor+'</td>' +
                                '<td><span class="label label-primary">¥ ' + v.TotalSellMoney+'</span></td>' +
                                '<td><span class="label label-warning">¥ ' +v.TotalProfitMoney+'</span></td>' +
                                '</tr>');
                            totalSell += v.TotalSellMoney;
                            totalProfit += v.TotalProfitMoney;
                        });
                    $table.append('<tr>' +
                        '<td class="text-center"></td><td>合计</td>' +
                        '<td><span class="label label-primary">¥ ' + totalSell.toFixed(2)+'</span></td>' +
                        '<td><span class="label label-warning">¥ ' + totalProfit.toFixed(2)+'</span></td>' +
                        '</tr>');
                },
                error: function () {
                    //swal("操作失败", "系统错误", "error");
                },
                complete: function () {
                    $top.children('.ibox-content').toggleClass('sk-loading');
                },
                beforeSend: function() {
                    $top.children('.ibox-content').toggleClass('sk-loading');
                }
            });
        }

        function initCharts() {
            var myChart = echarts.init(document.getElementById('flot-dashboard-chart'));
            var option = {
                title : {
                    text: '核销统计',
                    //subtext: ''
                },
                tooltip : {
                    trigger: 'axis'
                },
                legend: {
                    data:['未核销','已核销']
                },
                toolbox: {
                    show : true,
                    feature : {
                        //dataView : {show: true, readOnly: false},
                        magicType : {show: true, type: ['line', 'bar']},
                        restore : {show: true},
                        //saveAsImage : {show: true}
                    }
                },
                calculable: true,
                color: ['#d1dade', '#1ab394'],
                xAxis : [
                    {
                        type : 'category',
                        data : @Html.Raw(Json.Encode(Model.BusinessPerformances.Select(d => d.Month)))
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        name:'未核销',
                        type:'bar',
                        data:@Html.Raw(Json.Encode(Model.BusinessPerformances.Select(d => d.TotalVerificationMoney)))

                    },
                    {
                        name:'已核销',
                        type:'bar',
                        data:@Html.Raw(Json.Encode(Model.BusinessPerformances.Select(d => d.TotalConfirmVerificationMoney)))

                    }
                ]
            };
            myChart.setOption(option);
            @*$.ajax({
                type: "get",
                url: "@Url.Action("GetBusinessIncome")",
                //data: {},
                success: function (data) {
                    var months = [], confirmVerificationMoneys = [], verificationMoneys = [];

                    $.each(data,
                        function(k, v) {
                            months.push(v.Month);
                            confirmVerificationMoneys.push(v.TotalConfirmVerificationMoney ||
                                0);
                            verificationMoneys.push(v.TotalVerificationMoney ||
                                0);

                            if (k<4) {
                                $("#business").prepend('<div class="ibox-content">' +
                                    '<div class="row">' +
                                    '<div class="col-xs-4">' +
                                    '<small class="stats-label">月份</small>' +
                                    '<h4>' + v.Month+'</h4>' +
                                    '</div>' +
                                    '<div class="col-xs-4">' +
                                    '<small class="stats-label">销售额</small>' +
                                    '<h4><i class="fa fa-jpy "></i> ' + (v.TotalSellMoney || 0)+'</h4>' +
                                    '</div>' +
                                    '<div class="col-xs-4">' +
                                    '<small class="stats-label">利润值</small>' +
                                    '<h4><i class="fa fa-jpy "></i> ' + (v.TotalProfitMoney || 0)+'</h4>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>');
                            }

                        });
                    myChart.setOption({
                        xAxis: {
                            data: months
                        }
                        ,
                        series : [
                            {
                                name:'未核销',
                                data: verificationMoneys
                            },
                            {
                                name:'已核销',
                                data: confirmVerificationMoneys
                            }
                        ]
                    });
                    //console.log(data);
                },
                error: function () {
                    //swal("操作失败", "系统错误", "error");
                },
                complete: function () {
                    myChart.hideLoading();
                },
                beforeSend: function() {
                    myChart.showLoading();
                }
            });*@
        }
    </script>
}
