
@using System.Web.Optimization
@using Ada.Core.Domain
@using Ada.Core.Domain.Resource
@using Ada.Core.Tools
@model Media
@{
    ViewBag.Title = "媒体预约";
    List<Media> medias = ViewBag.Medias;
    int days = 60;
    var media = Model;
}
@Html.Partial("Bread")

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h3>
                        预约媒体
                        <a href="@Url.Action("ListSelf")" class="btn btn-primary btn-xs btn-outline pull-right" target="_blank">
                            <i class="fa fa-refresh"></i> 我的预约
                        </a>
                    </h3>
                    <div class="list-group">
                        @foreach (var item in medias)
                        {
                            var isactive = item.Id == Model.Id ? "active" : "";
                            var count = item.MediaAppointments.Where(d => d.AppointmentDate.Value.Date >= DateTime.Now.Date && d.AppointmentDate.Value.Date <= DateTime.Now.Date.AddDays(days)).GroupBy(d => d.AppointmentDate).Count();
                            <a class="list-group-item @isactive" href="@Url.Action("Index", "Appointment", new {id = item.Id})">
                                @if (count > 0)
                                {
                                    <span class="badge badge-primary">@count</span>
                                }

                                <i class="fa fa-weixin"></i> @item.MediaName
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 animated fadeInRight">
            <div class="row">
                <div class="col-md-12">
                    <div class="">
                        <div>
                            <h2 class="no-margins">
                                @media.MediaName
                            </h2>
                            <h4>请选择相应的日期进行预约（注：可预约近 @days 天，<span class="label label-danger">红色</span> 代表已预约，<span class="label label-warning">黄色</span> 代表已预留）</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line-solid"></div>
            <div class="row">
                @for (int i = 0; i < days; i++)
                {
                    var date = DateTime.Now.AddDays(i);
                    var bg1 = "gray-bg";
                    var bg2 = "gray-bg";
                    var name1 = "可预约";
                    var name2 = "可预约";
                    var make1 = media.MediaAppointments.FirstOrDefault(d => d.AppointmentDate.Value.Date == date.Date && d.Taxis == 1);
                    var make2 = media.MediaAppointments.FirstOrDefault(d => d.AppointmentDate.Value.Date == date.Date && d.Taxis == 2);
                    if (make1 != null)
                    {
                        bg1 = make1.State == Consts.StateNormal ? "red-bg" : "yellow-bg";
                        name1 = make1.Transactor;
                    }
                    if (make2 != null)
                    {
                        bg2 = make2.State == Consts.StateNormal ? "red-bg" : "yellow-bg";
                        name2 = make2.Transactor;
                    }
                    var dateStr = date.ToString("MM月dd日") + " " + Utils.GetWeek(date);
                    var boxid = date.ToString("yyyyMMdd");

                    <div class="col-lg-3" id="box_@boxid">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>@dateStr</h5>
                            </div>
                            <div class="ibox-content text-center">
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">
                                        <div class="widget-head-color-box @bg1 p-lg text-center">
                                            <div class="m-b-md">
                                                <h3>
                                                    头条
                                                </h3>
                                                <div class="font-bold">@name1</div>
                                            </div>
                                        </div>
                                        <div class="widget-text-box text-center">
                                            <div class="btn-group">
                                                @if (make1 != null)
                                                {
                                                    <button class="btn btn-sm btn-danger btn-outline" type="button" onclick="cancleYY('@make1.Id')"><i class="fa fa-bell-slash-o"></i> 取消头条 </button>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-sm btn-white btn-outline" type="button" data-toggle="modal" data-target="#yyModal" data-datestr="@dateStr" data-date="@date.Date" data-boxid="box_@boxid" data-sort="1"><i class="fa fa-bell-o"></i> 头条预约 </button>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-6">
                                        <div class="widget-head-color-box @bg2 p-lg text-center">
                                            <div class="m-b-md">
                                                <h3>
                                                    次条
                                                </h3>
                                                <div class="font-bold">@name2</div>
                                            </div>
                                        </div>
                                        <div class="widget-text-box text-center">
                                            <div class="btn-group">
                                                @if (make2 != null)
                                                {
                                                    <button class="btn btn-sm btn-danger btn-outline" type="button" onclick="cancleYY('@make2.Id')"><i class="fa fa-bell-slash-o"></i> 取消次条 </button>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-sm btn-white btn-outline" type="button" data-toggle="modal" data-target="#yyModal" data-datestr="@dateStr" data-date="@date.Date" data-boxid="box_@boxid" data-sort="2"><i class="fa fa-bell-o"></i> 次条预约 </button>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>


</div>

<div class="modal inmodal" id="yyModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInUp">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-bell-o modal-icon"></i>
                <h4 class="modal-title">预约 [ @media.MediaName ] <span id="sortStr"></span></h4>
                <p class="font-bold"></p>
            </div>
            <div class="modal-body">
                <div class="row">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <div class="radio radio-info radio-inline">
                                <input type="radio" name="IsConfirm" id="istrue" value="1" />
                                <label for="istrue"> 预约 </label>
                            </div>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" name="IsConfirm" id="isfalse" value="0" checked="" />
                                <label for="isfalse"> 预留 </label>
                            </div>
                        </div>
                        <input type="hidden" id="boxId" value="" />
                        <input type="hidden" id="AppointmentDate" value="" />
                        <input type="hidden" id="sort" value="" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary ladda-button" data-style="zoom-in" onclick="confirmYY();">提交</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/laddaStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/ladda")
    <script type="text/javascript">

        $(document).ready(function () {
            $('#yyModal').on('shown.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var recipient = button.data('datestr'), boxid = button.data('boxid'), date = button.data('date'),sort=button.data('sort');
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this);
                modal.find('.modal-header p').text(recipient);
                modal.find('.modal-body #boxId').val(boxid);
                modal.find('.modal-body #AppointmentDate').val(date);
                modal.find('.modal-body #sort').val(sort);
                modal.find('.modal-header #sortStr').text(sort == 1?"头条":"次条");
            });

        });

        function confirmYY() {
            var subBtn = $('.ladda-button').ladda();
            var isConfirm = $("input[name='IsConfirm']:checked").val();
            $.ajax({
                type: "post",
                headers: {
                    '__RequestVerificationToken': $("input[name='__RequestVerificationToken']").val()
                },
                url: "@Url.Action("Make")",
                data: { MediaId: "@media.Id", AppointmentDate: $("#AppointmentDate").val(), State: isConfirm, Taxis: $("#sort").val()},
                success: function (data) {
                    if (data.State == 1) {
                        $('#yyModal').modal('hide');
                        swal({
                            title: "操作成功",
                            text: data.Msg,
                            type: "success"
                        },
                            function() {
                                window.location.reload();
                            });

                    } else {
                        swal("操作提醒", data.Msg, "warning");
                    }
                },
                error: function () {
                    swal("操作失败", "系统错误", "error");
                },
                beforeSend: function () {
                    subBtn.ladda('start');
                },
                complete: function () {
                    subBtn.ladda('stop');
                }
            });

        }

        function cancleYY(makeId) {
            swal({
                title: "提醒",
                text: "您确定要取消这次的预约吗?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                closeOnConfirm: false,
                showLoaderOnConfirm: true
            }, function () {
                $.ajax({
                    type: "post",
                    headers: {
                        '__RequestVerificationToken': $("input[name='__RequestVerificationToken']").val()
                    },
                    url: "@Url.Action("Cancle")",
                    data: { id: makeId},
                    success: function (data) {
                        if (data.State == 1) {
                            swal({
                                    title: "操作成功",
                                    text: data.Msg,
                                    type: "success"
                                },
                                function() {
                                    window.location.reload();
                                });
                        } else {
                            swal("操作提醒", data.Msg, "warning");
                        }
                    },
                    error: function () {
                        swal("操作失败", "系统错误", "error");
                    },
                    complete: function () {

                    }
                });
            });



        }

    </script>
}







