
@using System.Web.Optimization
@model Ada.Core.ViewModel.Setting.WeiGuang
@{
    ViewBag.Title = "系统配置";

}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home",new{area= "Dashboards" })">工作台</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">

                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <p class="bg-danger">@Html.ValidationMessage("message") </p>
                        <div class="form-horizontal">
                            <h3>资源查询配置</h3>
                            <div class="hr-line-dashed"></div>


                            <div class="form-group">
                                @Html.LabelFor(d => d.BusinessSeachRows, Html.DisplayNameFor(d => d.BusinessSeachRows).ToString(), new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(d => d.BusinessSeachRows, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(d => d.PurchaseExportRows, Html.DisplayNameFor(d => d.PurchaseExportRows).ToString(), new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(d => d.PurchaseExportRows, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(d => d.BusinessExportRows, Html.DisplayNameFor(d => d.BusinessExportRows).ToString(), new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(d => d.BusinessExportRows, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(d => d.BusinessOrderExportRows, Html.DisplayNameFor(d => d.BusinessOrderExportRows).ToString(), new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(d => d.BusinessOrderExportRows, new { @class = "form-control" })
                                </div>
                            </div>
                            <h3>会员参数配置</h3>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(d => d.UserDemo, Html.DisplayNameFor(d => d.UserDemo).ToString(), new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-md-2">
                                            @Html.TextBoxFor(d => d.UserDemo, new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(d => d.UserDemoAllowIP, new { @class = "form-control", placeholder = Html.DisplayNameFor(d => d.UserDemoAllowIP).ToString() })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(d => d.UserExportRows, Html.DisplayNameFor(d => d.UserExportRows).ToString(), new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(d => d.UserExportRows, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(d => d.UserExportGroupRows, Html.DisplayNameFor(d => d.UserExportGroupRows).ToString(), new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(d => d.UserExportGroupRows, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(d => d.UserExportTimes, Html.DisplayNameFor(d => d.UserExportTimes).ToString(), new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(d => d.UserExportTimes, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(d => d.UserVIPExportRatio, Html.DisplayNameFor(d => d.UserVIPExportRatio).ToString(), new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-md-2">
                                            @Html.TextBoxFor(d => d.UserVIPExportRatio, new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(d => d.UserVIPGroup, new { @class = "form-control", placeholder = Html.DisplayNameFor(d => d.UserVIPGroup).ToString() })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>销售提成系数</h3>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(d => d.ReturnDays1, Html.DisplayNameFor(d => d.ReturnDays1).ToString(), new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-md-2">
                                            @Html.TextBoxFor(d => d.ReturnDays1, new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.TextBoxFor(d => d.Percentage1, new { @class = "form-control" })
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(d => d.ReturnDays2, Html.DisplayNameFor(d => d.ReturnDays2).ToString(), new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-md-2">
                                            @Html.TextBoxFor(d => d.ReturnDays2, new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.TextBoxFor(d => d.Percentage2, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>采集资源配置</h3>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(d => d.RequestArticleCount, Html.DisplayNameFor(d => d.RequestArticleCount).ToString(), new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(d => d.RequestArticleCount, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(d => d.RequestMediaCount, Html.DisplayNameFor(d => d.RequestMediaCount).ToString(), new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(d => d.RequestMediaCount, new { @class = "form-control" })
                                </div>
                            </div>
                            <h3>消息推送配置</h3>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(d => d.WebDevelopPush, Html.DisplayNameFor(d => d.WebDevelopPush).ToString(), new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    <div class="radio radio-info radio-inline">
                                        @Html.RadioButtonFor(d => d.WebDevelopPush, true)
                                        <label> 开启 </label>
                                    </div>
                                    <div class="radio radio-info radio-inline">
                                        @Html.RadioButtonFor(d => d.WebDevelopPush, false)
                                        <label> 关闭 </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(d => d.AppointmentPush, Html.DisplayNameFor(d => d.AppointmentPush).ToString(), new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    <div class="radio radio-info radio-inline">
                                        @Html.RadioButtonFor(d => d.AppointmentPush, true)
                                        <label> 开启 </label>
                                    </div>
                                    <div class="radio radio-info radio-inline">
                                        @Html.RadioButtonFor(d => d.AppointmentPush, false)
                                        <label> 关闭 </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(d => d.CancleAppointmentPush, Html.DisplayNameFor(d => d.CancleAppointmentPush).ToString(), new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    <div class="radio radio-info radio-inline">
                                        @Html.RadioButtonFor(d => d.CancleAppointmentPush, true)
                                        <label> 开启 </label>
                                    </div>
                                    <div class="radio radio-info radio-inline">
                                        @Html.RadioButtonFor(d => d.CancleAppointmentPush, false)
                                        <label> 关闭 </label>
                                    </div>
                                </div>
                            </div>


                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i> 保存</button>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/plugins/awesomeCheckboxStyles")

}