
@using Ada.Core.Domain
@model Ada.Core.ViewModel.Purchase.PurchaseReturnOrderView
@{
    
}

<div class="sk-spinner sk-spinner-wave">
    <div class="sk-rect2"></div>
    <div class="sk-rect3"></div>
    <div class="sk-rect4"></div>
    <div class="sk-rect5"></div>
</div>
<div class="form-horizontal">
    <div class="row">
        <div class="form-group col-md-4">
            @Html.LabelFor(d => d.ReturnOrderNum, Html.DisplayNameFor(d => d.ReturnOrderNum).ToString(), new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(d => d.ReturnOrderNum, new { @class = "form-control", @readonly = "", placeholder = "自动编码" })
            </div>
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(d => d.LinkManId, Html.DisplayNameFor(d => d.LinkManId).ToString(), new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @if (Model.AuditStatus == Consts.StateNormal)
                {
                    @Html.TextBoxFor(d => d.LinkManName, new { @readonly = "readonly", @class = "form-control" })
                    @Html.HiddenFor(d => d.LinkManId)
                }
                else
                {
                    <select class="form-control" required="" name="LinkManId" id="LinkManId">
                        <option value="@Model.LinkManId">@Model.LinkManName</option>
                    </select>
                    @Html.HiddenFor(d => d.LinkManName)
                }

            </div>
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(d => d.TransactorId, Html.DisplayNameFor(d => d.TransactorId).ToString(), new { @class = "col-sm-4 control-label", required = "" })
            <div class="col-sm-8">
                @if (Model.AuditStatus == Consts.StateNormal)
                {
                    @Html.TextBoxFor(d => d.Transactor, new { @readonly = "readonly", @class = "form-control" })
                    @Html.HiddenFor(d => d.TransactorId)
                }
                else
                {
                    <select class="form-control" name="TransactorId" id="TransactorId">
                        <option value="@Model.TransactorId">@Model.Transactor</option>
                    </select>
                    @Html.HiddenFor(d => d.Transactor)
                }
            </div>
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(d => d.TotalMoney, Html.DisplayNameFor(d => d.TotalMoney).ToString(), new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(d => d.TotalMoney, new { @class = "form-control", @readonly = "" })
            </div>
        </div>
        
        <div class="form-group col-md-4">
            @Html.LabelFor(d => d.ReturnDate, Html.DisplayNameFor(d => d.ReturnDate).ToString(), new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <div class="input-group date">
                    @Html.TextBoxFor(d => d.ReturnDate, Model.ReturnDate?.ToString("yyyy年MM月dd日"), new { @class = "form-control", required = "", @readonly = "" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-lg-12">
            <div id="toolbar" class="btn-group">
                <button id="btn_add" type="button" class="btn btn-primary btn-outline">
                    <i class="fa fa-plus"></i> 添加退款订单
                </button>
            </div>
            <table id="table"></table>
            @Html.HiddenFor(d => d.OrderDetails)
        </div>
    </div>
    @Html.HiddenFor(d => d.Id)
    @Html.HiddenFor(d => d.AuditStatus)
</div>

