@using System.Web.Optimization
@model Ada.Core.ViewModel.Common.FansView
@{
    ViewBag.Title = "编辑粉丝";
    ViewBag.Bread = new List<SelectListItem>() { new SelectListItem() { Text = "粉丝管理", Value = Url.Action("Index") } };
}
@Html.Partial("Bread")
<div class="wrapper wrapper-content animated fadeInRight">
    @using (Html.BeginForm("Update","Fans", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <p class="bg-danger">@Html.ValidationMessage("message") </p>
        @Html.Partial("Edit")
    }
</div>

@section Styles {
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/jasnyBootstrap")
}
