@using System.Web.Optimization
@using Ada.Core
@using Ada.Core.Domain.Content
@using Ada.Core.Infrastructure
@using Ada.Core.ViewModel.Setting
@using Ada.Services.Setting
@{
    Layout = null;
    var setting = EngineContext.Current.Resolve<ISettingService>().GetSetting<Site>();
    var columnRepository = EngineContext.Current.Resolve<IRepository<Column>>();
    var articleRepository = EngineContext.Current.Resolve<IRepository<Article>>();
    ViewBag.Title = setting.SiteName;
    //导航
    var home = columnRepository.LoadEntities(d => d.CallIndex == "Home").FirstOrDefault();
    var about = columnRepository.LoadEntities(d => d.CallIndex == "About").FirstOrDefault();
    var cases = columnRepository.LoadEntities(d => d.CallIndex == "Case").FirstOrDefault();
    var casesTypes = columnRepository.LoadEntities(d => d.ParentId == cases.Id).OrderBy(d => d.Taxis).ToList();
    var casesArticles = articleRepository.LoadEntities(d => d.Column.TreePath.Contains(cases.Id)).ToList();
    var join = columnRepository.LoadEntities(d => d.CallIndex == "JoinUs").FirstOrDefault();
    var news = columnRepository.LoadEntities(d => d.CallIndex == "News").FirstOrDefault();
    var pics = columnRepository.LoadEntities(d => d.CallIndex == "CompanyPic").FirstOrDefault();
    //联系我们
    var contact = columnRepository.LoadEntities(d => d.CallIndex == "Contact").FirstOrDefault();

}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords"
          content="@setting.SiteSEO">
    <meta name="description"
          content="@setting.SiteSEOContent">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
    <style>

        .lightBoxGallery {
            text-align: center;
        }

            .lightBoxGallery img {
                margin: 5px;
                width: 120px;
                height: 120px;
            }
    </style>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/plugins/blueimp")
    @Styles.Render("~/plugins/cubeportfolioStyles")
</head>

<body id="page-top" class="landing-page">
    <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Order", "UserCenter")" target="_blank">会员中心</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#page-top">@home.Title</a></li>
                        <li><a class="page-scroll" href="#about">@about.Title</a></li>
                        <li><a class="page-scroll" href="#case">@cases.Title</a></li>
                        <li><a class="page-scroll" href="#news">@news.Title</a></li>
                        <li><a class="page-scroll" href="#join">@join.Title</a></li>
                        <li><a class="page-scroll" href="#Contact">@contact.Title</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
        @{
            var slides = home.Articles.Where(d => d.IsSlide == true).OrderBy(d => d.Taxis).ToList();
        }
        <ol class="carousel-indicators">
            @foreach (var item in slides)
            {
                if (item.Taxis == 1)
                {
                    <li data-target="#inSlider" data-slide-to="@item.Taxis" class="active"></li>
                }
                else
                {
                    <li data-target="#inSlider" data-slide-to="@item.Taxis"></li>
                }
            }
        </ol>
        <div class="carousel-inner" role="listbox">
            @foreach (var item in slides)
            {
                if (item.Taxis == 1)
                {
                    <div class="item active">
                        <div class="container">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <!-- Set background for slide in css -->
                        <div class="header-back" style="background: url('@item.CoverPic') 50% 0 no-repeat;"></div>
                    </div>
                }
                else
                {
                    <div class="item">
                        <div class="container">
                            <div class="carousel-caption blank">
                            </div>
                        </div>
                        <!-- Set background for slide in css -->
                        <div class="header-back" style="background: url('@item.CoverPic') 50% 0 no-repeat;"></div>
                    </div>
                }
            }


        </div>
        <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    @Html.Raw(home.Content)

    <section id="case" class="team">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>@cases.Title</h1>
                    <p>@cases.Remark</p>
                </div>
            </div>
            <div class="row">
                <div class="clearfix">
                    <ul id="filterControls" class="d-block list-inline text-center m-b-lg">
                        <li class="list-inline-item cbp-filter-item cbp-filter-item-active p-xs border-top-bottom border-left-right" role="button" data-filter="*">
                            所有
                        </li>
                        @foreach (var item in casesTypes)
                        {
                            <li class="list-inline-item cbp-filter-item p-xs border-top-bottom border-left-right" role="button" data-filter=".@item.CallIndex">
                                @item.Title
                            </li>
                        }

                    </ul>
                    @if (casesArticles.Any())
                    {
                        <div class="cbp" data-controls="#filterControls" data-animation="quicksand" data-x-gap="30" data-y-gap="30">

                            @foreach (var item in casesArticles)
                            {
                                <div class="cbp-item @item.Column.CallIndex">
                                    <a href="javascript:;">
                                        <img class="img-fluid" src="@item.CoverPic" alt="@item.Title">
                                    </a>
                                    <div class="text-center m-t-sm">
                                        <h3 class="h4">@item.Title</h3>
                                        <p>@item.Column.Title</p>
                                    </div>
                                </div>
                            }

                        </div>
                    }
                    else
                    {
                        <p>数据待更新</p>
                    }

                </div>
            </div>

        </div>
    </section>

    <section class="navy-section testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center wow zoomIn">
                    <i class="fa fa-handshake-o big-icon"></i>
                    <h1>
                        合作客户
                    </h1>
                    <div class="testimonials-text">
                        <i>1000+大品牌优质客户的广泛任何与信赖，聚合1000+渠道客户的战略合作</i>
                    </div>
                </div>
            </div>
        </div>

    </section>



    <section id="news" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>@news.Title</h1>
                    <p>@news.Remark </p>
                </div>
            </div>
            <div class="row">
                @foreach (var item in news.Articles.OrderBy(d => d.Id))
                {
                    <div class="col-lg-5 col-lg-offset-1 features-text">
                        <small>微广联合</small>
                        <h2>@item.Title</h2>
                        <i class="fa fa-rss-square big-icon pull-right"></i>
                        <p>@item.Summary</p>
                    </div>
                }

            </div>

        </div>

    </section>

    @Html.Raw(join.Content)
    <section class="team">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>@pics.Title</h1>
                    <p>@pics.Remark</p>
                </div>
            </div>
            <div class="row">
                <div class="lightBoxGallery">
                    @foreach (var item in pics.Articles.Where(d => d.Status == 1).OrderBy(d => d.Taxis).ToList())
                    {
                        <a href="@item.CoverPic" title="@item.Title" data-gallery=""><img src="@item.CoverPic"></a>
                    }
                    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                    <div id="blueimp-gallery" class="blueimp-gallery">
                        <div class="slides"></div>
                        <h3 class="title"></h3>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="close">×</a>
                        <a class="play-pause"></a>
                        <ol class="indicator"></ol>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <section id="Contact" class="gray-section contact">
        @Html.Raw(contact.Content)
    </section>

    <section id="footer">
        <div class="container">
            <div class="row  m-t-lg">
                <div class="col-lg-12 text-center">
                    <p class="m-t-sm">
                        关注联系我们
                    </p>
                    <ul class="list-inline social-icon">
                        <li>
                            <a href="javascript:;" data-toggle="modal" data-target="#mp"><i class="fa fa-weixin"></i></a>
                            <div class="modal inmodal fade" id="mp" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title">扫一扫关注我们</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img src="/Images/landing/wglhmp.jpg" class="img-responsive" alt="微广联合文化传播" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=86276718&Site=qq&Menu=yes" target="_blank"><i class="fa fa-qq"></i></a>
                        </li>
                        <li>
                            <a href="mailto:@setting.CompanyEmail"><i class="fa fa-envelope"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center m-t-sm m-b-lg">
                    <p><strong>版权所有 &copy; 2010-@DateTime.Now.Year @setting.CompanyName</strong><br />@setting.SiteICP</p>
                </div>
            </div>
        </div>
    </section>

    <div class="modal inmodal" id="mapModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src=""></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/plugins/wow")
    @Scripts.Render("~/bundles/inspinia")
    @Scripts.Render("~/plugins/lightboxGallery")
    @Scripts.Render("~/plugins/cubeportfolioScript")
    <script>
        var initCub = {
            _baseConfig: {},
            pageCollection: $(),
            init: function (selector, config) {
                this.collection = selector && $(selector).length ? $(selector) : $();
                if (!$(selector).length) return;
                this.config = config && $.isPlainObject(config) ?
                    $.extend({}, this._baseConfig, config) : this._baseConfig;
                this.config.itemSelector = selector;
                this.initCubeportfolio();
                return this.pageCollection;
            },
            initCubeportfolio: function () {
                //Variables
                var $self = this,
                    config = $self.config,
                    collection = $self.pageCollection;
                //Actions
                this.collection.each(function (i, el) {
                    //Variables
                    var $this = $(el),
                        setControls = $this.data('controls'),
                        setLayout = $this.data('layout'),
                        setXGap = $this.data('x-gap'),
                        setYGap = $this.data('y-gap'),
                        setAnimation = $this.data('animation'),
                        setCaptionAnimation = $this.data('caption-animation'),
                        setDefaultMediaQueries = [{
                            width: 1500,
                            cols: 3
                        }, {
                            width: 1100,
                            cols: 3
                        }, {
                            width: 800,
                            cols: 3
                        }, {
                            width: 480,
                            cols: 2,
                            options: {
                                caption: '',
                                gapHorizontal: 10,
                                gapVertical: 10
                            }
                        }],
                        setMeidaQueries = [{ 'width': 1500, 'cols': 4 }, { 'width': 1100, 'cols': 4 }, { 'width': 800, 'cols': 3 }, { 'width': 480, 'cols': 2 }, { 'width': 300, 'cols': 1 }];

                    $this.cubeportfolio({
                        filters: setControls,
                        layoutMode: setLayout,
                        defaultFilter: '*',
                        sortToPreventGaps: true,
                        gapHorizontal: setXGap,
                        gapVertical: setYGap,
                        animationType: setAnimation,
                        gridAdjustment: 'responsive',
                        mediaQueries: setMeidaQueries,
                        caption: setCaptionAnimation ? setCaptionAnimation : 'overlayBottomAlong',
                        displayType: 'sequentially',
                        displayTypeSpeed: 100

                    });
                    collection = collection.add($this);
                });
            }
        };
        $(document).ready(function () {
            $('body').scrollspy({
                target: '.navbar-fixed-top',
                offset: 80
            });
            $('a.page-scroll').bind('click', function (event) {
                var link = $(this);
                $('html, body').stop().animate({
                    scrollTop: $(link.attr('href')).offset().top - 50
                }, 500);
                event.preventDefault();
                $('#navbar').collapse('hide');
            });
            initCub.init(".cbp");
        });

        var cbpAnimatedHeader = (function () {
            var docElem = document.documentElement,
                header = document.querySelector('.navbar-default'),
                didScroll = false,
                changeHeaderOn = 200;
            function init() {
                window.addEventListener('scroll', function (event) {
                    if (!didScroll) {
                        didScroll = true;
                        setTimeout(scrollPage, 250);
                    }
                }, false);
            }
            function scrollPage() {
                var sy = scrollY();
                if (sy >= changeHeaderOn) {
                    $(header).addClass('navbar-scroll');
                }
                else {
                    $(header).removeClass('navbar-scroll');
                }
                didScroll = false;
            }
            function scrollY() {
                return window.pageYOffset || docElem.scrollTop;
            }
            init();
        })();



        function baiduMap(name, url) {
            $('#mapModal').on('shown.bs.modal', function () {
                $(this).find(".modal-title").html(name);
                $(this).find("iframe").attr("src", url);
            });
            $('#mapModal').modal('show');
        }


    </script>

</body>
</html>

