
@using System.Web.Optimization
@using Ada.Core.Domain
@model Ada.Core.ViewModel.Business.BusinessOrderView
@{
    ViewBag.Title = Model.Remark;
    ViewBag.Bread = new List<SelectListItem>() { new SelectListItem() { Text = "销售订单", Value = Url.Action("Index") } };
}
@Html.Partial("Bread")

<div class="wrapper wrapper-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p class="bg-danger">@Html.ValidationMessage("message") </p>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <a class="btn btn-outline btn-default btn-sm" href="javascript:goBackOrClose();"><i class="fa fa-reply"></i> 返回</a>
                        <button class="btn btn-success btn-sm" type="submit" data-style="slide-right"><i class="fa fa-floppy-o"></i> 保存</button>

                        @if (Model.AuditStatus == Consts.StateNormal)
                        {
                            <a class="btn btn-warning btn-sm pull-right" href="@Url.Action("Audit", new {id = Model.Id})">
                                <i class="fa fa-unlock"></i> <span>弃审</span>
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-primary btn-sm pull-right" href="@Url.Action("Audit", new {id = Model.Id})">
                                <i class="fa fa-lock"></i> <span>审核</span>
                            </a>
                        }


                    </div>
                    <div class="ibox-content">
                        <div class="sk-spinner sk-spinner-wave">
                            <div class="sk-rect2"></div>
                            <div class="sk-rect3"></div>
                            <div class="sk-rect4"></div>
                            <div class="sk-rect5"></div>
                        </div>
                        @Html.Partial("OrderEdit", Model)

                    </div>
                </div>
            </div>
        </div>
    }
        <div id="toolbar" class="btn-group">
            <a class="btn btn-primary btn-outline" href="javascript:showMedia('@Url.Action("SelectMedia")');">
                <i class="fa fa-plus"></i> 添加媒体
            </a>
            <a class="btn btn-primary btn-outline" href="javascript:transOrder();">
                <i class="fa fa-arrow-circle-right"></i> 转为采购
            </a>
            <a class="btn btn-primary btn-outline" href="javascript:change();">
                <i class="fa fa-exchange"></i> 转移订单
            </a>
            <a class="btn btn-primary btn-outline" href="javascript:deleteRow();">
                <i class="fa fa-trash-o"></i> 删除订单
            </a>
            <a class="btn btn-primary btn-outline" href="javascript:confirms();">
                <i class="fa fa-check"></i> 批量确认
            </a>
        </div>
</div>




@section Styles {
    @Styles.Render("~/plugins/dateTimePickerStyle")
    @Styles.Render("~/plugins/bootstrapTableStyle")
    @Styles.Render("~/plugins/bootstrapEditTableStyle")
    @Styles.Render("~/plugins/select2Styles")

}
@section Scripts {
    @Scripts.Render("~/plugins/dateTimePickerScript")
    @Scripts.Render("~/plugins/bootstrapTableScript")
    @Scripts.Render("~/plugins/bootstrapEditTableScript")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/lodash")
    <script>
        var linkmanUrl = "@Url.Action("GetList", "LinkMan", new {area = "Customer"})",
            managerUrl = "@Url.Action("GetList", "Manager", new {area = "Admin"})",
            mediapriceUrl = "@Url.Action("GetMediaPrices", "Media", new { area = "Resource" })",
            orderData =@Html.Raw(string.IsNullOrWhiteSpace(Model.OrderDetails)?"[]": Model.OrderDetails),
            isReadonly = @Model.AuditStatus;
    </script>
    <script src="@Url.Content("~/Areas/Business/Scripts/order.js?v=201808200")"></script>
    <script>
        function transOrder() {
            var arrselections = $table.bootstrapTable('getSelections');
            if (arrselections.length <= 0) {
                swal("操作提醒", "请选择有效数据", "warning");
                return;
            }
            swal({
                title: "您确定吗?",
                text: "确认要转成采购订单吗?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                closeOnConfirm: false,
                showLoaderOnConfirm: true
            }, function () {
                $.ajax({
                    type: "post",
                    headers: {
                        '__RequestVerificationToken': $('@Html.AntiForgeryToken()').val()
                    },
                    url: "@Url.Action("TransformPurchaseOrder")",
                    data: { rows: JSON.stringify(arrselections) ,id:'@Model.Id'},
                    success: function (data) {
                        if (data.State == 1) {
                            swal({
                                title: "操作成功",
                                text: data.Msg,
                                //timer: 2000,
                                type:"success",
                                //showConfirmButton: false
                            },
                                function (isConfirm) {
                                    if (isConfirm) {
                                        window.location.reload();
                                    }
                                });
                        } else {
                            swal("操作提醒", data.Msg, "warning");
                        }
                    },
                    error: function () {
                        swal("操作失败", "系统错误", "error");
                    },
                    complete: function () {
                    }
                });
            });
        }

        function subConfirm(row) {
            var url = "@Url.Action("Confirm")";
            var sellMoney = row.SellMoney;
            var money = row.Money;
            var remark = row.Remark;
            var id = row.Id;
            var form = $("<form></form>");
            form.attr("action", url);
            form.attr("method", "post");
            var inputType = $("<input type='text' name='SellMoney'/>");
            inputType.attr("value", sellMoney);
            var inputNumber = $("<input type='text' name='Money'/>");
            inputNumber.attr("value", money);
            var inputStatus = $("<input type='text' name='Remark'/>");
            inputStatus.attr("value", remark);
            var inputPage = $("<input type='text' name='Id'/>");
            inputPage.attr("value", id);
            var inputToken = $('@Html.AntiForgeryToken()');
            form.append(inputType);
            form.append(inputNumber);
            form.append(inputStatus);
            form.append(inputPage);
            form.append(inputToken);
            form.appendTo("body");
            form.hide();
            form.submit();
        }

        function deleteRow() {
            var arrselections = $("#table").bootstrapTable('getSelections');
                    if (arrselections.length > 1) {
                        swal("操作提醒", "只能选择一行进行删除", "warning");
                        return;
                    }
                    if (arrselections.length <= 0) {
                        swal("操作提醒", "请选择有效数据", "warning");
                        return;
                    }

                    swal({
                        title: "您确定吗?",
                        text: "确认要删除选择的数据吗?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定",
                        cancelButtonText: "取消",
                        closeOnConfirm: false,
                        showLoaderOnConfirm: true
                    }, function () {
                        $.ajax({
                            type: "post",
                            headers: {
                                '__RequestVerificationToken': $('@Html.AntiForgeryToken()').val()
                            },
                            url: "@Url.Action("DeleteDetail")",
                            data: { "id": arrselections[0].Id },
                            success: function (data) {
                                if (data.State == 1) {
                                    swal({
                                        title: "操作成功",
                                        text: data.Msg,
                                        type:"success"
                                    },
                                        function() {
                                            $("#table").bootstrapTable('removeByUniqueId', arrselections[0].Id);
                                        });

                                } else {
                                    swal("操作提醒", data.Msg, "warning");
                                }
                            },
                            error: function () {
                                swal("操作失败", "系统错误", "error");
                            },
                            complete: function () {

                            }
                        });
                    });
        }

        function confirms() {
            var arrselections = $table.bootstrapTable('getSelections');
            if (arrselections.length <= 0) {
                swal("操作提醒", "请选择有效数据", "warning");
                return;
            }
            swal({
                title: "您确定吗?",
                text: "确认要确认这些订单吗?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                closeOnConfirm: false,
                showLoaderOnConfirm: true
            }, function () {
                $.ajax({
                    type: "post",
                    headers: {
                        '__RequestVerificationToken': $('@Html.AntiForgeryToken()').val()
                    },
                    url: "@Url.Action("Confirms")",
                    data: { rows: JSON.stringify(arrselections)},
                    success: function (data) {
                        if (data.State == 1) {
                            swal({
                                title: "操作成功",
                                text: data.Msg,
                                type:"success"
                            },
                                function (isConfirm) {
                                    if (isConfirm) {
                                        window.location.reload();
                                    }
                                });
                        } else {
                            swal("操作提醒", data.Msg, "warning");
                        }
                    },
                    error: function () {
                        swal("操作失败", "系统错误", "error");
                    },
                    complete: function () {
                    }
                });
            });
        }
        function change() {
            var arrselections = $table.bootstrapTable('getSelections');
            if (arrselections.length <= 0) {
                swal("操作提醒", "请选择有效数据", "warning");
                return;
            }
            swal({
                title: "订单明细转移",
                text: "请输入要转入的订单编号",
                type: "input",
                showCancelButton: true,
                inputPlaceholder: "VGXD开头的订单编号",
                animation: "slide-from-top", 
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                closeOnConfirm: false,
                showLoaderOnConfirm: true
            }, function (value) {
                if (value === false) return false; 
                if (value === "") { 
                    swal.showInputError("请输入订单编号！");
                    return false;
                } 
                var ids = [];
                $.each(arrselections,
                    function(k, v) {
                        ids.push(v.Id);
                    });
                $.ajax({
                    type: "post",
                    headers: {
                        '__RequestVerificationToken': $('@Html.AntiForgeryToken()').val()
                    },
                    url: "@Url.Action("ChangeOrder")",
                    data: { ids: ids.join(','),on:value},
                    success: function (data) {
                        if (data.State == 1) {
                            swal({
                                title: "操作成功",
                                text: data.Msg,
                                type:"success"
                            },
                                function (isConfirm) {
                                    if (isConfirm) {
                                        window.location.reload();
                                    }
                                });
                        } else {
                            swal("操作提醒", data.Msg, "warning");
                        }
                    },
                    error: function () {
                        swal("操作失败", "系统错误", "error");
                    },
                    complete: function () {
                    }
                });
            });
        }
        function showEditMoney(id) {
            $("#modalView").load("@Url.Action("EditMoney")?id="+id,
                function () {
                    $('#modalView .modal').modal('show');
                });
        }
    </script>
}
