@using System.Web.Optimization
@model Ada.Core.ViewModel.Resource.MediaView
@{
    ViewBag.Title = "编辑知乎";
    List<SelectListItem> urls = new List<SelectListItem>() { new SelectListItem() { Text = "知乎资源", Value = Url.Action("Index") } };
}
@Html.Partial("Bread", urls)


<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Partial("ZhiHuEdit", Model)
    }
</div>


@section Styles {
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/dataPicker")
    <script>
        var linkmanurl = "@Url.Action("GetList", "LinkMan", new {area = "Customer"})";
    </script>
    <script src="@Url.Content("~/Areas/Resource/Scripts/resource.js")"></script>
    <script src="@Url.Content("~/Areas/Resource/Scripts/transactor.js")"></script>
}



