@using System.Web.Optimization
@model Ada.Core.ViewModel.Customer.CommpanyView
@{
    ViewBag.Title = "编辑公司";
    List<SelectListItem> urls = new List<SelectListItem>() { new SelectListItem() { Text = "商家公司", Value = Url.Action("Index") } };
}
@Html.Partial("Bread", urls)
<div class="wrapper wrapper-content animated fadeInRight">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p class="bg-danger">@Html.ValidationMessage("message") </p>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <a class="btn btn-outline btn-default btn-sm" href="@Url.Action("Index")"><i class="fa fa-reply"></i> 返回</a>
                        <button class="btn btn-primary btn-sm" type="submit"><i class="fa fa-floppy-o"></i> 保存</button>
                    </div>
                    <div class="ibox-content">
                        <div class="sk-spinner sk-spinner-wave">
                            <div class="sk-rect2"></div>
                            <div class="sk-rect3"></div>
                            <div class="sk-rect4"></div>
                            <div class="sk-rect5"></div>
                        </div>
                        @Html.Partial("CommpanyEdit", Model)
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Styles {
    @Styles.Render("~/plugins/select2Styles")
}
@section Scripts {
    @Scripts.Render("~/plugins/select2")
    <script src="@Url.Content("~/Areas/Customer/Scripts/transactor.js")"></script>
}
