@using System.Web.Optimization
@using Ada.Core.Domain
@using Ada.Core.Infrastructure
@using Ada.Services.Admin
@model Ada.Core.ViewModel.Statistics.PurchaseTotal
@{
    ViewBag.Title = "媒介工作台";
    int index = 1;
    int cindex = 1;
    var service = EngineContext.Current.Resolve<IManagerService>();
    var mangers = service.GetByOrganizationName("媒介部");
}
<div class="wrapper wrapper-content">


    <div class="row">
        <div class="col-lg-2">

            <div class="widget style1 white-bg mouse-pointer" onclick="window.open('@Url.Action("Index","OrderDetail",new {area="Purchase",Status=Consts.PurchaseStatusWait})');">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-hourglass fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 待响应 </span>
                        <h2 class="font-bold">@Model.Waiting</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

            <div class="widget style1 yellow-bg mouse-pointer" onclick="window.open('@Url.Action("Index","OrderDetail",new {area="Purchase",Status=Consts.PurchaseStatusTodo})');">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 正处理 </span>
                        <h2 class="font-bold">@Model.Doing</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

            <div class="widget style1 navy-bg mouse-pointer" onclick="window.open('@Url.Action("Index","OrderDetail",new {area="Purchase",Status=Consts.PurchaseStatusConfirm})');">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-handshake-o fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 已确认 </span>
                        <h2 class="font-bold">@Model.Confirm</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

            <div class="widget style1 lazur-bg mouse-pointer" onclick="window.open('@Url.Action("Index","OrderDetail",new {area="Purchase",PublishDateStart=DateTime.Now.Date.ToString("d"),PublishDateEnd=DateTime.Now.Date.ToString("d")})');">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-calendar-o fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 今日出刊 </span>
                        <h2 class="font-bold">@Model.Today</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="widget style1 lazur-bg mouse-pointer" onclick="window.open('@Url.Action("Index","OrderDetail",new {area="Purchase",PublishDateStart=DateTime.Now.Date.AddDays(1).ToString("d"),PublishDateEnd=DateTime.Now.Date.AddDays(1).ToString("d")})');">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-calendar-plus-o fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 明日出刊 </span>
                        <h2 class="font-bold">@Model.Tomorrow</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

            <div class="widget style1 red-bg mouse-pointer" onclick="window.open('@Url.Action("Index","Payment",new {area="Purchase",InvoiceStauts=false,IsInvoice=true})') ;">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-money fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 未到票 </span>
                        <h2 class="font-bold">@Model.InvoiceCount</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                @*<div class="ibox-title">

                        <h5>媒体资源统计</h5>
                    </div>*@
                <div class="ibox-content">
                    <div>
                        <span class="pull-right text-right">
                            <strong>采购订单统计</strong>
                            <br />
                            订单总数: @Model.OrderCount
                        </span>
                        <h4 class="font-bold no-margins">
                            媒体资源统计
                        </h4>
                        @*<small>Sales marketing.</small>*@
                    </div>
                    <div class="row">
                        <div class="col-lg-8">

                            <div class="flot-chart" style="height: 350px;">
                                <div class="flot-chart-content" id="flot-dashboard-chart"></div>
                            </div>

                        </div>
                        <div class="col-lg-4">
                            <div class="row m-t-xs">
                                <div class="col-xs-6">
                                    <h5 class="m-b-xs">预付金额</h5>
                                    <h1 class="no-margins">@Model.TotalPayMoney</h1>

                                </div>
                                <div class="col-xs-6">
                                    <h5 class="m-b-xs">已付金额</h5>
                                    <h1 class="no-margins">@Model.PayMoney</h1>

                                </div>
                            </div>

                            @*<ul class="stat-list">
                                    <li>
                                        <h2 class="no-margins">1111</h2>
                                        <small>销售订单数</small>

                                    </li>
                                    <li>
                                        <h2 class="no-margins"><i class="fa fa-jpy "></i> 11111</h2>
                                        <small>销售总额（不含税）</small>

                                    </li>
                                    <li>
                                        <h2 class="no-margins "><i class="fa fa-jpy "></i> 11111</h2>
                                        <small>未核销金额</small>

                                    </li>
                                    <li>
                                        <h2 class="no-margins "><i class="fa fa-jpy "></i> 11111</h2>
                                        <small>已核销金额</small>

                                    </li>
                                </ul>*@
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>
    @Html.Partial("Late")
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" id="iboxAdd">
                <div class="ibox-title">
                    <h5>媒体资源开发排行榜</h5>
                    @*<div class="ibox-tools">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="label label-info pull-right"><span class="currentdate">@DateTime.Now.ToString("yyyy-MM")</span> <i class="fa fa-chevron-down"></i></span>
                        </a>
                        <ul class="dropdown-menu dropdown-user">

                            @for (int i = 0; i < 12; i++)
                            {
                                <li>
                                    <a href="javascript:getTop('@DateTime.Now.AddMonths(-i).ToString("yyyy-MM")');">@DateTime.Now.AddMonths(-i).ToString("yyyy-MM")</a>
                                </li>
                            }
                        </ul>
                    </div>*@
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover margin bottom">
                            <thead>
                                <tr>
                                    <th class="text-center">排名</th>
                                    <th>媒介人员</th>
                                    <th>开发数</th>
                                </tr>

                            </thead>
                            <tbody>
                                @foreach (var item in Model.Tops)
                                {
                                    <tr>
                                        <td class="text-center">@index</td>
                                        <td>@item.Transactor</td>
                                        <td>@item.MediasCount</td>
                                    </tr>
                                    index++;
                                }
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" id="iboxUpdate">
                <div class="ibox-title">
                    <h5>截至 @DateTime.Now.Month 月媒体价格更新统计</h5>
                    <div class="ibox-tools">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="label label-info pull-right"><span class="currentupdate">媒介部</span> <i class="fa fa-chevron-down"></i></span>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="javascript:getUpdate('','媒介部');"> 媒介部 </a>
                            </li>
                            @foreach (var item in mangers)
                            {
                                <li>
                                    <a href="javascript:getUpdate('@item.Id','@item.UserName');"> @item.UserName </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover bottom">
                            <thead>
                                <tr>
                                    <th>媒体类型</th>
                                    <th>媒体总数</th>
                                    <th>已更新数</th>
                                    <th>未更新数</th>
                                    <th>更新比例</th>
                                </tr>

                            </thead>
                            <tbody>
                                @foreach (var item in Model.MediaUpdates)
                                {
                                    var bl = item.Total == 0 ? 0 : item.Updated / (item.Total * 1.0);
                                    <tr>
                                        <td>@item.TypeName</td>
                                        <td>@item.Total</td>
                                        <td>@item.Updated</td>
                                        <td>@item.NoUpdated</td>
                                        <td>@bl.ToString("P")</td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>供应商采购排行</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-hover bottom">
                            <thead>
                                <tr>
                                    <th class="text-center">排名</th>
                                    <th>供应商名称</th>
                                    <th>采购总额</th>
                                </tr>

                            </thead>
                            <tbody>
                                @foreach (var item in Model.CompanyTops)
                                {
                                    <tr>
                                        <td class="text-center">@cindex</td>
                                        <td>@item.Name</td>
                                        <td>@item.TotalMoney</td>
                                    </tr>
                                    cindex++;
                                }
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts{
    @Scripts.Render("~/plugins/echarts")
    <script>
        $(function() {

            initCharts();
        });



        function initCharts() {
            var myChart = echarts.init(document.getElementById('flot-dashboard-chart'));
            var medias =@Html.Raw(Model.Medias);
            var types = [];
            $.each(medias,
                function(k, v) {
                    types.push(v.name);
                });
            var option = {

                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    //orient: 'vertical',
                    data: types
                },
                series : [
                    {
                        name: '媒体资源',
                        type: 'pie',
                        radius : '55%',
                        center: ['50%', '60%'],
                        data: medias,
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };

            myChart.setOption(option);
        }
        function getTop(date) {
            var $top = $("#iboxAdd"), $table = $("#iboxAdd tbody");
            $("#iboxAdd .currentdate").text(date);
            $.ajax({
                type: "get",
                url: "@Url.Action("GetAddTop")",
                data: { date:date },
                success: function (data) {
                    $table.empty();
                    $.each(data,
                        function(k, v) {
                            $table.append('<tr>' +
                                '<td class="text-center">' + (k + 1) + '</td>' +
                                '<td>' + v.Transactor+'</td>' +
                                '<td>' + v.MediasCount+'</td>' +
                                '</tr>');
                        });
                },
                error: function () {
                    //swal("操作失败", "系统错误", "error");
                },
                complete: function () {
                    $top.children('.ibox-content').toggleClass('sk-loading');
                },
                beforeSend: function() {
                    $top.children('.ibox-content').toggleClass('sk-loading');
                }
            });
        }
        function getUpdate(id,name) {
            var $top = $("#iboxUpdate"), $table = $("#iboxUpdate tbody");
            $("#iboxUpdate .currentupdate").text(name);
            $.ajax({
                type: "get",
                url: "@Url.Action("GetMediaUpdatedInfo")",
                data: { id:id },
                success: function (data) {
                    $table.empty();
                    $.each(data,
                        function (k, v) {
                            var bl = v.Total == 0 ? "0" : percentage(v.Updated, v.Total);
                            $table.append('<tr>' +
                                '<td>' + v.TypeName + '</td>' +
                                '<td>' + v.Total+'</td>' +
                                '<td>' + v.Updated + '</td>' +
                                '<td>' + v.NoUpdated + '</td>' +
                                '<td>' + bl + '</td>' +
                                '</tr>');
                        });
                },
                error: function () {

                },
                complete: function () {
                    $top.children('.ibox-content').toggleClass('sk-loading');
                },
                beforeSend: function() {
                    $top.children('.ibox-content').toggleClass('sk-loading');
                }
            });
        }
        function percentage(number1, number2) { 
            return (Math.round(number1 / number2 * 10000) / 100.00 + "%");// 小数点后两位百分比
   
        }
    </script>
}

