@using Ada.Core.Domain
@using Ada.Core.Infrastructure
@using Ada.Services.Admin
@using Microsoft.Ajax.Utilities

@model Ada.Core.ViewModel.Business.BusinessOfferView
@{
    var fieldService = EngineContext.Current.Resolve<IFieldService>();
    var offTypes = fieldService.GetFieldsByKey("OfferType").Select(d => new SelectListItem { Text = d.Text, Value = d.Value });
}
<div class="form-horizontal">
    <div class="row">
        <div class="form-group col-md-4">
            @Html.LabelFor(d => d.LinkManId, Html.DisplayNameFor(d => d.LinkManId).ToString(), new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <select class="form-control" required="" name="LinkManId" id="LinkManId">
                    <option value="@Model.LinkManId">@Model.LinkManName</option>
                </select>
                @Html.HiddenFor(d => d.LinkManName)
            </div>
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(d => d.OfferNum, Html.DisplayNameFor(d => d.OfferNum).ToString(), new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(d => d.OfferNum, new { @class = "form-control", placeholder = "自动编码", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(d => d.OfferDate, Html.DisplayNameFor(d => d.OfferDate).ToString(), new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <div class="input-group date">
                    @Html.TextBoxFor(d => d.OfferDate, Model.OfferDate.IfNotNull(d => d.Value.ToString("yyyy年MM月dd日")), new { @class = "form-control", required = "", @readonly = "" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(d => d.Tax, Html.DisplayNameFor(d => d.Tax).ToString(), new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(d => d.Tax, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(d => d.DiscountMoney, Html.DisplayNameFor(d => d.DiscountMoney).ToString(), new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(d => d.DiscountMoney, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(d => d.TransactorId, Html.DisplayNameFor(d => d.TransactorId).ToString(), new { @class = "col-sm-4 control-label", required = "" })
            <div class="col-sm-8">
                <select class="form-control" name="TransactorId" id="TransactorId">
                    <option value="@Model.TransactorId">@Model.Transactor</option>
                </select>
                @Html.HiddenFor(d => d.Transactor)
            </div>
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(d => d.OfferType, Html.DisplayNameFor(d => d.OfferType).ToString(), new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DropDownListFor(d => d.OfferType, offTypes, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(d => d.ValidDays, Html.DisplayNameFor(d => d.ValidDays).ToString(), new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(d => d.ValidDays, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(d => d.Remark, Html.DisplayNameFor(d => d.Remark).ToString(), new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(d => d.Remark, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-lg-12">
            <div id="toolbar" class="btn-group">
                <a class="btn btn-primary btn-outline" href="javascript:showMedia('@Url.Action("SelectMedia","Order")');">
                    <i class="fa fa-plus"></i> 添加媒体资源
                </a>
            </div>
            <table id="table"></table>
            @Html.HiddenFor(d => d.Details)
            @Html.HiddenFor(d => d.Id)
        </div>
    </div>
</div>


