@using System.Web.Optimization
@using Ada.Core.Domain.Customer
@model Ada.Core.ViewModel.Business.BusinessPaymentView
@{
    ViewBag.Title = "审批请款";
    List<SelectListItem> urls = new List<SelectListItem>() { new SelectListItem() { Text = "销售请款", Value = Url.Action("Index") } };
    LinkMan linkMan = ViewBag.LinkMan;
}
@Html.Partial("Bread", urls)


<div class="wrapper wrapper-content">
   
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <!-- The Gallery as lightbox dialog, should be a child element of the document body -->

        <div class="row">
            <div class="col-lg-12">
                <div class="tabs-container">
                    <p class="bg-danger">@Html.ValidationMessage("message") </p>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1"> 申请信息</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-2"> 客户信息</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        @Html.LabelFor(d => d.PaymentType, Html.DisplayNameFor(d => d.PaymentType).ToString(), new {@class = "col-sm-2 control-label"})
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(d => d.PaymentType, new {@class = "form-control", @readonly = "readonly"})
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        @Html.LabelFor(d => d.AccountBank, Html.DisplayNameFor(d => d.AccountBank).ToString(), new {@class = "col-sm-2 control-label"})
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(d => d.AccountBank, new {@class = "form-control", @readonly = "readonly"})
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        @Html.LabelFor(d => d.AccountName, Html.DisplayNameFor(d => d.AccountName).ToString(), new {@class = "col-sm-2 control-label"})
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(d => d.AccountName, new {@class = "form-control", @readonly = "readonly"})
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        @Html.LabelFor(d => d.AccountNum, Html.DisplayNameFor(d => d.AccountNum).ToString(), new {@class = "col-sm-2 control-label"})
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(d => d.AccountNum, new {@class = "form-control", @readonly = "readonly"})
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        @Html.LabelFor(d => d.PayMoney, Html.DisplayNameFor(d => d.PayMoney).ToString(), new {@class = "col-sm-2 control-label"})
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(d => d.PayMoney, new {@class = "form-control", @readonly = "readonly"})
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        @Html.LabelFor(d => d.Image, Html.DisplayNameFor(d => d.Image).ToString(), new {@class = "col-sm-2 control-label"})
                                        <div class="col-sm-1">
                                            @if (string.IsNullOrWhiteSpace(Model.Image))
                                            {
                                                <input type="text" class="form-control" readonly="readonly" value="未上传凭证"/>
                                            }
                                            else
                                            {
                                                <div class="lightBoxGallery">
                                                    <a href="@Model.Image" title="申请凭证" data-gallery="">
                                                        <img src="@Model.Image" style="width: 100px; height: 100px;">
                                                    </a>
                                                    <div id="blueimp-gallery" class="blueimp-gallery">
                                                        <div class="slides"></div>
                                                        <h3 class="title"></h3>
                                                        <a class="prev">‹</a>
                                                        <a class="next">›</a>
                                                        <a class="close">×</a>
                                                        <a class="play-pause"></a>
                                                        <ol class="indicator"></ol>
                                                    </div>
                                                </div>
                                            }
                                            
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        @Html.LabelFor(d => d.Remark, Html.DisplayNameFor(d => d.Remark).ToString(), new {@class = "col-sm-2 control-label"})
                                        <div class="col-sm-10">
                                            @Html.TextAreaFor(d => d.Remark, new {@class = "form-control"})
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        @Html.LabelFor(d => d.AuditStatus, Html.DisplayNameFor(d => d.AuditStatus).ToString(), new {@class = "col-sm-2 control-label"})
                                        <div class="col-sm-10">
                                            <div class="radio radio-info radio-inline">
                                                @Html.RadioButtonFor(d => d.AuditStatus, 1)
                                                <label> 同意 </label>
                                            </div>
                                            <div class="radio radio-info radio-inline">
                                                @Html.RadioButtonFor(d => d.AuditStatus, 0)
                                                <label> 拒绝 </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <a class="btn btn-outline btn-default" href="@Url.Action("Index")"><i class="fa fa-reply"></i> 返回</a>
                                            <button class="btn btn-primary" type="submit"><i class="fa fa-floppy-o"></i> 保存</button>
                                        </div>
                                    </div>
                                    @Html.HiddenFor(d => d.Id)
                                </div>

                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <h3 class="text-center">客户基本信息</h3>
                                <div class="hr-line-dashed"></div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-horizontal">
                                            <div class="form-group col-md-4">
                                                <label class="col-sm-4 control-label">公司名称</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" readonly="readonly" value="@linkMan.Commpany.Name"/>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="col-sm-4 control-label">客户名称</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" readonly="readonly" value="@linkMan.Name"/>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="col-sm-4 control-label">客户状态</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" readonly="readonly" value="@linkMan.Status"/>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="col-sm-4 control-label">客户微信</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" readonly="readonly" value="@linkMan.WeiXin"/>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="col-sm-4 control-label">客户QQ</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" readonly="readonly" value="@linkMan.QQ"/>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="col-sm-4 control-label">客户电话</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" readonly="readonly" value="@linkMan.Phone"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <caption class="text-center">
                                                    <h3>客户账户信息</h3></caption>
                                                <thead>
                                                <tr>
                                                    <th>
                                                        账户类型
                                                    </th>
                                                    <th>
                                                        账户名称
                                                    </th>
                                                    <th>
                                                        账户账号
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                @foreach (var item in linkMan.PayAccounts)
                                                {
                                                    <tr>
                                                        <td>@item.AccountType</td>
                                                        <td>@item.AccountName</td>
                                                        <td>@item.AccountNum</td>
                                                    </tr>
                                                }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section StylesFirst {
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/Content/plugins/blueimp/css/")
}
@section Scripts {
    @Scripts.Render("~/plugins/lightboxGallery")
}


