
@using System.Web.Optimization
@model Ada.Core.ViewModel.Purchase.PurchaseOrderDetailView
@{
    ViewBag.Title = "处理订单";
    List<SelectListItem> urls = new List<SelectListItem>() { new SelectListItem() { Text = "媒介订单", Value = Url.Action("Index") } };
    var discountBefore = Model.Money + Model.DiscountMoney;
}
@Html.Partial("Bread", urls)

<div class="wrapper wrapper-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Partial("OrderEdit", Model)
    }
</div>

@section Styles {
    @Styles.Render("~/plugins/dateTimePickerStyle")
    @Styles.Render("~/plugins/bootstrapTableStyle")
    @Styles.Render("~/plugins/bootstrapEditTableStyle")
    @Styles.Render("~/plugins/select2Styles")

}
@section Scripts {
    @Scripts.Render("~/plugins/dateTimePickerScript")
    @Scripts.Render("~/plugins/bootstrapTableScript")
    @Scripts.Render("~/plugins/bootstrapEditTableScript")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/lodash")
    <script>
        var linkmanUrl = "@Url.Action("GetList", "LinkMan", new {area = "Customer"})",
            managerUrl = "@Url.Action("GetList", "Manager", new {area = "Admin"})",
            discountRate =@Model.DiscountRate,discountBefore=@discountBefore;

    </script>
    <script src="@Url.Content("~/Areas/Purchase/Scripts/order.js")"></script>

}


