
@using System.Web.Optimization
@model Ada.Core.ViewModel.Purchase.PurchaseReturnOrderView
@{
    ViewBag.Title = "媒介退款";
}
@Html.Partial("Bread")

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox collapsed">
        <div class="ibox-title">
            <h5>高级筛选</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <form id="searchFrm" onSubmit="javascript:searchFrm.search(this,event);">
                <div class="row">


                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(d => d.Transactor, Html.DisplayNameFor(d => d.Transactor) + "：", new { @class = "control-label" })
                            @Html.TextBoxFor(d => d.Transactor, new { @class = "form-control" })
                        </div>
                    </div>

                </div>
                <div class="hr-line-dashed"></div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> 搜索</button>
                            <button class="btn btn-warning" type="button" onclick="searchFrm.reset($('#searchFrm'));"><i class="fa fa-repeat"></i> 重置</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table id="table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="toolbar" class="btn-group">
    <div class="form-inline" role="form">
        <div class="form-group">
            <select name="AuditStatus" class="form-control" id="AuditStatus">
                <option value="0">待审批</option>
                <option value="1">已审批</option>
            </select>
        </div>
    </div>
    @Html.AntiForgeryToken()
</div>

@section Styles {
    @Styles.Render("~/plugins/bootstrapTableStyle")
}

@section Scripts {
    @Scripts.Render("~/plugins/bootstrapTableScript")
    <script type="text/javascript">
        $(document).ready(function () {
            var table = new TableInit();
            table.Init();
            $("#AuditStatus").change(function () {
                $('#table').bootstrapTable('refresh');
            });
        });
        var TableInit = function() {
            var obj = new Object();
            obj.Init = function() {
                $('#table').bootstrapTable({
                classes: "table table-no-bordered",
                url: '@Url.Action("GetList", "OrderReturn",new{area= "Purchase" })',         //请求后台的URL（*）BalanceMoneyMin
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "desc",                   //排序方式
                sortName: "Id",
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,                 //设置为 true启用 全匹配搜索，否则为模糊搜索
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                singleSelect: true,                  //设置True 将禁止多选
                uniqueId: "Id",                     //每一行的唯一标识，一般为主键列
                showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //设置为 true将显示card视图，适用于移动设备。否则为table试图，适用于pc
                //detailView: true,                   //设置为 true 可以显示详细页面模式。
                //detailFormatter: detailFormatter,
                    queryParams: function (parameters) {
                        parameters.AuditStatus = $("#AuditStatus").val();
                    return searchFrm.queryParams(parameters);
                },
                formatSearch: function() {
                    return "@Html.DisplayNameFor(d => d.LinkManName)";
                },
                mobileResponsive:true,
                columns: [
                    {
                        field: 'ReturnOrderNum',
                        title: '@Html.DisplayNameFor(d=>d.ReturnOrderNum)',
                        align: "center", valign: "middle"
                    },
                    {
                        field: 'LinkManName',
                        title: '@Html.DisplayNameFor(d=>d.LinkManName)',
                        align: "center", valign: "middle"
                    },
                    {
                        field: 'TotalMoney',
                        title: '@Html.DisplayNameFor(d=>d.TotalMoney)',
                        align: "center", valign: "middle"
                    },
                    {
                        field: 'ReturnDate',
                        title: '@Html.DisplayNameFor(d=>d.ReturnDate)',
                        align: "center", valign: "middle",
                        formatter: function(value) {
                            return  moment(value).format("YYYY-MM-DD");
                        }
                    },
                    {
                        field: 'Transactor',
                        title: '@Html.DisplayNameFor(d=>d.Transactor)',
                        align: "center", valign: "middle"
                    },
                    {
                        field: 'Id',
                        title: '操作',
                        align: "center", valign: "middle",
                        formatter: function (value,row) {
                            return "<a class='btn btn-white btn-sm' href='@Url.Action("Audit")/" +
                                value +
                                "'><i class='fa fa-gavel'></i> 审批</a> " +
                                "<button class='btn btn-danger btn-sm' onclick=\"deleteData('@Url.Action("Delete", "OrderReturn", new { area = "Purchase" })','" + value + "');\"><i class='fa fa-reply'></i> 撤销</button>";
                        }

                    }
                ]
            });
            };

            return obj;
        };

        

    </script>
}
















