@using Ada.Core.Infrastructure
@using Ada.Core.ViewModel.Setting
@using Ada.Services.Admin
@using Ada.Services.Resource
@using Ada.Services.Setting
@model Ada.Core.Domain.Resource.MediaType
@{
    var tags = EngineContext.Current.Resolve<IMediaTagService>().GetTags(Model.Id);
    var adpositions = Model.AdPositions.Select(d => new SelectListItem() { Text = d.Name, Value = d.Name });
    var fieldService = EngineContext.Current.Resolve<IFieldService>();
    var settingService = EngineContext.Current.Resolve<ISettingService>();
    var setConfig = settingService.GetSetting<WeiGuang>();
    var excelFields = fieldService.GetFieldsByKey(Model.CallIndex + "-excel");
    var isData = new List<string>() { "weixin", "sinablog", "douyin", "redbook" };
    var areas = fieldService.GetFieldsByKey("Area").Select(d => new SelectListItem { Text = d.Text, Value = d.Value });
    var priceOrder = new List<SelectListItem>();
    foreach (var adPosition in Model.AdPositions.OrderByDescending(d=>d.Name))
    {
        priceOrder.Add(new SelectListItem() { Value = adPosition.Name + "|desc", Text = adPosition.Name + @" 从高到低" });
        priceOrder.Add(new SelectListItem() { Value = adPosition.Name + "|asc", Text = adPosition.Name + @" 从低到高" });
    }
    var priceRange = new List<SelectListItem>();
    var fansRange = new List<SelectListItem>();
    switch (Model.CallIndex)
    {
        case "weixin":
            priceRange = new List<SelectListItem>()
{
new SelectListItem(){Text = @"500元以下",Value = "1-500"},
new SelectListItem(){Text = @"500-1000元",Value = "500-1000"},
new SelectListItem(){Text = @"1000-5000元",Value = "1000-5000"},
new SelectListItem(){Text = @"5000-10000元",Value = "5000-10000"},
new SelectListItem(){Text = @"10000-20000元",Value = "10000-20000"},
new SelectListItem(){Text = @"20000-50000元",Value = "20000-50000"},
new SelectListItem(){Text = @"50000元以上",Value = "50000-"},
};
            fansRange = new List<SelectListItem>()
{
new SelectListItem(){Text = @"10万以下",Value = "1-10"},
new SelectListItem(){Text = @"10-20万",Value = "10-20"},
new SelectListItem(){Text = @"20-50万",Value = "20-50"},
new SelectListItem(){Text = @"50-100万",Value = "50-100"},
new SelectListItem(){Text = @"100-200万",Value = "100-200"},
new SelectListItem(){Text = @"200万以上",Value = "200-"},
};
            break;
        case "sinablog":
            priceRange = new List<SelectListItem>()
{
new SelectListItem(){Text = @"200元以下",Value = "1-200"},
new SelectListItem(){Text = @"200-400元",Value = "200-400"},
new SelectListItem(){Text = @"400-1000元",Value = "400-1000"},
new SelectListItem(){Text = @"1000-2000元",Value = "1000-2000"},
new SelectListItem(){Text = @"2000-5000元",Value = "2000-5000"},
new SelectListItem(){Text = @"5000-10000元",Value = "5000-10000"},
new SelectListItem(){Text = @"10000-20000元",Value = "10000-20000"},
new SelectListItem(){Text = @"20000-50000元",Value = "20000-50000"},
new SelectListItem(){Text = @"50000-100000元",Value = "50000-100000"},
new SelectListItem(){Text = @"100000元以上",Value = "100000-"},
};
            fansRange = new List<SelectListItem>()
{
new SelectListItem(){Text = @"10万以下",Value = "1-10"},
new SelectListItem(){Text = @"10-50万",Value = "10-50"},
new SelectListItem(){Text = @"50-100万",Value = "50-100"},
new SelectListItem(){Text = @"100-200万",Value = "100-200"},
new SelectListItem(){Text = @"200-500万",Value = "200-500"},
new SelectListItem(){Text = @"500-1000万",Value = "500-1000"},
new SelectListItem(){Text = @"1000万以上",Value = "1000-"},
};
            break;
        case "douyin":
            priceRange = new List<SelectListItem>()
{
new SelectListItem(){Text = @"2000元以下",Value = "1-2000"},
new SelectListItem(){Text = @"2000-5000元",Value = "2000-5000"},
new SelectListItem(){Text = @"5000-10000元",Value = "5000-10000"},
new SelectListItem(){Text = @"10000-20000元",Value = "10000-20000"},
new SelectListItem(){Text = @"20000-50000元",Value = "20000-50000"},
new SelectListItem(){Text = @"50000-100000元",Value = "50000-100000"},
new SelectListItem(){Text = @"100000元以上",Value = "100000-"},
};
            fansRange = new List<SelectListItem>()
{
new SelectListItem(){Text = @"10万以下",Value = "1-10"},
new SelectListItem(){Text = @"10-20万",Value = "10-20"},
new SelectListItem(){Text = @"20-50万",Value = "20-50"},
new SelectListItem(){Text = @"50-100万",Value = "50-100"},
new SelectListItem(){Text = @"100-200万",Value = "100-200"},
new SelectListItem(){Text = @"200-500万",Value = "200-500"},
new SelectListItem(){Text = @"500-1000万",Value = "500-1000"},
new SelectListItem(){Text = @"1000万以上",Value = "1000-"},
};
            break;
        case "zhihu":
            priceRange = new List<SelectListItem>()
{
new SelectListItem(){Text = @"2000元以下",Value = "1-2000"},
new SelectListItem(){Text = @"2000-5000元",Value = "2000-5000"},
new SelectListItem(){Text = @"5000-10000元",Value = "5000-10000"},
new SelectListItem(){Text = @"10000-20000元",Value = "10000-20000"},
new SelectListItem(){Text = @"20000-50000元",Value = "20000-50000"},
new SelectListItem(){Text = @"50000元以上",Value = "50000-"},
};
            fansRange = new List<SelectListItem>()
{
new SelectListItem(){Text = @"10万以下",Value = "1-10"},
new SelectListItem(){Text = @"10-20万",Value = "10-20"},
new SelectListItem(){Text = @"20-50万",Value = "20-50"},
new SelectListItem(){Text = @"50-100万",Value = "50-100"},
new SelectListItem(){Text = @"100-200万",Value = "100-200"},
new SelectListItem(){Text = @"200-500万",Value = "200-500"},
new SelectListItem(){Text = @"500万以上",Value = "500-"},
};
            break;
        case "redbook":
            priceRange = new List<SelectListItem>()
{
new SelectListItem(){Text = @"1000元以下",Value = "1-1000"},
new SelectListItem(){Text = @"1000-2000元",Value = "1000-2000"},
new SelectListItem(){Text = @"2000-5000元",Value = "2000-5000"},
new SelectListItem(){Text = @"5000-10000元",Value = "5000-10000"},
new SelectListItem(){Text = @"10000-20000元",Value = "10000-20000"},
new SelectListItem(){Text = @"20000-50000元",Value = "20000-50000"},
new SelectListItem(){Text = @"50000-100000元",Value = "50000-100000"},
new SelectListItem(){Text = @"100000元以上",Value = "100000-"},
};
            fansRange = new List<SelectListItem>()
{
new SelectListItem(){Text = @"10万以下",Value = "1-10"},
new SelectListItem(){Text = @"10-20万",Value = "10-20"},
new SelectListItem(){Text = @"20-50万",Value = "20-50"},
new SelectListItem(){Text = @"50-100万",Value = "50-100"},
new SelectListItem(){Text = @"100-200万",Value = "100-200"},
new SelectListItem(){Text = @"200-500万",Value = "200-500"},
new SelectListItem(){Text = @"500万以上",Value = "500-"},
};
            break;
    }
}

<form id="searchFrm">
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            @Html.AntiForgeryToken()

            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label">媒体分类</label>
                    <div class="row">
                        @foreach (var item in tags)
                        {
                            <div class="col-md-1 col-xs-6">
                                <div class="checkbox checkbox-success checkbox-inline">
                                    <input type="checkbox" name="MediaTagIds" value="@item.Id" id="@item.Id">
                                    <label for="@item.Id">@item.TagName</label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label">价格区间 </label><small class="text-muted"> (注：请先选择广告位，再选择区间)</small>
                    <div class="row">
                        <div class="col-md-1 m-b-sm">
                            <select class="form-control" name="AdPositionName" id="AdPositionName">
                                <option value="">广告位</option>
                                @foreach (var item in adpositions)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-7">
                            <ul class="ul-labelauty">
                                @foreach (var item in priceRange)
                                {
                                    <li><input type="radio" name="priceradio" data-labelauty="@item.Text" value="@item.Value"></li>
                                }

                            </ul>

                        </div>
                        <div class="col-md-3">
                            <div class="input-daterange input-group">
                                <input type="text" name="SellPriceStart" id="PriceStart" value="" class="form-control" />
                                <span class="input-group-addon">至</span>
                                <div class="input-group">
                                    <input type="text" name="SellPriceEnd" id="PriceEnd" value="" class="form-control" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary btn-outline" onclick="searchTable();">
                                            确定
                                        </button>
                                    </span>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group" id="fans">

                    <div class="row">
                        <label class="control-label col-md-1">粉丝数 <small class="text-muted"> (单位：万)</small></label>
                        <div class="col-md-6">
                            <ul class="ul-labelauty">
                                @foreach (var item in fansRange)
                                {
                                    <li><input type="radio" name="radio" data-labelauty="@item.Text" value="@item.Value"></li>
                                }
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <div class="input-daterange input-group">
                                <input type="text" name="FansNumStart" id="FansNumStart" value="" class="form-control" />
                                <span class="input-group-addon">至</span>
                                <div class="input-group">
                                    <input type="text" name="FansNumEnd" id="FansNumEnd" value="" class="form-control" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary btn-outline" onclick="searchTable();">
                                            确定
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox collapsed">
            <div class="ibox-title">
                @if (isData.Contains(Model.CallIndex))
                {
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <span class="text-muted font-bold">更多筛选条件</span> <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                }
            </div>
            <div class="ibox-content no-borders">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">区域</label>
                            @if (Model.CallIndex == "weixin")
                            {
                                <select name="MediaName" class="form-control" id="Areas">
                                    <option value="">不限区域</option>
                                    @foreach (var item in areas)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            }
                            else
                            {
                                <select name="Areas" class="form-control" id="Areas">
                                    <option value="">不限区域</option>
                                    @foreach (var item in areas)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            }

                        </div>
                    </div>

                    @*<div class="col-sm-5">
                            <div class="form-group">
                                <label class="control-label">平均浏览数</label>
                                <input type="text" id="AvgReadNumRange" name="AvgReadNumRange" value=""/>
                            </div>
                        </div>*@
                    @if (Model.CallIndex == "weixin")
                    {
                        @Html.Partial("FilterWeiXin")
                    }
                    @if (Model.CallIndex == "sinablog")
                    {
                        @Html.Partial("FilterBlog")
                    }
                    @if (Model.CallIndex == "douyin")
                    {
                        @Html.Partial("FilterDouYin")
                    }
                    @if (Model.CallIndex == "redbook")
                    {
                        @Html.Partial("FilterRedBook")
                    }
                </div>

            </div>
            <div class="ibox-footer  no-borders">
                @*<div class="filters inline">

                    </div>*@

                <button type="button" class="btn btn-danger btn-outline" onclick="resetFilter();">
                    <i class="fa fa-recycle"></i> 重置筛选
                </button>
                <button type="button" class="btn btn-primary btn-outline" data-toggle="modal" data-target="#searchModal">
                    <i class="fa fa-search"></i> 批量查询
                </button>
                <button type="button" class="btn btn-warning btn-outline" data-toggle="modal" data-target="#exportModal">
                    <i class="fa fa-download"></i> 导出资源
                </button>
            </div>

        </div>

    </div>

</form>

<input type="hidden" name="MediaTypeIndex" id="MediaTypeIndex" value="@Model.CallIndex" />
<input type="hidden" name="MediaTypeId" id="MediaTypeId" value="@Model.Id" />
<input type="hidden" id="MediaTypeName" value="@Model.TypeName" />
<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
                <table id="table"></table>
            </div>
        </div>
    </div>
</div>
<div id="toolbar">

    <div class="form-inline" role="form">

        <div class="form-group">
            <select class="form-control" name="PriceSortOrder" id="PriceSortOrder">
                <option value="">默认排序</option>
                @foreach (var item in priceOrder)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
    </div>
</div>


<div class="modal inmodal" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-search modal-icon"></i>
                <h4 class="modal-title">批量查找媒体</h4>
                <small class="font-bold">注：输入媒体信息时，请确保一行一个</small>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <textarea class="form-control" placeholder="请输入 @Model.TypeName 信息名称或ID" rows="15" cols="3" id="MediaBatch"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="searchTable();$('#searchModal').modal('hide');">查找</button>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal" id="resultModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInUp">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-search modal-icon"></i>
                <h4 class="modal-title">批量查找结果</h4>
                <small class="font-bold">以下资源信息不存在</small>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">返回关闭</button>
                <button type="button" class="btn btn-primary ladda-button" data-style="zoom-in" onclick="develop();">申请开发</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="exportModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInUp">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-download modal-icon"></i>
                <h4 class="modal-title">选择导出的字段</h4>
                <small class="font-bold">导出说明：每次导出数据记录数最多 @setConfig.UserExportRows 条，每日导出操作最多 @setConfig.UserExportTimes 次</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    @foreach (var item in excelFields)
                    {
                        <div class="col-md-4">
                            <div class="checkbox checkbox-success checkbox-inline">
                                <input type="checkbox" id="@item.Id" name="ExcelField" value="@item.Value" checked="">
                                <label for="@item.Id"> @item.Text </label>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">返回关闭</button>
                <button type="button" class="btn btn-primary ladda-button" data-style="zoom-in" onclick="exportDate();">开始导出</button>
            </div>
        </div>
    </div>
</div>
