@using System.Web.Optimization
@using Ada.Core
@using Ada.Core.Domain.Resource
@using Ada.Core.Infrastructure
@using Ada.Core.Tools
@using Ada.Services.Resource
@model List<Ada.Core.Domain.Resource.Media>
@{
    Layout = "~/Views/Shared/_Layout_Web.cshtml";
    ViewBag.Title = "微信公众号";
    var repository = EngineContext.Current.Resolve<IRepository<MediaType>>();
    var mediaType = repository.LoadEntities(d => d.CallIndex == "weixin").FirstOrDefault();
    var tags = EngineContext.Current.Resolve<IMediaTagService>().GetTags();
    var tagSize = 1;
    var tagPages = tags.Count / tagSize;
    if (tags.Count % tagSize > 0)
    {
        tagPages++;
    }
}

<!-- Breadcrumbs & Search -->
<div class="">
    <div class="g-pos-rel g-z-index-1">
        <!-- Breadcrumbs -->
        <div class="container-fluid g-py-50">
            <h1 class="h2 mb-0">
                <i class="fa @mediaType.Image"></i> 微信公众号
            </h1>
        </div>
        <!-- End Breadcrumbs -->
        <div class="container-fluid g-pb-10">
            <div class="g-bg-secondary g-pa-5">
                <!-- Input Group -->
                <form class="g-bg-white g-pa-30">
                    <div class="row g-mx-0--md">
                        <div class="col-md-6 col-lg-12 g-px-0--md g-mb-30">
                            <input class="form-control rounded-0 g-brd-gray-light-v3 g-px-20 g-py-15" type="text" placeholder="公众号名称，微信号 关键字">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-3 g-mb-30">
                            <h2 class="h6 g-font-weight-600 mb-4">粉丝数 (<span id="rangeFans">0</span>) 万</h2>
                            <div id="rangeFans1" class="u-slider-v1-3"
                                 data-result-container="rangeFans"
                                 data-range="true"
                                 data-default="0, 1000"
                                 data-min="0"
                                 data-max="1000"></div>
                        </div>
                        <div class="col-sm-6 col-lg-3 g-mb-30">
                            <h2 class="h6 g-font-weight-600 mb-4">头条平均阅读量 (<span id="rangeRead">0</span>)</h2>
                            <div id="rangeRead1" class="u-slider-v1-3"
                                 data-result-container="rangeRead"
                                 data-range="true"
                                 data-default="0, 100001"
                                 data-min="0"
                                 data-max="100001"></div>
                        </div>
                        <div class="col-sm-6 col-lg-2 g-mb-30">
                            <!-- Input Group -->
                            <div class="input-group-btn">
                                <select class="js-custom-select u-select-v1 w-100 g-brd-gray-light-v3 g-bg-white g-color-main g-color-primary--hover g-py-12" required
                                        data-placeholder="广告位"
                                        data-open-icon="fa fa-angle-down"
                                        data-close-icon="fa fa-angle-up">
                                    <option></option>
                                    @foreach (var item in mediaType.AdPositions)
                                    {
                                        <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="@item.Name">@item.Name</option>
                                    }



                                </select>
                            </div>
                            <!-- End Input Group -->
                        </div>
                        <div class="col-sm-6 col-lg-4 g-mb-30">
                            <h2 class="h6 g-font-weight-600 mb-4">价格范围 ¥(<span id="rangePrice">0</span>)</h2>
                            <div id="rangePrice1" class="u-slider-v1-3"
                                 data-result-container="rangePrice"
                                 data-range="true"
                                 data-default="0, 1000000"
                                 data-min="0"
                                 data-max="1000000"></div>
                        </div>
                    </div>
                    <!-- Accordion -->
                    <div id="accordion-12-1" role="tablist" aria-multiselectable="true">
                        <!-- Card -->
                        <div class="row align-items-center">
                            <div class="col-6">
                                <button class="btn u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-35 g-py-12" type="submit">
                                    搜索
                                </button>
                            </div>
                            <div class="col-6">
                                <div id="accordion-12-1-heading-01" class="float-right u-accordion__header g-pa-0" role="tab">
                                    <span class="d-block g-font-weight-600 g-font-size-15 mb-0">
                                        <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover" href="#accordion-12-1-body-01" data-toggle="collapse" data-parent="#accordion-12-1" aria-expanded="false" aria-controls="accordion-12-1-body-01">
                                            更多筛选条件
                                            <span class="u-accordion__control-icon ml-2">
                                                <i class="fa fa-caret-up">
                                                </i>
                                                <i class="fa fa-caret-down">
                                                </i>
                                            </span>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="accordion-12-1-body-01" class="collapse" role="tabpanel" aria-labelledby="accordion-12-1-heading-01">
                            <div class="u-accordion__body g-pt-30 g-pa-0">
                                <div class="row">
                                    @for (int i = 0; i < tagPages; i++)
                                    {
                                        <div class="col-xs-2 col-lg-1">
                                            <!-- Features List -->
                                            <ul class="list-unstyled mb-0">
                                                @foreach (var item in tags.OrderBy(d => d.Taxis).Skip(i * tagSize).Take(tagSize))
                                                {
                                                    <li class="my-2">
                                                        <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-font-weight-500 g-pl-30">
                                                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                                                            <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                                                                <i class="fa" data-check-icon="&#xf00c"></i>
                                                            </span>
                                                            @item.TagName
                                                        </label>
                                                    </li>
                                                }
                                            </ul>
                                            <!-- End Features List -->
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                    </div>
                    <!-- End Accordion -->
                </form>
                <!-- End Input Group -->
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs & Search -->
<!-- Filters -->
<div class="container-fluid g-pb-20">
    <div class="row d-flex align-items-center">
        <div class="col-md-8 col-lg-6 g-mb-30">
        </div>
        <div class="col-md-4 col-lg-6 g-mb-30">
            <div class="d-flex align-items-center float-md-right">
                <h2 class="h6 g-font-weight-600 mr-4 mb-0">排序规则:</h2>
                <!-- Input Group -->
                <div class="input-group-btn">
                    <select class="js-custom-select u-select-v1 g-min-width-150 g-brd-none g-bg-secondary g-color-main g-color-primary--hover g-py-12" required
                            data-placeholder="默认排序"
                            data-open-icon="fa fa-angle-down"
                            data-close-icon="fa fa-angle-up">
                        <option value="">默认排序</option>
                        <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="BE">头条从高到低</option>
                        <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="TR">头条从低到高</option>
                        <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="PR">头条（原创）从高到低</option>
                        <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="PR">头条（原创）从低到高</option>
                    </select>
                </div>
                <!-- End Input Group -->
            </div>
        </div>
    </div>
</div>
<!-- End Filters -->
<!-- List View -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-10 order-lg-2 g-mb-70">
            @foreach (var item in Model)
            {
                var collectionDate = item.CollectionDate?.ToString("yyyy-MM-dd");
                var priceDate = item.MediaPrices.FirstOrDefault()?.InvalidDate?.ToString("yyyy-MM-dd");
                var lastPushDate = item.LastPushDate?.ToString("yyyy-MM-dd");
                var avgRead = Convert.ToInt32(item.MediaArticles.Where(l => l.IsTop == true).OrderByDescending(a => a.PublishDate).Take(10).Average(aaa => aaa.ViewCount));
                var lastRead = item.MediaArticles.Where(l => l.IsTop == true).OrderByDescending(a => a.PublishDate).FirstOrDefault()?.ViewCount;

                <!-- Article -->
                <article class="d-md-table w-100 g-bg-white g-mb-1">
                    <!-- Article Image -->
                    <div class="d-md-table-cell align-middle g-width-85">
                        @if (string.IsNullOrWhiteSpace(item.MediaLogo))
                        {
                            <i class="fa fa-weixin fa-4x"></i>
                        }
                        else
                        {
                            <img class="img-fluid img-thumbnail g-rounded-10" src="@item.MediaLogo" alt="@item.MediaName">
                        }

                    </div>
                    <!-- End Article Image -->
                    <!-- Article Content -->
                    <div class="d-md-table-cell align-middle g-py-15 g-px-20">
                        <h3 class="h6 g-color-gray-dark-v2 g-font-weight-700">
                            @item.MediaName
                        </h3>
                        <span class="d-block g-color-gray-dark-v5 g-font-style-normal">微信号：@item.MediaID</span>
                        <span class="d-block g-color-gray-dark-v5 g-font-style-normal">粉丝数：@Utils.ShowFansNum(item.FansNum) 万</span>
                        <span class="d-block g-color-gray-dark-v5 g-font-style-normal">分类：@string.Join(",", item.MediaTags.Select(d => d.TagName))</span>
                        <span class="d-block">
                            @if (item.IsHot == true)
                            {
                                <span class="u-label g-rounded-3 g-bg-darkpurple u-label--sm g-mr-6" data-toggle="tooltip"
                                      data-placement="bottom"
                                      title="性价比高">
                                    <i class="fa fa-diamond g-mr-3"></i>
                                    优质
                                </span>
                            }
                            @if (item.IsRecommend == true)
                            {
                                <span class="u-label g-rounded-3 g-bg-red u-label--sm g-mr-6" data-toggle="tooltip"
                                      data-placement="bottom"
                                      title="发稿速度快，配合度高">
                                    <i class="fa fa-thumbs-up g-mr-3"></i>
                                    推荐
                                </span>
                            }


                        </span>

                    </div>
                    <!-- End Article Content -->
                    <!-- Price -->

                    <div class="d-md-table-cell align-middle g-py-15 g-px-20">
                        <h3 class="h6 g-color-gray-dark-v2 g-font-weight-700">
                            文章情况 <small class="g-color-gray-dark-v4">更新日期：@collectionDate</small>
                        </h3>
                        <span class="d-block g-color-gray-dark-v5 g-font-style-normal">头条平均阅读数：@avgRead</span>
                        <span class="d-block g-color-gray-dark-v5 g-font-style-normal">最近头条阅读数：@lastRead</span>
                        <span class="d-block g-color-gray-dark-v5 g-font-style-normal">月发文数：@item.MonthPostNum</span>
                        <span class="d-block g-color-gray-dark-v5 g-font-style-normal">最近发文日期：@lastPushDate</span>
                    </div>
                    <!-- End Price -->
                    <!-- Price -->
                    <div class="d-md-table-cell align-middle g-py-15 g-px-20">
                        <h3 class="h6 g-color-gray-dark-v2 g-font-weight-700">
                            参考报价 <small class="g-color-gray-dark-v4"> 有效期：@priceDate</small>
                        </h3>
                        @foreach (var price in item.MediaPrices)
                        {
                            <span class="d-block g-color-gray-dark-v5 g-font-style-normal">@price.AdPositionName：@price.PurchasePrice</span>
                        }



                    </div>
                    <!-- End Price -->
                    <!-- Actions -->
                    <div class="d-md-table-cell align-middle text-md-right g-pa-20">
                        <div class="g-mt-minus-10 g-mx-minus-5">
                            <a class="btn btn-lg u-btn-inset u-btn-outline-orange g-font-weight-600 g-font-size-12 text-uppercase g-mx-5 g-mt-10" href="#!">查看详情</a>
                        </div>
                    </div>
                    <!-- End Actions -->
                </article>
                <!-- End Article -->
                <hr class="g-brd-gray-light-v4">
            }
            <div class="row">
                <div class="col-lg-12">
                    <!-- Pagination -->
                    <nav class="text-center g-mt-30" aria-label="Page Navigation">
                        <ul class="list-inline">
                            <li class="list-inline-item float-sm-left">
                                <a class="u-pagination-v1__item u-pagination-v1-2 u-pagination-v1-2--nav g-pa-12-21" href="#!" aria-label="Previous">
                                    <span aria-hidden="true">
                                        <i class="fa fa-angle-left g-mr-5"></i>
                                        上一页
                                    </span>
                                    <span class="sr-only">上一页</span>
                                </a>
                            </li>
                            <li class="list-inline-item g-hidden-sm-down">
                                <a class="u-pagination-v1__item u-pagination-v1-2 u-pagination-v1-2--active g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19" href="#!">1</a>
                            </li>
                            <li class="list-inline-item g-hidden-sm-down">
                                <a class="u-pagination-v1__item u-pagination-v1-2 g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19" href="#!">2</a>
                            </li>
                            <li class="list-inline-item g-hidden-sm-down">
                                <a class="u-pagination-v1__item u-pagination-v1-2 g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19" href="#!">3</a>
                            </li>
                            <li class="list-inline-item g-hidden-sm-down">
                                <span class="g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19">...</span>
                            </li>
                            <li class="list-inline-item g-hidden-sm-down">
                                <a class="u-pagination-v1__item u-pagination-v1-2 g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19" href="#!">15</a>
                            </li>
                            <li class="list-inline-item float-sm-right">
                                <a class="u-pagination-v1__item u-pagination-v1-2 u-pagination-v1-2--nav g-pa-12-21" href="#!" aria-label="Next">
                                    <span aria-hidden="true">
                                        下一页
                                        <i class="fa fa-angle-right g-ml-5"></i>
                                    </span>
                                    <span class="sr-only">下一页</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- End Pagination -->
                </div>
            </div>
        </div>
        <div class="col-md-5 col-lg-2 order-lg-1 g-mb-70">
            <!-- Recently Viewed -->
            <div class="g-bg-secondary g-pa-5 g-mb-30">
                <div class="g-bg-white g-pa-15">
                    <h2 class="h6 g-font-weight-600 mb-4">推荐</h2>
                    <ul class="list-unstyled g-font-weight-500 mb-0">
                        <!-- Recently Viewed - Products -->
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-pb-30">
                            <img class="img-fluid w-100 mb-3" src="/assets/theme/real-estate/img-temp/400x250/img1.jpg" alt="Image Description">
                            <h3 class="h6 g-font-weight-600 mb-1"><a class="u-link-v5 g-color-main g-color-primary--hover" href="page-single-item-1.html">Comfortable Room in LA</a></h3>
                            <span class="d-block g-color-text g-font-weight-600 mb-2">$3,000/mo</span>
                            <ul class="list-inline g-color-gray-dark-v5 g-font-size-13 mb-0">
                                <li class="list-inline-item">1 bed</li>
                                <li class="list-inline-item">&#8226;</li>
                                <li class="list-inline-item">1 bat</li>
                                <li class="list-inline-item">&#8226;</li>
                                <li class="list-inline-item">900 sqft</li>
                            </ul>
                        </li>
                        <!-- End Recently Viewed - Products -->
                        <!-- Recently Viewed - Products -->
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-30">
                            <img class="img-fluid w-100 mb-3" src="/assets/theme/real-estate/img-temp/400x250/img2.jpg" alt="Image Description">
                            <h3 class="h6 g-font-weight-600 mb-1"><a class="u-link-v5 g-color-main g-color-primary--hover" href="page-single-item-1.html">Studio in LA</a></h3>
                            <span class="d-block g-color-text g-font-weight-600 mb-2">$2,000/mo</span>
                            <ul class="list-inline g-color-gray-dark-v5 g-font-size-13 mb-0">
                                <li class="list-inline-item">1 bed</li>
                                <li class="list-inline-item">&#8226;</li>
                                <li class="list-inline-item">1 bat</li>
                                <li class="list-inline-item">&#8226;</li>
                                <li class="list-inline-item">855 sqft</li>
                            </ul>
                        </li>
                        <!-- End Recently Viewed - Products -->
                        <!-- Recently Viewed - Products -->
                        <li class="g-py-30">
                            <img class="img-fluid w-100 mb-3" src="/assets/theme/real-estate/img-temp/400x250/img3.jpg" alt="Image Description">
                            <h3 class="h6 g-font-weight-600 mb-1"><a class="u-link-v5 g-color-main g-color-primary--hover" href="page-single-item-1.html">A Room in LA</a></h3>
                            <span class="d-block g-color-text g-font-weight-600 mb-2">$1,000/mo</span>
                            <ul class="list-inline g-color-gray-dark-v5 g-font-size-13 mb-0">
                                <li class="list-inline-item">1 bed</li>
                                <li class="list-inline-item">&#8226;</li>
                                <li class="list-inline-item">1 bat</li>
                                <li class="list-inline-item">&#8226;</li>
                                <li class="list-inline-item">657 sqft</li>
                            </ul>
                        </li>
                        <!-- End Recently Viewed - Products -->
                    </ul>
                </div>
            </div>
            <!-- End Recently Viewed -->
        </div>
    </div>
</div>
<!-- List View -->
<hr class="g-brd-gray-light-v4">


@section Styles {
    @Styles.Render("~/WebPlugins/fontawesomeStyle")
    @Styles.Render("~/WebPlugins/iconlinesimpleStyle")
    @Styles.Render("~/WebPlugins/iconlineproStyle")
    @Styles.Render("~/WebPlugins/iconhsStyle")
    @Styles.Render("~/WebPlugins/animateStyle")
    @Styles.Render("~/WebPlugins/hsmegamenuStyle")
    @Styles.Render("~/WebPlugins/hamburgersStyle")
    @Styles.Render("~/WebPlugins/chosenStyle")
    @Styles.Render("~/WebPlugins/slickStyle")
    @*@Styles.Render("~/WebPlugins/fancyboxStyle")*@
    @Styles.Render("~/WebTheme/realestateStyle")
}
@section Scripts {
    @Scripts.Render("~/WebPlugins/hsmegamenuScript")
    @Scripts.Render("~/WebJquaryUI/widgetScript")
    @Scripts.Render("~/WebJquaryUI/widgetmenuScript")
    @Scripts.Render("~/WebJquaryUI/widgetmouseScript")
    @Scripts.Render("~/WebJquaryUI/widgetsliderScript")
    @Scripts.Render("~/WebPlugins/chosenScript")
    @Scripts.Render("~/WebPlugins/slickScript")
    @*@Scripts.Render("~/WebPlugins/fancyboxScript")*@
    @Scripts.Render("~/WebJquaryUI/versionScript")
    @Scripts.Render("~/WebJquaryUI/keycodeScript")
    @Scripts.Render("~/WebJquaryUI/positionScript")
    @Scripts.Render("~/WebJquaryUI/uniqueidScript")
    @Scripts.Render("~/WebJquaryUI/safeactiveelementScript")
    @Scripts.Render("~/WebJquaryUI/widgetdatepickerScript")
    @Scripts.Render("~/WebUnify/core")
    @Scripts.Render("~/WebUnify/header")
    @Scripts.Render("~/WebUnify/hamburgers")
    @Scripts.Render("~/WebUnify/dropdown")
    @Scripts.Render("~/WebUnify/slider")
    @Scripts.Render("~/WebUnify/select")
    @*@Scripts.Render("~/WebUnify/carousel")*@
    @Scripts.Render("~/WebUnify/popup")
    @*@Scripts.Render("~/WebUnify/datepicker")*@
    @Scripts.Render("~/WebUnify/goto")
    <script>
        $(document).on('ready', function () {
            // initialization of range slider
            $.HSCore.components.HSSlider.init('#rangePrice1');
            $.HSCore.components.HSSlider.init('#rangeFans1');
            $.HSCore.components.HSSlider.init('#rangeRead1');
            // initialization of carousel
            //$.HSCore.components.HSCarousel.init('[class*="js-carousel"]');
            // initialization of popups
            //$.HSCore.components.HSPopup.init('.js-fancybox');
            //// initialization of datepicker
            //$.HSCore.components.HSDatepicker.init('#datepickerFrom');
        });
    </script>
}